<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.oopscraft.fintics.dao.DataMapper">

    <cache eviction="FIFO" flushInterval="60000" size="512"/>

    <select id="selectAssets" resultType="org.oopscraft.fintics.model.Asset" useCache="false">
        SELECT      fa.asset_id as "assetId",
                    fa.name as "name",
                    fa.market as "market",
                    fa.exchange as "exchange",
                    fa.type as "type",
                    fa.market_cap as "marketCap"
        FROM        fintics_asset fa
        WHERE       1 = 1
        <if test="assetId != null">
        AND         asset_id like #{assetId}
        </if>
        <if test="name != null">
        AND         name like #{name}
        </if>
        <if test="market != null">
        AND         market = #{market}
        </if>
    </select>

    <select id="selectOhlcvSummaries" resultType="org.oopscraft.fintics.model.OhlcvSummary">
        SELECT 	    asset_id as "assetId",
                    SUM(CASE WHEN fo.type = 'DAILY' THEN 1 ELSE 0 END) AS "dailyCount",
                    MIN(CASE WHEN fo.type = 'DAILY' THEN fo.date_time ELSE NULL END) AS "dailyMinDateTime",
                    MAX(CASE WHEN fo.type = 'DAILY' THEN fo.date_time ELSE NULL END) AS "dailyMaxDateTime",
                    SUM(CASE WHEN fo.type = 'MINUTE' THEN 1 ELSE 0 END) AS "minuteCount",
                    MIN(CASE WHEN fo.type = 'MINUTE' THEN fo.date_time ELSE NULL END) AS "minuteMinDateTime",
                    MAX(CASE WHEN fo.type = 'MINUTE' THEN fo.date_time ELSE NULL END) AS "minuteMaxDateTime"
        FROM 		fintics_ohlcv fo
        WHERE       1 = 1
        <if test="assetId!= null">
        AND         fo.asset_id = #{assetId}
        </if>
        GROUP BY 	fo.asset_id
    </select>

    <select id="selectOhlcvStatistics" resultType="org.oopscraft.fintics.model.OhlcvSummary$OhlcvStatistic" useCache="false">
        SELECT 		DATE(date_time) AS "date",
                    COUNT(*) AS "count",
                    SUM(CASE WHEN interpolated = 'Y' THEN 1 ELSE 0 END) AS "interpolatedCount"
        FROM 		fintics_ohlcv
        WHERE 		1 = 1
        AND 		asset_id = #{assetId}
        GROUP BY	DATE(date_time)
        ORDER BY    DATE(date_time) DESC
    </select>

</mapper>