<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.oopscraft.fintics.dao.DataMapper">

    <cache eviction="FIFO" flushInterval="60000" size="512"/>

    <select id="selectAssetOhlcvSummaries" resultType="org.oopscraft.fintics.model.AssetOhlcvSummary">
        <![CDATA[
        SELECT      fta.asset_id AS "assetId",
                    fa.asset_name AS "assetName",
                    (SELECT COUNT(*) FROM fintics_trade_asset WHERE asset_id = fta.asset_id) AS "tradeCount",
                    fao.daily_count AS "dailyCount",
                    fao.daily_interpolated_count AS "dailyInterpolatedCount",
                    fao.daily_interpolated_max_date_time AS "dailyInterpolatedMaxDateTime",
                    fao.minute_count AS "minuteCount",
                    fao.minute_interpolated_count AS "minuteInterpolatedCount",
                    fao.minute_interpolated_max_date_time AS "minuteInterpolatedMaxDateTime"
        FROM 		(
                    SELECT 		DISTINCT
                                asset_id
                    FROM 		fintics_asset_ohlcv fao
                    UNION
                    SELECT		DISTINCT
                                asset_id
                    FROM 		fintics_trade_asset fta
                    ) fta
        LEFT OUTER JOIN
                    fintics_asset fa
        ON 			    fa.asset_id = fta.asset_id
        LEFT OUTER JOIN
                    (
                    SELECT 	    asset_id,
                                SUM(CASE WHEN type = 'DAILY' THEN 1 ELSE 0 END) AS daily_count,
                                SUM(CASE WHEN type = 'DAILY' AND interpolated = 'Y' THEN 1 ELSE 0 END) AS daily_interpolated_count,
                                MAX(CASE WHEN type = 'DAILY' AND interpolated = 'Y' THEN date_time ELSE NULL END) AS daily_interpolated_max_date_time,
                                SUM(CASE WHEN type = 'MINUTE' THEN 1 ELSE 0 END) AS minute_count,
                                SUM(CASE WHEN type = 'MINUTE' AND interpolated = 'Y' THEN 1 ELSE 0 END) AS minute_interpolated_count,
                                MAX(CASE WHEN type = 'MINUTE' AND interpolated = 'Y' THEN date_time ELSE NULL END) AS minute_interpolated_max_date_time
                    FROM 		fintics_asset_ohlcv
                    GROUP BY 	asset_id
                    ) fao
        ON 			fao.asset_id = fta.asset_id
        ORDER BY 	fta.asset_id
        ]]>
    </select>

    <select id="selectIndiceOhlcvSummaries" resultType="org.oopscraft.fintics.model.IndiceOhlcvSummary">
        <![CDATA[
        SELECT 	    indice_id AS "indiceId",
                    SUM(CASE WHEN type = 'DAILY' THEN 1 ELSE 0 END) AS "dailyCount",
                    SUM(CASE WHEN type = 'DAILY' AND interpolated = 'Y' THEN 1 ELSE 0 END) AS "dailyInterpolatedCount",
                    MAX(CASE WHEN type = 'DAILY' AND interpolated = 'Y' THEN date_time ELSE NULL END) AS "dailyInterpolatedMaxDateTime",
                    SUM(CASE WHEN type = 'MINUTE' THEN 1 ELSE 0 END) AS "minuteCount",
                    SUM(CASE WHEN type = 'MINUTE' AND interpolated = 'Y' THEN 1 ELSE 0 END) AS "minuteInterpolatedCount",
                    MAX(CASE WHEN type = 'MINUTE' AND interpolated = 'Y' THEN date_time ELSE NULL END) AS "minuteInterpolatedMaxDateTime"
        FROM 		fintics_indice_ohlcv
        GROUP BY 	indice_id
        ]]>
    </select>

</mapper>