<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.oopscraft.fintics.dao.DataMapper">

    <cache eviction="FIFO" flushInterval="60000" size="512"/>

    <select id="selectAssetOhlcvSummaries" resultType="org.oopscraft.fintics.model.OhlcvSummary">
        SELECT 	    asset_id as "id",
                    SUM(CASE WHEN fao.type = 'DAILY' THEN 1 ELSE 0 END) AS "dailyCount",
                    MIN(CASE WHEN fao.type = 'DAILY' THEN fao.date_time ELSE NULL END) AS "dailyMinDateTime",
                    MAX(CASE WHEN fao.type = 'DAILY' THEN fao.date_time ELSE NULL END) AS "dailyMaxDateTime",
                    SUM(CASE WHEN fao.type = 'MINUTE' THEN 1 ELSE 0 END) AS "minuteCount",
                    MIN(CASE WHEN fao.type = 'MINUTE' THEN fao.date_time ELSE NULL END) AS "minuteMinDateTime",
                    MAX(CASE WHEN fao.type = 'MINUTE' THEN fao.date_time ELSE NULL END) AS "minuteMaxDateTime"
        FROM 		fintics_asset_ohlcv fao
        WHERE       1 = 1
        <if test="assetId != null">
        AND         fao.asset_id = #{assetId}
        </if>
        GROUP BY 	fao.asset_id
    </select>

    <select id="selectIndiceOhlcvSummaries" resultType="org.oopscraft.fintics.model.OhlcvSummary">
        SELECT 	    indice_id AS "id",
                    SUM(CASE WHEN type = 'DAILY' THEN 1 ELSE 0 END) AS "dailyCount",
                    MIN(CASE WHEN type = 'DAILY' THEN date_time ELSE NULL END) AS "dailyMinDateTime",
                    MAX(CASE WHEN type = 'DAILY' THEN date_time ELSE NULL END) AS "dailyMaxDateTime",
                    SUM(CASE WHEN type = 'MINUTE' THEN 1 ELSE 0 END) AS "minuteCount",
                    MIN(CASE WHEN type = 'MINUTE' THEN date_time ELSE NULL END) AS "minuteMinDateTime",
                    MAX(CASE WHEN type = 'MINUTE' THEN date_time ELSE NULL END) AS "minuteMaxDateTime"
        FROM 		fintics_indice_ohlcv
        WHERE       1 = 1
        <if test="indiceId != null">
        AND         indice_id = #{indiceId}
        </if>
        GROUP BY 	indice_id
    </select>

    <select id="selectAssetOhlcvStatistics" resultType="org.oopscraft.fintics.model.OhlcvSummary$OhlcvStatistic" useCache="false">
        SELECT 		DATE(date_time) AS "date",
                    COUNT(*) AS "count"
        FROM 		fintics_asset_ohlcv
        WHERE 		1 = 1
        AND 		asset_id = #{assetId}
        GROUP BY	DATE(date_time)
        ORDER BY    DATE(date_time) DESC
    </select>

    <select id="selectIndiceOhlcvStatistics" resultType="org.oopscraft.fintics.model.OhlcvSummary$OhlcvStatistic" useCache="false">
        SELECT 		DATE(date_time) AS "date",
                    COUNT(*) AS "count"
        FROM 		fintics_indice_ohlcv
        WHERE 		1 = 1
        AND 		indice_id = #{indiceId}
        GROUP BY	DATE(date_time)
        ORDER BY    DATE(date_time) DESC
    </select>

    <select id="selectAssetNewsSummaries" resultType="org.oopscraft.fintics.model.NewsSummary">
        SELECT 	    asset_id AS "id",
                    COUNT(*) AS "totalCount",
                    MIN(date_time) AS "minDateTime",
                    MAX(date_time) AS "maxDateTime"
        FROM 		fintics_asset_news fan
        WHERE       1 = 1
        GROUP BY 	asset_id
    </select>

    <select id="selectIndiceNewsSummaries" resultType="org.oopscraft.fintics.model.NewsSummary">
        SELECT 	    indice_id AS "id",
                    COUNT(*) AS "totalCount",
                    MIN(date_time) AS "minDateTime",
                    MAX(date_time) AS "maxDateTime"
        FROM 		fintics_indice_news fin
        WHERE       1 = 1
        GROUP BY 	indice_id
    </select>


</mapper>