<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const basketSearch = new duice.ObjectProxy({
            key: 'basketName',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });
        const baskets = new duice.ArrayProxy([]);

        function getBaskets(page) {
            if(page) {
                basketSearch._page = page;
            }
            let url = new URL(`${_apiUrl}/v1/baskets`, document.location.origin);
            if (basketSearch.key != null && basketSearch.value != null) {
                url.searchParams.append(basketSearch.key, basketSearch.value);
            }
            url.searchParams.append('_page', basketSearch._page);
            url.searchParams.append('_size', basketSearch._size);
            _fetch(url)
                .then(response => {
                    basketSearch._count = _parseTotalCount(response);
                    return response.json();
                })
                .then(data => {
                    duice.ArrayProxy.assign(baskets, data);
                });
        }

        function resetBaskets() {
            duice.ObjectProxy.reset(basketSearch);
            getBaskets();
        }

        function createBaskets() {
            document.location.href = `${_rootUrl}/basket`
        }

        document.addEventListener('DOMContentLoaded', () => {
            getBaskets();
        });

    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-basket.svg}" alt="basket"/>
        <span data-th-text="#{fintics.Basket}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: baskets                     -->
    <!-- ================================== -->
    <div class="border--1 padding--1em" style="min-height:400px;">
        <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em margin-x--1em">
            <label class="grid-column--2 s__grid-column--12">
                <select class="width--100" data-duice-bind="basketSearch" data-duice-property="key">
                    <option value="basketName" data-th-text="#{fintics.Basket.basketName}"></option>
                </select>
            </label>
            <label class="grid-column--2 s__grid-column--12">
                <input class="width--100" type="text" data-duice-bind="basketSearch" data-duice-property="value"
                       th:placeholder="#{web.global.keyword}"/>
            </label>
            <div class="grid-column--8 s__grid-column--12 justify-self--end">
                <button type="submit" onclick="getBaskets();">
                    <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="reset"/>
                    <span data-th-text="#{web.global.search}"></span>
                </button>
                <button type="button" onclick="resetBaskets();">
                    <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                    <span data-th-text="#{web.global.reset}"></span>
                </button>
            </div>
        </form>
        <div class="overflow-x--scroll">
            <table class="width--100 text-align--center">
                <colgroup>
                    <col style="width:10em;"/>
                    <col/>
                    <col style="width:20em;"/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                    <th data-th-text="#{fintics.Basket.basketName}"></th>
                    <th data-th-text="#{fintics.Basket.basketAssets}"></th>
                </tr>
                </thead>
                <tbody class="font-size--smaller">
                <tr data-duice-bind="baskets" data-duice-loop="basket,status">
                    <td class="text-align--center">
                        <span data-duice-bind="status"
                              data-duice-execute="this.innerHTML=basketSearch._count - (basketSearch._size*basketSearch._page + status.count) + 1;">
                        </span>
                    </td>
                    <td>
                        <a href="" data-duice-bind="basket" data-duice-execute="this.href=`${_rootUrl}/basket?basketId=${basket.basketId}`;">
                            <span data-duice-bind="basket" data-duice-property="basketName"></span>
                        </a>
                    </td>
                    <td>
                        <span data-duice-bind="basket" data-duice-property="basketAssets.length" class="badge"></span>
                    </td>
                </tr>
                <tr data-duice-bind="baskets" data-duice-if="return baskets.length === 0;" hidden>
                    <td colspan="100%" class="text-align--center">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="display--grid grid-template-columns--12 margin-x--1em">
            <div class="grid-column--4 font-size--smaller">
                <span data-th-text="#{web.global.total}"></span>
                <span data-duice-bind="basketSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                <span data-th-text="#{web.global.rows}"></span>
            </div>
            <div class="grid-column--4 justify-self--center">
                <duice-pagination
                        data-duice-bind="basketSearch"
                        data-duice-size-property="_size"
                        data-duice-page-property="_page"
                        data-duice-count-property="_count"
                        data-duice-onclick="getStrategies(this.dataset.page);">
                </duice-pagination>
            </div>
            <div class="grid-column--4 justify-self--end">
                <button type="button" onclick="createBaskets();">
                    <img class="icon" th:src="@{/static/image/icon-create.svg}" alt="create"/>
                    <span data-th-text="#{web.global.create}"></span>
                </button>
            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: basket                        -->
    <!-- ================================== -->

</th:block>
