<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        // asset
        const assetSearch = new duice.ObjectProxy({
            key: 'assetName',
            value: null,
            market: null,
            _page: 0,
            _size: 100,
            _count: 0
        });
        const assets = new duice.ArrayProxy([]);

        // ohlcv summary
        const ohlcvSummaries = new duice.ArrayProxy([]);
        const ohlcvSummary = new duice.ObjectProxy({
            ohlcvStatistics: []
        });

        // news summary
        const newsSummaries = new duice.ArrayProxy([]);
        const newsSummary = new duice.ObjectProxy({
            newsStatistics: []
        });

        function getAssets(page) {
            assetSearch._page = page || 0;
            let url = new URL(`${_apiUrl}/v1/data/assets`, document.location.origin);
            if(assetSearch.key && assetSearch.value) {
                url.searchParams.append(assetSearch.key, assetSearch.value);
            }
            if(assetSearch.market) {
                url.searchParams.append('market', assetSearch.market);
            }
            url.searchParams.append('_page', assetSearch._page);
            url.searchParams.append('_size', assetSearch._size);
            _fetch(url).then(response => {
                return response.json();
            }).then(responseBody => {
                duice.ArrayProxy.assign(assets, responseBody);
                assetSearch._count = (assetSearch._page * assetSearch._size) + assets.length + 1;
            });
        }

        function resetAssets() {
            duice.ObjectProxy.reset(assetSearch);
            getAssets();
        }

        function getOhlcvSummaries() {
            let url = new URL(`${_apiUrl}/v1/data/ohlcv-summaries`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(responseBody => {
                    duice.ArrayProxy.assign(ohlcvSummaries, responseBody);
                });
        }

        function getOhlcvSummary(id) {
            duice.ObjectProxy.clear(ohlcvSummary);
            let url = new URL(`${_apiUrl}/v1/data/ohlcv-summaries/${id}`, document.location.origin);
            _fetch(url).then(response => response.json())
            .then(responseBody => {
                console.log(responseBody);
                duice.ObjectProxy.assign(ohlcvSummary, responseBody);
            });
        }

        function getOhlcvs(assetId, date) {
            ohlcvsDialog.open(assetId, date);
        }

        function getNewsSummaries() {
            let url = new URL(`${_apiUrl}/v1/data/news-summaries`, document.location.origin);
            _fetch(url).then(response => response.json())
            .then(responseBody => {
                duice.ArrayProxy.assign(newsSummaries, responseBody);
            });
        }

        function getNewsSummary(assetId) {
            duice.ObjectProxy.clear(newsSummary);
            let url = new URL(`${_apiUrl}/v1/data/news-summaries/${assetId}`, document.location.origin);
            _fetch(url).then(response => response.json())
            .then(responseBody => {
                duice.ObjectProxy.assign(newsSummary, responseBody);
            });
        }

        function getNews(assetId, date) {
            newsesDialog.open(assetId, date);
        }

        document.addEventListener('DOMContentLoaded', () => {
            let tabFolder = duice.tabFolder(
                duice.tabItem(
                    document.getElementById('assetTabButton'),
                    document.getElementById('assetTabContent'),
                    () => {
                        getAssets();
                    }),
                duice.tabItem(
                    document.getElementById('ohlcvTabButton'),
                    document.getElementById('ohlcvTabContent'),
                    () => {
                        getOhlcvSummaries();
                    }),
                duice.tabItem(
                    document.getElementById('newsTabButton'),
                    document.getElementById('newsTabContent'),
                    () => {
                        getNewsSummaries();
                    })
            );
            tabFolder.setActive(0);
        });
    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-data.svg}" alt="data"/>
        <span data-th-text="#{fintics.Data}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: tab index                       -->
    <!-- ====================================== -->
    <div id="tabIndex" class="display--flex flex-wrap--nowrap overflow-x--scroll gap--1px margin-bottom--1px">
        <button id="assetTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
            <span data-th-text="#{fintics.Asset}"></span>
        </button>
        <button id="ohlcvTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-ohlcv.svg}" alt="asset-ohlcv"/>
            <span data-th-text="#{fintics.Ohlcv}"></span>
        </button>
        <button id="newsTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-news.svg}" alt="asset-news"/>
            <span data-th-text="#{fintics.News}"></span>
        </button>
    </div>
    <!-- ====================================== -->
    <!-- end: tab index                         -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: asset                           -->
    <!-- ====================================== -->
    <div id="assetTabContent" class="border--1 padding--1em">
        <h2>
            <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
            <span data-th-text="#{fintics.Asset}"></span>
        </h2>
        <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em padding-x--1em">
            <label class="grid-column--1 s__grid-column--4">
                <select class="width--100" data-duice-bind="assetSearch" data-duice-property="key">
                    <option value="assetName" th:text="#{fintics.Asset.assetName}"></option>
                    <option value="assetId" th:text="#{fintics.Asset.assetId}"></option>
                </select>
            </label>
            <label class="grid-column--2 s__grid-column--8">
                <input class="width--100" type="text" data-duice-bind="assetSearch" data-duice-property="value"/>
            </label>
            <label class="grid-column--2 s__grid-column--12">
                <select data-duice-bind="assetSearch" data-duice-property="market" class="width--100">
                    <option value="" data-th-text="'- ' + #{fintics.Asset.market} + ' -'"></option>
                    <option th:each="market : ${markets}" th:value="${market}" th:text="${market}"></option>
                </select>
            </label>
            <div class="grid-column--7 s__grid-column--12 justify-self--end align-self--end">
                <button type="submit" onclick="getAssets();">
                    <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                    <span data-th-text="#{web.global.search}"></span>
                </button>
                <button type="button" onclick="resetAssets();">
                    <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                    <span data-th-text="#{web.global.reset}"></span>
                </button>
                <duice-pagination
                        data-duice-bind="assetSearch"
                        data-duice-size-property="_size"
                        data-duice-page-property="_page"
                        data-duice-count-property="_count"
                        data-duice-onclick="getAssets(this.dataset.page);"
                        data-duice-page-number-size="1"
                        data-duice-prev-content="<button>Prev</button>"
                        data-duice-next-content="<button>Next</button>">
                </duice-pagination>
            </div>
        </form>
        <div class="overflow-y--scroll border-top--1" style="height:70vh;">
            <table class="width--100 text-align--center">
                <colgroup>
                    <col style="width:5em;"/>
                    <col style="width:10em;"/>
                    <col style="width:20em;"/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}"></th>
                    <th data-th-text="#{fintics.Asset.assetId}"></th>
                    <th data-th-text="#{fintics.Asset.assetName}"></th>
                    <th data-th-text="#{fintics.Asset.market}"></th>
                    <th data-th-text="#{fintics.Asset.exchange}"></th>
                    <th data-th-text="#{fintics.Asset.type}"></th>
                    <th data-th-text="#{fintics.Asset.marketCap}"></th>
                    <th data-th-text="#{fintics.Asset.per}"></th>
                    <th data-th-text="#{fintics.Asset.roe}"></th>
                    <th data-th-text="#{fintics.Asset.roa}"></th>
                    <th data-th-text="#{fintics.Asset.links}"></th>
                </tr>
                </thead>
                <tbody class="font-size--smaller">
                <tr data-duice-bind="assets" data-duice-loop="asset,status">
                    <td data-duice-bind="asset" data-duice-execute="this.innerHTML=assetSearch._page * assetSearch._size + status.count;"></td>
                    <td data-duice-bind="asset" data-duice-property="assetId" class="font-weight--bold"></td>
                    <td data-duice-bind="asset" data-duice-property="assetName"></td>
                    <td data-duice-bind="asset" data-duice-property="market"></td>
                    <td data-duice-bind="asset" data-duice-property="exchange"></td>
                    <td data-duice-bind="asset" data-duice-property="type"></td>
                    <td data-duice-bind="asset" data-duice-property="marketCap" data-duice-format="number"></td>
                    <td data-duice-bind="asset" data-duice-property="per"></td>
                    <td data-duice-bind="asset" data-duice-property="roe"></td>
                    <td data-duice-bind="asset" data-duice-property="roa"></td>
                    <td>
                        <select data-duice-bind="asset"
                                data-duice-option="asset.links"
                                data-duice-option-value-property="url"
                                data-duice-option-text-property="name"
                                onchange="_openLink(this.value, '_blank'); this.value = '';">
                            <option value>- Link -</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>

        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: asset                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: ohlcv                           -->
    <!-- ====================================== -->
    <div id="ohlcvTabContent" class="border--1 padding--1em">
        <h2>
            <img class="icon" th:src="@{/static/image/icon-ohlcv.svg}" alt="ohlcv"/>
            <span data-th-text="|#{fintics.Asset} #{fintics.Ohlcv}|"></span>
        </h2>
        <div class="overflow-y--scroll border-x--1" style="max-height:30vh;">
            <table class="width--100 border--0 text-align--center font-size--smaller">
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}"></th>
                    <th>assetId</th>
                    <th>assetName</th>
                    <th>dailyCount</th>
                    <th>dailyMinDateTime</th>
                    <th>dailyMaxDateTime</th>
                    <th>minuteCount</th>
                    <th>minuteMinDateTime</th>
                    <th>minuteMaxDateTime</th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="ohlcvSummaries" data-duice-loop="ohlcvSummary,status" data-duice-selected-item-class="selected"
                    data-duice-execute="this.dataset.assetId=ohlcvSummary.assetId;"
                    onclick="getOhlcvSummary(this.dataset.assetId);" class="link">
                    <td data-duice-bind="status" data-duice-property="count"></td>
                    <td data-duice-bind="ohlcvSummary" data-duice-property="assetId" class="font-weight--bold"></td>
                    <td data-duice-bind="ohlcvSummary" data-duice-property="assetName"></td>
                    <td data-duice-bind="ohlcvSummary" data-duice-property="dailyCount" data-duice-format="number"></td>
                    <td data-duice-bind="ohlcvSummary" data-duice-property="dailyMinDateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></td>
                    <td data-duice-bind="ohlcvSummary" data-duice-property="dailyMaxDateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></td>
                    <td data-duice-bind="ohlcvSummary" data-duice-property="minuteCount" data-duice-format="number"></td>
                    <td data-duice-bind="ohlcvSummary" data-duice-property="minuteMinDateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></td>
                    <td data-duice-bind="ohlcvSummary" data-duice-property="minuteMaxDateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></td>
                </tr>
                <tr data-duice-bind="ohlcvSummaries" data-duice-if="return ohlcvSummaries.length === 0;">
                    <td colspan="100%" class="text-align--center">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="margin-top--1em font-weight--bold">
            &nbsp;
            <span data-duice-bind="ohlcvSummary" data-duice-property="assetId"></span>
            -
            <span data-duice-bind="ohlcvSummary" data-duice-property="assetName"></span>
        </div>
        <div class="display--grid grid-template-columns--12">
            <div data-duice-bind="ohlcvSummary.ohlcvStatistics" data-duice-loop="ohlcvStatistic,status"
                 data-duice-execute="
                 this.dataset.date = ohlcvStatistic.date;
                 if (ohlcvStatistic.count < 200) {
                    this.classList.add('background-color--yellow');
                 }
                 if (ohlcvStatistic.count < 2) {
                    this.classList.add('background-color--red');
                 }
                "
                 onclick="getOhlcvs(ohlcvSummary.assetId, this.dataset.date);"
                 class="grid-column--1 s__grid-column--3 margin--1px border--1 padding--1em padding-x--1px font-size--smaller link">
                <span data-duice-bind="ohlcvStatistic" data-duice-property="date" class="font-weight--bold"></span>
                <br/>
                <span data-duice-bind="ohlcvStatistic" data-duice-property="count"></span>
            </div>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: ohlcv                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: news                            -->
    <!-- ====================================== -->
    <div id="newsTabContent" class="border--1 padding--1em">
        <h2>
            <img class="icon" th:src="@{/static/image/icon-news.svg}" alt="news"/>
            <span data-th-text="|#{fintics.Asset} #{fintics.News}|"></span>
        </h2>
        <div class="overflow-y--scroll border-x--1" style="max-height:30vh;">
            <table class="width--100 border--0 text-align--center font-size--smaller">
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}"></th>
                    <th>assetId</th>
                    <th>assetName</th>
                    <th>totalCount</th>
                    <th>minDateTime</th>
                    <th>maxDateTime</th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="newsSummaries" data-duice-loop="newsSummary,status" data-duice-selected-item-class="selected"
                    data-duice-execute="this.dataset.assetId=newsSummary.assetId;"
                    onclick="getNewsSummary(this.dataset.assetId);" class="link">
                    <td data-duice-bind="status" data-duice-property="count"></td>
                    <td data-duice-bind="newsSummary" data-duice-property="assetId" class="font-weight--bold"></td>
                    <td data-duice-bind="newsSummary" data-duice-property="assetName"></td>
                    <td data-duice-bind="newsSummary" data-duice-property="totalCount" data-duice-format="number"></td>
                    <td data-duice-bind="newsSummary" data-duice-property="minDateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></td>
                    <td data-duice-bind="newsSummary" data-duice-property="maxDateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></td>
                </tr>
                <tr data-duice-bind="newsSummaries" data-duice-if="return newsSummaries.length === 0;">
                    <td colspan="100%" class="text-align--center">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="margin-top--1em font-weight--bold">
            &nbsp;
            <span data-duice-bind="newsSummary" data-duice-property="assetId"></span>
            -
            <span data-duice-bind="newsSummary" data-duice-property="assetName"></span>
        </div>
        <div class="display--grid grid-template-columns--12">
            <div data-duice-bind="newsSummary.newsStatistics" data-duice-loop="newsStatistic,status"
                 data-duice-execute="this.dataset.date = newsStatistic.date;"
                 onclick="getNews(newsSummary.assetId, this.dataset.date);"
                 class="grid-column--1 s__grid-column--3 margin--1px border--1 padding--1em padding-x--1px font-size--smaller link">
                <span data-duice-bind="newsStatistic" data-duice-property="date" class="font-weight--bold"></span>
                <br/>
                <span data-duice-bind="newsStatistic" data-duice-property="count"></span>
            </div>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- start: news                            -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: ohlcvsDialog                    -->
    <!-- ====================================== -->
    <dialog id="ohlcvsDialog" class="padding--1em width--50 s__width--100">
        <h2>
            <img class="icon" data-th-src="@{/static/image/icon-ohlcv.svg}" alt="ohlcv"/>
            <span data-th-text="#{fintics.Ohlcv}"></span>
        </h2>
        <div class="overflow-y--scroll border-top--1" style="height:75vh;">
            <table class="width--100 text-align--center">
                <colgroup>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}"></th>
                    <th data-th-text="#{fintics.Ohlcv.type}"></th>
                    <th data-th-text="#{fintics.Ohlcv.dateTime}"></th>
                    <th data-th-text="#{fintics.Ohlcv.open}"></th>
                    <th data-th-text="#{fintics.Ohlcv.high}"></th>
                    <th data-th-text="#{fintics.Ohlcv.low}"></th>
                    <th data-th-text="#{fintics.Ohlcv.close}"></th>
                    <th data-th-text="#{fintics.Ohlcv.volume}"></th>
                </tr>
                </thead>
                <tbody class="font-size--smaller">
                <tr data-duice-bind="ohlcvsDialog.ohlcvs" data-duice-loop="ohlcv,status">
                    <td data-duice-bind="ohlcv" data-duice-execute="this.innerHTML=status.count;"></td>
                    <td data-duice-bind="ohlcv" data-duice-property="type" class="font-weight--bold"></td>
                    <td data-duice-bind="ohlcv" data-duice-property="dateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')" class="font-weight--bold"></td>
                    <td data-duice-bind="ohlcv" data-duice-property="open" data-duice-format="number"></td>
                    <td data-duice-bind="ohlcv" data-duice-property="high" data-duice-format="number"></td>
                    <td data-duice-bind="ohlcv" data-duice-property="low" data-duice-format="number"></td>
                    <td data-duice-bind="ohlcv" data-duice-property="close" data-duice-format="number"></td>
                    <td data-duice-bind="ohlcv" data-duice-property="volume" data-duice-format="number"></td>
                </tr>
                <tr data-duice-bind="ohlcvsDialog.ohlcvs" data-duice-if="return ohlcvsDialog.ohlcvs.length===0;">
                    <td colspan="100%" class="text-align--center">
                        No Data
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </dialog>
    <script th:inline="javascript">
        const ohlcvsDialog = {
            dialog: new duice.dialog.Dialog(document.getElementById('ohlcvsDialog')),
            assetId: null,
            date: null,
            ohlcvs: new duice.ArrayProxy([]),
            open: function(assetId, date) {
                this.assetId = assetId;
                this.date = date;
                duice.ArrayProxy.clear(this.ohlcvs);
                this.getOhlcvs();
                return this.dialog.open();
            },
            getOhlcvs: function() {
                let dateTimeFrom = `${this.date}T00:00:00`;
                let dateTimeTo = `${this.date}T23:59:59`;
                let urls = [
                    new URL(`${_apiUrl}/v1/ohlcvs/${this.assetId}/daily`, document.location.origin),
                    new URL(`${_apiUrl}/v1/ohlcvs/${this.assetId}/minute`, document.location.origin)
                ];
                const promises = urls.map(url => {
                    url.searchParams.append('dateTimeFrom', dateTimeFrom);
                    url.searchParams.append('dateTimeTo', dateTimeTo);
                    url.searchParams.append('_size', 1000);
                    url.searchParams.append('_page', 0);
                    return _fetch(url).then(response => response.json());
                });
                Promise.all(promises).then(results => {
                    duice.ArrayProxy.assign(this.ohlcvs, results.flat());
                });
            }
        };
    </script>
    <!-- ====================================== -->
    <!-- start: ohlcvsDialog                    -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: newsesDialog                    -->
    <!-- ====================================== -->
    <dialog id="newsesDialog" class="padding--1em width--75 s__width--100">
        <h2>
            <img class="icon" data-th-src="@{/static/image/icon-news.svg}" alt="news"/>
            <span data-th-text="#{fintics.News}"></span>
        </h2>
        <div class="overflow-y--scroll border-top--1" style="height:75vh;">
            <table class="width--100 text-align--center">
                <colgroup>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}"></th>
                    <th data-th-text="#{fintics.News.dateTime}"></th>
                    <th data-th-text="#{fintics.News.title}"></th>
                    <th data-th-text="#{fintics.News.sentiment}"></th>
                    <th data-th-text="#{fintics.News.confidence}"></th>
                    <th data-th-text="#{fintics.News.reason}"></th>
                </tr>
                </thead>
                <tbody class="font-size--smaller">
                <tr data-duice-bind="newsesDialog.newses" data-duice-loop="news,status">
                    <td data-duice-bind="status" data-duice-execute="this.innerHTML=status.count;"></td>
                    <td data-duice-bind="news" data-duice-property="dateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></td>
                    <td>
                        <a href="#" onclick="_openLink(this.dataset.newsUrl,'_blank')"
                           data-duice-bind="news" data-duice-execute="this.dataset.newsUrl=news.newsUrl;">
                            <span data-duice-bind="news" data-duice-property="title"></span>
                        </a>
                    </td>
                    <td data-duice-bind="news" data-duice-property="sentiment"></td>
                    <td data-duice-bind="news" data-duice-property="confidence"></td>
                    <td class="display--flex">
                        <textarea data-duice-bind="news" data-duice-property="reason" class="width--100"></textarea>
                    </td>
                </tr>
                <tr data-duice-bind="newsesDialog.newses" data-duice-if="return newsesDialog.newses.length===0;">
                    <td colspan="100%" class="text-align--center">
                        No Data
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </dialog>
    <script th:inline="javascript">
        const newsesDialog = {
            dialog: new duice.dialog.Dialog(document.getElementById('newsesDialog')),
            target: null,
            assetId: null,
            date: null,
            newses: new duice.ArrayProxy([]),
            open: function(assetId, date) {
                this.assetId = assetId;
                this.date = date;
                duice.ArrayProxy.clear(this.newses);
                this.getNewses();
                return this.dialog.open();
            },
            getNewses: function() {
                let dateTimeFrom = `${this.date}T00:00:00`;
                let dateTimeTo = `${this.date}T23:59:59`;
                let url = new URL(`${_apiUrl}/v1/newses/${this.assetId}`, document.location.origin);
                url.searchParams.append('dateTimeFrom', dateTimeFrom);
                url.searchParams.append('dateTimeTo', dateTimeTo);
                url.searchParams.append('_size', 1000);
                url.searchParams.append('_page', 0);
                _fetch(url).then(response => response.json())
                .then(responseBody => {
                    duice.ArrayProxy.assign(this.newses, responseBody);
                });
            }
        };
    </script>
    <!-- ====================================== -->
    <!-- start: ohlcvsDialog                    -->
    <!-- ====================================== -->

</th:block>
