<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:src="@{/static/fintics.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:inline="javascript">
        Chart.defaults.font.size = 8;
        Chart.defaults.animation = false;

        const indices = /*[[${indices}]]*/[];
        const trades = /*[[${trades}]]*/[];

        let indiceDailyOhlcvsChart = null;
        let indiceMinuteOhlcvsChart = null;
        const indiceNewses = new duice.ArrayProxy([]);

        const tradeAssetDailyOhlcvsChartMap = new Map();
        const tradeAssetMinuteOhlcvsChartMap = new Map();
        const tradeNewsesMap = new Map();
        const tradeBalanceMap = new Map();
        trades.forEach(trade => {
            tradeNewsesMap.set(trade.tradeId, new duice.ArrayProxy([]));
            tradeBalanceMap.set(trade.tradeId, new duice.ObjectProxy({
                balanceAssets: new duice.ArrayProxy([])
            }));
        });
        const tradeOrdersMap = new Map();
        trades.forEach(trade => {
            tradeOrdersMap.set(trade.tradeId, new duice.ArrayProxy([]));
        });
        const tradeLogEventSourceMap = new Map();

        function initializeIndiceMonitor() {
            indiceDailyOhlcvsChart = _createDailyOhlcvsChart('indiceDailyOhlcvsChart');
            indiceMinuteOhlcvsChart = _createMinuteOhlcvsChart('indiceMinuteOhlcvsChart');
        }

        async function getIndiceDailyOhlcvs(indiceId, dateTimeFrom, dateTimeTo) {
            let url = new URL(`${_apiUrl}/v1/indices/${indiceId}/daily-ohlcvs`, document.location.origin);
            url.searchParams.append('dateTimeFrom', dateTimeFrom.toISOString());
            url.searchParams.append('dateTimeTo', dateTimeTo.toISOString());
            url.searchParams.append('_size', 1000);
            return await _fetch(url, null, true);
        }

        async function getIndiceMinuteOhlcvs(indiceId, dateTimeFrom, dateTimeTo) {
            let url = new URL(`${_apiUrl}/v1/indices/${indiceId}/minute-ohlcvs`, document.location.origin);
            url.searchParams.append('dateTimeFrom', dateTimeFrom.toISOString());
            url.searchParams.append('dateTimeTo', dateTimeTo.toISOString());
            url.searchParams.append('_size', 1000);
            return await _fetch(url, null, true);
        }

        async function getIndiceNewses(indiceId) {
            let url = new URL(`${_apiUrl}/v1/indices/${indiceId}/newses`, document.location.origin);
            return await _fetch(url);
        }

        async function getAssetDailyOhlcvs(assetId, dateTimeFrom, dateTimeTo) {
            let url = new URL(`${_apiUrl}/v1/assets/${assetId}/daily-ohlcvs`, document.location.origin);
            url.searchParams.append('dateTimeFrom', dateTimeFrom.toISOString());
            url.searchParams.append('dateTimeTo', dateTimeTo.toISOString());
            url.searchParams.append('_size', 1000);
            return await _fetch(url, null, true);
        }

        async function getAssetMinuteOhlcvs(assetId, dateTimeFrom, dateTimeTo) {
            let url = new URL(`${_apiUrl}/v1/assets/${assetId}/minute-ohlcvs`, document.location.origin);
            url.searchParams.append('dateTimeFrom', dateTimeFrom.toISOString());
            url.searchParams.append('dateTimeTo', dateTimeTo.toISOString());
            url.searchParams.append('_size', 1000);
            return await _fetch(url, null, true);
        }

        async function getAssetNewses(assetId) {
            let url = new URL(`${_apiUrl}/v1/assets/${assetId}/newses`, document.location.origin);
            return await _fetch(url);
        }

        async function getIndiceMonitor() {
            // define
            let now = new Date();
            let dailyFrom = dateFns.subDays(now, 30);
            let dailyTo = new Date(now.getTime());
            let minuteFrom = dateFns.subHours(now, 12);
            let minuteTo = new Date(now.getTime());

            // clear chart
            indiceDailyOhlcvsChart.data.datasets.length = 0;
            indiceMinuteOhlcvsChart.data.datasets.length = 0;

            // daily
            let dailyPromises = indices.map(indice => {
                return getIndiceDailyOhlcvs(indice.indiceId, dailyFrom, dailyTo)
                    .then(response => response.json())
                    .then(ohlcvs => {
                        let timeSeries = _createTimeSeries(dailyFrom, dailyTo, ohlcvs, 60000*60*24);
                        return {
                            label: indice.indiceName,
                            data: timeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                    });
            });
            Promise.all(dailyPromises).then(results => {
                results.forEach(dataset => indiceDailyOhlcvsChart.data.datasets.push(dataset));
                indiceDailyOhlcvsChart.update();
            });

            // minute
            let minutePromises = indices.map(indice => {
                return getIndiceMinuteOhlcvs(indice.indiceId, minuteFrom, minuteTo)
                    .then(response => response.json())
                    .then(ohlcvs => {
                        let timeSeries = _createTimeSeries(minuteFrom, minuteTo, ohlcvs, 60000);
                        return {
                            label: indice.indiceName,
                            data: timeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                    });
            });
            Promise.all(minutePromises).then(results => {
                results.forEach(dataset => indiceMinuteOhlcvsChart.data.datasets.push(dataset));
                indiceMinuteOhlcvsChart.update();
            });

            // news
            let newsPromises = indices.map(indice => {
                return getIndiceNewses(indice.indiceId)
                    .then(response => response.json())
                    .then(indiceNewses => {
                        indiceNewses.forEach(it => {
                            it.indiceId = indice.indiceId;
                            it.indiceName = indice.indiceName;
                        });
                        return indiceNewses;
                    });
            });
            Promise.all(newsPromises).then(results => {
                let newses = [];
                results.forEach(result => {
                    newses.push.apply(newses, result);
                });
                newses.sort((a, b) => new Date(b.dateTime) - new Date(a.dateTime));
                duice.ArrayProxy.assign(indiceNewses, newses);
            });
        }

        function initializeTradeMonitors() {
            trades.forEach(trade => {
                initializeTradeMonitor(trade.tradeId);
            });
        }

        function initializeTradeMonitor(tradeId) {
            // chart
            let dailyOhlcvsChart = _createDailyOhlcvsChart(`tradeAssetDailyOhlcvsChart-${tradeId}`);
            tradeAssetDailyOhlcvsChartMap.set(tradeId, dailyOhlcvsChart);
            let minuteOhlcvsChart = _createMinuteOhlcvsChart(`tradeAssetMinuteOhlcvsChart-${tradeId}`);
            tradeAssetMinuteOhlcvsChartMap.set(tradeId, minuteOhlcvsChart);
        }

        function getTradeMonitors() {
            trades.forEach(trade => {
                getTradeMonitor(trade);
            });
        }

        async function getTradeMonitor(trade) {
            // define date from
            let now = new Date();
            let dailyFrom = dateFns.subDays(now, 30);
            let dailyTo = new Date(now.getTime());
            let minuteFrom = dateFns.subHours(now, 12);
            let minuteTo = new Date(now.getTime());

            // asset chart
            let dailyOhlcvsChart = tradeAssetDailyOhlcvsChartMap.get(trade.tradeId);
            let minuteOhlcvsChart = tradeAssetMinuteOhlcvsChartMap.get(trade.tradeId);
            dailyOhlcvsChart.options.scales.x.min = dailyFrom;
            dailyOhlcvsChart.options.scales.x.max = dailyTo;
            minuteOhlcvsChart.options.scales.x.min = minuteFrom;
            minuteOhlcvsChart.options.scales.x.max = minuteTo;
            dailyOhlcvsChart.data.datasets.length = 0;
            minuteOhlcvsChart.data.datasets.length = 0;

            // daily
            const dailyPromises = trade.tradeAssets
                .filter(tradeAsset => tradeAsset.enabled)
                .map(async tradeAsset => {
                    return getAssetDailyOhlcvs(tradeAsset.assetId, dailyFrom, dailyTo)
                        .then(response => response.json())
                        .then(ohlcvs => {
                            let timeSeries = _createTimeSeries(dailyFrom, dailyTo, ohlcvs);
                            return {
                                label: tradeAsset.assetName,
                                data: timeSeries,
                                borderWidth: 1,
                                pointStyle: false
                            };
                        });
                });
            Promise.all(dailyPromises).then(results => {
                results.forEach(dataset => dailyOhlcvsChart.data.datasets.push(dataset));
                dailyOhlcvsChart.update();
            });

            // minute
            const minutePromises = trade.tradeAssets
                .filter(tradeAsset => tradeAsset.enabled)
                .map(async tradeAsset => {
                    return getAssetMinuteOhlcvs(tradeAsset.assetId, minuteFrom, minuteTo)
                        .then(response => response.json())
                        .then(ohlcvs => {
                            let timeSeries = _createTimeSeries(minuteFrom, minuteTo, ohlcvs);
                            return {
                                label: tradeAsset.assetName,
                                data: timeSeries,
                                borderWidth: 1,
                                pointStyle: false
                            };
                        });
                });
            Promise.all(minutePromises).then(results => {
                results.forEach(dataset => minuteOhlcvsChart.data.datasets.push(dataset));
                minuteOhlcvsChart.update();
            });

            // news
            let newsPromises = trade.tradeAssets.map(asset => {
                return getAssetNewses(asset.assetId)
                    .then(response => response.json())
                    .then(newses => {
                        newses.forEach(it => {
                            it.assetId = asset.assetId;
                            it.assetName = asset.assetName;
                        });
                        return newses;
                    });
            });
            Promise.all(newsPromises).then(results => {
                let newses = [];
                results.forEach(result => {
                    newses.push.apply(newses, result);
                });
                newses.sort((a, b) => new Date(b.dateTime) - new Date(a.dateTime));
                duice.ArrayProxy.assign(tradeNewsesMap.get(trade.tradeId), newses);
            });

            // balance
            let balanceUrl = new URL(`${_apiUrl}/v1/trades/${trade.tradeId}/balance`, document.location.origin);
            _fetch(balanceUrl, null, true).then(response => response.json())
                .then(balance => {
                    let tradeAssetIds = [];
                    trade.tradeAssets?.forEach(tradeAsset =>
                        tradeAssetIds.push(tradeAsset.assetId));
                    balance.balanceAssets = balance.balanceAssets?.filter(balanceAsset => tradeAssetIds.includes(balanceAsset.assetId));
                    duice.ObjectProxy.assign(tradeBalanceMap.get(trade.tradeId), balance);
                });
        }

        function openTrade(tradeId) {
            _openLink(`${_rootUrl}/trade?tradeId=${tradeId}`, '_blank');
        }

        document.addEventListener('DOMContentLoaded', () => {
            initializeIndiceMonitor();
            initializeTradeMonitors();

            // refresh
            getIndiceMonitor();
            getTradeMonitors();
            setInterval(function() {
                getIndiceMonitor();
                getTradeMonitors();
            }, 1000*60);
        });

        window.addEventListener('beforeunload', () => {
            // void
        });
    </script>
    <style th:inline="css">
        .tradeLog {
            padding-top: 0.5em;
            line-height: 1.2em;
            background-color: #222;
            color: white;
            font-family: monospace;
            font-size: xx-small;
        }
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-monitor.svg}" alt="monitor"/>
        <span data-th-text="#{web.global.monitor}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <div class="display--flex flex-direction--column gap--1em">
        <!-- ================================== -->
        <!-- start: indice                      -->
        <!-- ================================== -->
        <div class="border--1 padding--1em">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-indice.svg}" alt="indice"/>
                <span data-th-text="#{fintics.Indice}"></span>
            </h2>
            <div class="display--grid grid-template-columns--12 padding--1em s__padding--0">
                <div class="grid-column--6 s__grid-column--12" style="height:150px;">
                    <canvas id="indiceDailyOhlcvsChart"></canvas>
                </div>
                <div class="grid-column--6 s__grid-column--12" style="height:150px;">
                    <canvas id="indiceMinuteOhlcvsChart"></canvas>
                </div>
                <div class="grid-column--12 overflow-y--scroll overflow-x--scroll border-top--1" style="height:150px;">
                    <table class="width--100 border-top--0" style="line-height:normal;">
                        <colgroup>
                            <col style="width:10em;"/>
                            <col/>
                            <col/>
                            <col style="width:10em;"/>
                            <col style="width:10em;"/>
                        </colgroup>
                        <thead>
                        <tr class="font-size--smaller">
                            <th data-th-text="#{fintics.News.dateTime}"></th>
                            <th data-th-text="#{fintics.Indice}"></th>
                            <th data-th-text="#{fintics.News.title}" class="text-align--center"></th>
                            <th data-th-text="#{fintics.News.sentiment}"></th>
                            <th data-th-text="#{fintics.News.confidence}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-duice-bind="indiceNewses" data-duice-loop="indiceNews,status" class="font-size--smaller">
                            <td data-duice-bind="indiceNews" data-duice-property="dateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></td>
                            <td data-duice-bind="indiceNews" data-duice-property="indiceName"></td>
                            <td class="text-align--center">
                                <a href="#" onclick="_openLink(this.dataset.newsUrl,'_blank');" data-duice-bind="indiceNews" data-duice-property="title" data-duice-execute="this.dataset.newsUrl=indiceNews.newsUrl;">
                                </a>
                            </td>
                            <td data-duice-bind="indiceNews" data-duice-property="sentiment"></td>
                            <td data-duice-bind="indiceNews" data-duice-property="confidence"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: indice                        -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: trade                       -->
        <!-- ================================== -->
        <div th:each="trade : ${trades}" class="grid-column--12 border--1 padding--1em">
            <script th:inline="javascript">
                _webSocketClient.subscribe({
                    destination: '/trades/' + [[${trade.tradeId}]] + '/log',
                    listener: function(frame) {
                        let tradeLog = document.getElementById('tradeLog-' + [[${trade.tradeId}]]);
                        if (tradeLog.value.length > 1024 * 1024) {
                            tradeLog.value = '';
                        }
                        tradeLog.value += frame.body + '\n';
                        tradeLog.scrollTop = tradeLog.scrollHeight;
                    }
                });
            </script>
            <h2>
                <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="trade"/>
                <span data-th-text="${trade.tradeName}"></span>
                <a href="#" th:data-trade-id="${trade.tradeId}" onclick="openTrade(this.dataset.tradeId);">
                    <small>
                        <img class="icon link" th:src="@{/static/image/icon-open.svg}" alt="trade"/>
                    </small>
                </a>
            </h2>
            <div class="display--grid grid-template-columns--12 padding--1em s__padding--0">
                <div class="grid-column--6 s__grid-column--12" style="height:150px;">
                    <canvas th:id="'tradeAssetDailyOhlcvsChart-' + ${trade.tradeId}"></canvas>
                </div>
                <div class="grid-column--6 s__grid-column--12" style="height:150px;">
                    <canvas th:id="'tradeAssetMinuteOhlcvsChart-' + ${trade.tradeId}"></canvas>
                </div>
            </div>
            <div class="grid-column--12 padding--1em s__padding--0">
                <div class="overflow-y--scroll overflow-x-scroll border-top--1" style="max-height:150px;">
                    <table class="width--100 border-top--0" style="line-height:normal;">
                        <colgroup>
                            <col style="width:10em;"/>
                            <col/>
                            <col/>
                            <col style="width:10em;"/>
                            <col style="width:10em;"/>
                        </colgroup>
                        <thead>
                        <tr class="font-size--smaller">
                            <th data-th-text="#{fintics.News.dateTime}"></th>
                            <th data-th-text="#{fintics.Asset}"></th>
                            <th data-th-text="#{fintics.News.title}" class="text-align--center"></th>
                            <th data-th-text="#{fintics.News.sentiment}"></th>
                            <th data-th-text="#{fintics.News.confidence}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:data-duice-bind="'tradeNewsesMap.get(\'' + ${trade.tradeId} + '\')'" data-duice-loop="assetNews,status" class="font-size--smaller">
                            <td data-duice-bind="assetNews" data-duice-property="dateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></td>
                            <td data-duice-bind="assetNews" data-duice-property="assetName"></td>
                            <td class="text-align--center">
                                <a href="#" onclick="_openLink(this.dataset.newsUrl,'_blank');" data-duice-bind="assetNews" data-duice-property="title" data-duice-execute="this.dataset.newsUrl=assetNews.newsUrl;">
                                </a>
                            </td>
                            <td data-duice-bind="assetNews" data-duice-property="sentiment"></td>
                            <td data-duice-bind="assetNews" data-duice-property="confidence"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-column--12 padding--1em s__padding--0" style="height:200px;">
                <textarea th:id="'tradeLog-' + ${trade.tradeId}" class="tradeLog width--100 height--100"></textarea>
            </div>
            <div class="grid-column--12 padding--1em s__padding--0">
                <div class="border-top--1">
                    <table class="width--100 border--0 text-align--center font-size-smaller" style="line-height:normal;">
                        <colgroup>
                            <col/>
                            <col/>
                            <col/>
                            <col/>
                            <col/>
                            <col/>
                            <col/>
                            <col/>
                        </colgroup>
                        <thead>
                        <tr class="font-size--smaller">
                            <th data-th-text="#{web.global.no}"></th>
                            <th data-th-text="#{fintics.BalanceAsset.assetId}"></th>
                            <th data-th-text="#{fintics.BalanceAsset.assetName}"></th>
                            <th data-th-text="#{fintics.BalanceAsset.quantity}" class="text-align--right"></th>
                            <th data-th-text="#{fintics.BalanceAsset.purchaseAmount}" class="text-align--right"></th>
                            <th data-th-text="#{fintics.BalanceAsset.valuationAmount}" class="text-align--right"></th>
                            <th data-th-text="#{fintics.BalanceAsset.profitAmount}" class="text-align--right"></th>
                            <th data-th-text="#{fintics.Asset.links}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:data-duice-bind="'tradeBalanceMap.get(\'' + ${trade.tradeId} + '\').balanceAssets'" data-duice-loop="balanceAsset,status" class="font-size--smaller">
                            <td data-duice-bind="status" data-duice-property="count"></td>
                            <td data-duice-bind="balanceAsset" data-duice-property="assetId"></td>
                            <td data-duice-bind="balanceAsset" data-duice-property="assetName"></td>
                            <td data-duice-bind="balanceAsset" data-duice-property="quantity" data-duice-format="number" class="text-align--right"></td>
                            <td data-duice-bind="balanceAsset" data-duice-property="purchaseAmount" data-duice-format="number" class="text-align--right"></td>
                            <td data-duice-bind="balanceAsset" data-duice-property="valuationAmount" data-duice-format="number" class="text-align--right"></td>
                            <td data-duice-bind="balanceAsset" data-duice-property="profitAmount" data-duice-format="number" class="text-align--right"
                                data-duice-execute="
                                if(balanceAsset.profitAmount > 0) this.classList.add('color--red');
                                if(balanceAsset.profitAmount < 0) this.classList.add('color--blue');
                                "></td>
                            <td class="text-align--right">
                                <select data-duice-bind="balanceAsset"
                                        data-duice-option="balanceAsset.links"
                                        data-duice-option-value-property="url"
                                        data-duice-option-text-property="name"
                                        onchange="_openLink(this.value, '_blank'); this.value = '';">
                                    <option value>- Link -</option>
                                </select>
                            </td>
                        </tr>
                        <tr th:data-duice-bind="'tradeBalanceMap.get(\'' + ${trade.tradeId} + '\').balanceAssets'"
                            th:data-duice-execute="'if(tradeBalanceMap.get(\'' + ${trade.tradeId} + '\').balanceAssets.length === 0) this.hidden=false;'" hidden>
                            <td colspan="100%" class="text-align--center font-size--smaller">No Data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: trade                         -->
        <!-- ================================== -->

    </div>

</th:block>
