<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:src="@{/static/fintics.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:inline="javascript">
        Chart.defaults.font.size = 8;
        Chart.defaults.animation = false;

        const indices = /*[[${indices}]]*/[];
        const trades = /*[[${trades}]]*/[];

        let indiceDailyOhlcvsChart = null;
        let indiceMinuteOhlcvsChart = null;

        const tradeAssetDailyOhlcvsChartMap = new Map();
        const tradeAssetMinuteOhlcvsChartMap = new Map();
        const tradeBalanceMap = new Map();
        trades.forEach(trade => {
            tradeBalanceMap.set(trade.tradeId, new duice.ObjectProxy({
                balanceAssets: new duice.ArrayProxy([])
            }));
        });
        const tradeOrdersMap = new Map();
        trades.forEach(trade => {
            tradeOrdersMap.set(trade.tradeId, new duice.ArrayProxy([]));
        });
        const tradeLogEventSourceMap = new Map();

        function initializeIndiceMonitor() {
            indiceDailyOhlcvsChart = _createDailyOhlcvsChart('indiceDailyOhlcvsChart');
            indiceMinuteOhlcvsChart = _createMinuteOhlcvsChart('indiceMinuteOhlcvsChart');
        }

        function getIndiceMonitor() {
            const promises = indices.map(async indice => {
                let url = new URL(`${_apiUrl}/v1/indice/${indice.indiceId}/indicator`, document.location.origin);
                return await _fetch(url, null, true);
            });
            Promise.all(promises)
                .then(responses => {
                    return Promise.all(responses.map(
                        response => response.json()));
                }).then(indiceIndicators => {
                    // define date from
                    let now = new Date();
                    let dailyFrom = dateFns.subDays(now, 30);
                    let dailyTo = new Date(now.getTime());
                    let minuteFrom = dateFns.subHours(now, 12);
                    let minuteTo = new Date(now.getTime());

                    // indice chart
                    indiceDailyOhlcvsChart.data.datasets.length = 0;
                    indiceMinuteOhlcvsChart.data.datasets.length = 0;
                    for(let i = 0; i < indiceIndicators.length; i ++) {
                        let indiceIndicator = indiceIndicators[i];

                        // daily
                        let dailyOhlcvs = indiceIndicator['dailyOhlcvs'];
                        let dailyTimeSeries = _createTimeSeries(dailyFrom, dailyTo, dailyOhlcvs, 60000*60*24);
                        let dailyDataset = {
                            label: indiceIndicator.indicatorName,
                            data: dailyTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        indiceDailyOhlcvsChart.data.datasets.push(dailyDataset);

                        // minute
                        let minuteOhlcvs = indiceIndicator['minuteOhlcvs'];
                        let minuteTimeSeries = _createTimeSeries(minuteFrom, minuteTo, minuteOhlcvs, 60000);
                        let minuteDataset = {
                            label: indiceIndicator.indicatorName,
                            data: minuteTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        indiceMinuteOhlcvsChart.data.datasets.push(minuteDataset);
                    }
                    indiceDailyOhlcvsChart.update();
                    indiceMinuteOhlcvsChart.update();
                });
        }

        function initializeTradeMonitors() {
            trades.forEach(trade => {
                initializeTradeMonitor(trade.tradeId);
            });
        }

        function initializeTradeMonitor(tradeId) {
            // chart
            let dailyOhlcvsChart = _createDailyOhlcvsChart(`tradeAssetDailyOhlcvsChart-${tradeId}`);
            tradeAssetDailyOhlcvsChartMap.set(tradeId, dailyOhlcvsChart);
            let minuteOhlcvsChart = _createMinuteOhlcvsChart(`tradeAssetMinuteOhlcvsChart-${tradeId}`);
            tradeAssetMinuteOhlcvsChartMap.set(tradeId, minuteOhlcvsChart);
        }

        function getTradeMonitors() {
            trades.forEach(trade => {
                getTradeMonitor(trade.tradeId);
            });
        }

        function getTradeMonitor(tradeId) {
            let tradeAssetIndicatorUrl = new URL(`${_apiUrl}/v1/trade/${tradeId}/indicator`, document.location.origin);
            _fetch(tradeAssetIndicatorUrl, null, true)
                .then(response => response.json())
                .then(assetIndicators => {
                    // define date from
                    let now = new Date();
                    let dailyFrom = dateFns.subDays(now, 30);
                    let dailyTo = new Date(now.getTime());
                    let minuteFrom = dateFns.subHours(now, 12);
                    let minuteTo = new Date(now.getTime());

                    // asset chart
                    let dailyOhlcvsChart = tradeAssetDailyOhlcvsChartMap.get(tradeId);
                    let minuteOhlcvsChart = tradeAssetMinuteOhlcvsChartMap.get(tradeId);

                    dailyOhlcvsChart.options.scales.x.min = dailyFrom;
                    dailyOhlcvsChart.options.scales.x.max = dailyTo;
                    minuteOhlcvsChart.options.scales.x.min = minuteFrom;
                    minuteOhlcvsChart.options.scales.x.max = minuteTo;

                    dailyOhlcvsChart.data.datasets.length = 0;
                    minuteOhlcvsChart.data.datasets.length = 0;
                    assetIndicators.forEach(assetIndicator => {
                        // daily
                        let dailyOhlcvs = assetIndicator['dailyOhlcvs'];
                        let dailyTimeSeries = _createTimeSeries(dailyFrom, dailyTo, dailyOhlcvs);
                        let dailyDataset = {
                            label: assetIndicator.indicatorName,
                            data: dailyTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        dailyOhlcvsChart.data.datasets.push(dailyDataset);

                        // minute
                        let minuteOhlcvs = assetIndicator['minuteOhlcvs'];
                        let minuteTimeSeries = _createTimeSeries(minuteFrom, minuteTo, minuteOhlcvs);
                        let minuteDataset = {
                            label: assetIndicator.indicatorName,
                            data: minuteTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        minuteOhlcvsChart.data.datasets.push(minuteDataset);
                    });
                    dailyOhlcvsChart.update();
                    minuteOhlcvsChart.update();
                });

            let balanceUrl = new URL(`${_apiUrl}/v1/trade/${tradeId}/balance`, document.location.origin);
            _fetch(balanceUrl, null, true)
                .then(response => response.json())
                .then(balance => {
                    // filter trade asset
                    let trade = trades.filter(trade =>
                        trade.tradeId === tradeId)[0];
                    let tradeAssetSymbols = [];
                    trade.tradeAssets?.forEach(tradeAsset =>
                        tradeAssetSymbols.push(tradeAsset.assetId));
                    balance.balanceAssets = balance.balanceAssets?.filter(balanceAsset =>
                        tradeAssetSymbols.includes(balanceAsset.assetId));
                    // assign
                    duice.ObjectProxy.assign(tradeBalanceMap.get(tradeId), balance);
                });
        }

        function openTradeDetail(tradeId) {
            _openLink(`${_rootUrl}/trade/trade-detail?tradeId=${tradeId}`, '_blank');
        }

        document.addEventListener('DOMContentLoaded', () => {
            initializeIndiceMonitor();
            initializeTradeMonitors();

            // refresh
            getIndiceMonitor();
            getTradeMonitors();
            setInterval(function() {
                getIndiceMonitor();
                getTradeMonitors();
            }, 1000*60);
        });

        window.addEventListener('beforeunload', () => {
            tradeLogEventSourceMap.forEach((eventSource) => {
                try {
                    eventSource.close();
                }catch(e){}
            });
        });
    </script>
    <style th:inline="css">
        .tradeLog {
            padding-top: 0.5em;
            line-height: 1.2em;
            background-color: #222;
            color: white;
            font-family: monospace;
            font-size: smaller;
        }
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-monitor.svg}" alt="monitor"/>
        <span data-th-text="#{web.global.monitor}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <div class="display--flex flex-direction--column gap--1em">
        <!-- ================================== -->
        <!-- start: indice                      -->
        <!-- ================================== -->
        <div class="border--1 padding--1em">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-indice.svg}" alt="indice"/>
                <span data-th-text="#{fintics.Indice}"></span>
            </h2>
            <div class="display--grid grid-template-columns--12 padding--1em s__padding--0">
                <div class="grid-column--5 s__grid-column--12" style="height:150px;">
                    <canvas id="indiceDailyOhlcvsChart"></canvas>
                </div>
                <div class="grid-column--7 s__grid-column--12" style="height:150px;">
                    <canvas id="indiceMinuteOhlcvsChart"></canvas>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: indice                        -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: trade                       -->
        <!-- ================================== -->
        <div th:each="trade : ${trades}" class="grid-column--12 border--1 padding--1em">
            <script th:inline="javascript">
                 _webSocketClient.subscribe('/trade/' + [[${trade.tradeId}]] + '/log', function(frame) {
                     let tradeLog = document.getElementById('tradeLog-' + [[${trade.tradeId}]]);
                     if(tradeLog.value.length > 1024 * 1024) {
                         tradeLog.value = '';
                     }
                     tradeLog.value += frame.body + '\n';
                     tradeLog.scrollTop = tradeLog.scrollHeight;
                 });
            </script>
            <h2>
                <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="trade"/>
                <span data-th-text="${trade.tradeName}"></span>
                <a href="#" th:data-trade-id="${trade.tradeId}" onclick="openTradeDetail(this.dataset.tradeId);">
                    <small>
                        <img class="icon link" th:src="@{/static/image/icon-open.svg}" alt="trade-detail"/>
                    </small>
                </a>
            </h2>
            <div class="display--grid grid-template-columns--12 grid-gap--1em">
                <div class="grid-column--5 s__grid-column--12">
                    <div style="height:150px;">
                        <canvas th:id="'tradeAssetDailyOhlcvsChart-' + ${trade.tradeId}"></canvas>
                    </div>
                    <div style="height:150px;">
                        <canvas th:id="'tradeAssetMinuteOhlcvsChart-' + ${trade.tradeId}"></canvas>
                    </div>
                    <div class="overflow-y--auto overflow-x--auto border-top--1">
                        <table class="width--100 font-size--smaller border--0" style="line-height:normal;">
                            <colgroup>
                                <col style="width:5rem;"/>
                                <col style="width:3em;"/>
                                <col/>
                                <col/>
                                <col style="width:5rem;"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{fintics.BalanceAsset.assetId}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.assetName}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.quantity}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.BalanceAsset.purchaseAmount}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.BalanceAsset.valuationAmount}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.BalanceAsset.profitAmount}" class="text-align--right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:data-duice-bind="'tradeBalanceMap.get(\'' + ${trade.tradeId} + '\').balanceAssets'" data-duice-loop="balanceAsset,status" class="font-size--smaller">
                                <td data-duice-bind="balanceAsset" data-duice-property="assetId"></td>
                                <td data-duice-bind="balanceAsset" data-duice-property="aasetName"></td>
                                <td data-duice-bind="balanceAsset" data-duice-property="quantity" data-duice-format="number" class="text-align--right"></td>
                                <td data-duice-bind="balanceAsset" data-duice-property="purchaseAmount" data-duice-format="number" class="text-align--right"></td>
                                <td data-duice-bind="balanceAsset" data-duice-property="valuationAmount" data-duice-format="number" class="text-align--right"></td>
                                <td data-duice-bind="balanceAsset" data-duice-property="profitAmount" data-duice-format="number" class="text-align--right"></td>
                            </tr>
                            <tr th:data-duice-bind="'tradeBalanceMap.get(\'' + ${trade.tradeId} + '\').balanceAssets'"
                                th:data-duice-execute="'if(tradeBalanceMap.get(\'' + ${trade.tradeId} + '\').balanceAssets.length === 0) this.hidden=false;'" hidden>
                                <td colspan="100%" class="text-align--center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="grid-column--7 s__grid-column--12" style="min-height:200px;">
                    <textarea th:id="'tradeLog-' + ${trade.tradeId}" class="tradeLog width--100 height--100"></textarea>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- end: trade                         -->
        <!-- ================================== -->

    </div>

</th:block>
