<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:src="@{/static/fintics.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:inline="javascript">
        Chart.defaults.font.size = 8;
        Chart.defaults.animation = false;
        const trades = new duice.ArrayProxy(/*[[${trades}]]*/[]);
        const baskets = /*[[${baskets}]]*/[];

        // creates monitor map
        const monitorMap = new Map();
        trades.forEach(trade => {
            const monitor = new duice.ObjectProxy({
                trade: trade,
                dailyOhlcvsChart: null,
                minuteOhlcvsChart: null,
                basket: JSON.parse(JSON.stringify(baskets.find(it => it.basketId === trade.basketId) || {
                    basketAssets: []
                })),
                balance: {},
                orders: [],
                /**
                 * initialize
                 */
                initialize: function() {
                    let _this = this;
                    // creates chart
                    this.dailyOhlcvsChart = _createDailyOhlcvsChart(`tradeDailyOhlcvsChart-${trade.tradeId}`);
                    this.minuteOhlcvsChart = _createMinuteOhlcvsChart(`tradeMinuteOhlcvsChart-${trade.tradeId}`);

                    // subscribes web socket
                    _webSocketClient.subscribe({
                        destination: `/trades/${_this.trade.tradeId}/logs`,
                        listener: function(frame) {
                            let tradeLog = document.getElementById(`tradeLog-${_this.trade.tradeId}`);
                            if (tradeLog.value.length > 1024 * 1024) {
                                tradeLog.value = '';
                            }
                            tradeLog.value += frame.body + '\n';
                            tradeLog.scrollTop = tradeLog.scrollHeight;
                        }
                    });
                    _webSocketClient.subscribe({
                        destination: `/trades/${_this.trade.tradeId}/assets`,
                        listener: function(frame) {
                            let tradeAsset = JSON.parse(frame.body);
                            _this.applyTradeAsset(tradeAsset);
                        }
                    });
                },
                /**
                 * refresh
                 */
                refresh: function() {
                    this.getDailyOhlcvsChart();
                    this.getMinuteOhlcvsChart();
                    this.getTradeAssets();
                    this.getBalance();
                    this.getOrders();
                },
                /**
                 * gets daily ohlcvs chart
                 */
                getDailyOhlcvsChart: function() {
                    this.dailyOhlcvsChart.options.scales.x.max = new Date();
                    this.dailyOhlcvsChart.data.datasets.length = 0;
                    const promises = this.basket.basketAssets
                        .filter(basketAsset => basketAsset.enabled)
                        .map(async basketAsset => {
                            let url = new URL(`${_apiUrl}/v1/ohlcvs/${basketAsset.assetId}/daily`, document.location.origin);
                            return _fetch(url, null, true)
                                .then(response => response.json())
                                .then(ohlcvs => {
                                    let timeSeries = _createTimeSeries(ohlcvs);
                                    return {
                                        label: basketAsset.assetName,
                                        data: timeSeries,
                                        borderWidth: 1,
                                        pointStyle: false
                                    };
                                });
                        });
                    Promise.all(promises).then(results => {
                        results.forEach(dataset => this.dailyOhlcvsChart.data.datasets.push(dataset));
                        this.dailyOhlcvsChart.update();
                    });
                },
                /**
                 * gets minute ohlcvs chart
                 */
                getMinuteOhlcvsChart: function() {
                    this.minuteOhlcvsChart.options.scales.x.max = new Date();
                    this.minuteOhlcvsChart.data.datasets.length = 0;
                    // daily
                    const promises = this.basket.basketAssets
                        .filter(basketAsset => basketAsset.enabled)
                        .map(async basketAsset => {
                            let url = new URL(`${_apiUrl}/v1/ohlcvs/${basketAsset.assetId}/minute`, document.location.origin);
                            return _fetch(url, null, true)
                                .then(response => response.json())
                                .then(ohlcvs => {
                                    let timeSeries = _createTimeSeries(ohlcvs);
                                    return {
                                        label: basketAsset.assetName,
                                        data: timeSeries,
                                        borderWidth: 1,
                                        pointStyle: false
                                    };
                                });
                        });
                    Promise.all(promises).then(results => {
                        results.forEach(dataset => this.minuteOhlcvsChart.data.datasets.push(dataset));
                        this.minuteOhlcvsChart.update();
                    });
                },
                /**
                 * gets trade assets
                 */
                getTradeAssets: function() {
                    let url = new URL(`${_apiUrl}/v1/trades/${this.trade.tradeId}/assets`, document.location.origin);
                    _fetch(url, null, true)
                        .then(response => response.json())
                        .then(tradeAssets => {
                            tradeAssets.forEach(tradeAsset => {
                                this.applyTradeAsset(tradeAsset);
                            });
                        });
                },
                /**
                 * applies trade asset
                 * @param tradeAsset trade asset
                 */
                applyTradeAsset: function(tradeAsset) {
                    let basketAsset = this.basket.basketAssets.find(it => it.assetId === tradeAsset.assetId);
                    if (basketAsset) {
                        basketAsset.close = tradeAsset.close;
                        basketAsset.netChange = tradeAsset.netChange;
                        basketAsset.netChangePercentage = tradeAsset.netChangePercentage;
                        basketAsset.intraDayNetChange = tradeAsset.intraDayNetChange;
                        basketAsset.intraDayNetChangePercentage = tradeAsset.intraDayNetChangePercentage;
                        basketAsset.message = tradeAsset.message;
                    }
                },
                /**
                 * gets balance
                 */
                getBalance: function() {
                    let url = new URL(`${_apiUrl}/v1/trades/${this.trade.tradeId}/balance`, document.location.origin);
                    _fetch(url, null, true)
                        .then(response => response.json())
                        .then(balance => {
                            this.applyBalance(balance);
                        });
                },
                /**
                 * applies balance
                 * @param balance balance
                 */
                applyBalance: function(balance) {
                    duice.ObjectProxy.assign(this.balance, balance);
                    balance.balanceAssets.forEach(balanceAsset => {
                        let basketAsset = this.basket.basketAssets.find(it => it.assetId === balanceAsset.assetId);
                        if (basketAsset) {
                            basketAsset.quantity = balanceAsset.quantity;
                            basketAsset.orderableQuantity = balanceAsset.orderableQuantity;
                            basketAsset.purchasePrice = balanceAsset.purchasePrice;
                            basketAsset.purchaseAmount = balanceAsset.purchaseAmount;
                            basketAsset.valuationPrice = balanceAsset.valuationPrice;
                            basketAsset.valuationAmount = balanceAsset.valuationAmount;
                            basketAsset.profitAmount = balanceAsset.profitAmount;
                            basketAsset.profitPercentage = balanceAsset.profitPercentage;
                        }
                    });
                },
                getOrders: function() {
                    let url = new URL(`${_apiUrl}/v1/orders`, document.location.origin);
                    let orderAtFrom = dateFns.subHours(new Date(), 12).toISOString();
                    let orderAtTo = new Date().toISOString();
                    url.searchParams.append('orderAtFrom', orderAtFrom);
                    url.searchParams.append('orderAtTo', orderAtTo);
                    url.searchParams.append('tradeId', this.trade.tradeId);
                    _fetch(url, null, true).then(response => response.json()).then(orders => {
                        this.applyOrders(orders);
                    });
                },
                applyOrders: function(orders) {
                    duice.ArrayProxy.assign(this.orders, orders);
                    const buyCountMap = orders.filter(it => it.type === 'BUY')
                        .reduce((acc, obj) => {
                            const keyValue = obj['assetId'];
                            if (!acc[keyValue]) {
                                acc[keyValue] = 0;
                            }
                            acc[keyValue]++;
                            return acc;
                        }, {});
                    Object.entries(buyCountMap).forEach(([key, value]) => {
                        let basketAsset = this.basket.basketAssets.find(it => it.assetId === key);
                        if (basketAsset) {
                            basketAsset.buyCount = value;
                        }
                    });
                    const sellCountMap = orders.filter(it => it.type === 'SELL')
                        .reduce((acc, obj) => {
                            const keyValue = obj['assetId'];
                            if (!acc[keyValue]) {
                                acc[keyValue] = 0;
                            }
                            acc[keyValue]++;
                            return acc;
                        }, {});
                    Object.entries(sellCountMap).forEach(([key, value]) => {
                        let basketAsset = this.basket.basketAssets.find(it => it.assetId === key);
                        if (basketAsset) {
                            basketAsset.sellCount = value;
                        }
                    });
                },
                buyTradeAsset: function(assetId) {
                    let asset = this.basket.basketAssets.find(it => it.assetId === assetId);
                    submitOrderDialog.open(this.trade, asset, 'BUY')
                    .then(() => {
                        this.getBalance();
                    });
                },
                sellTradeAsset: function(assetId) {
                    let asset = this.basket.basketAssets.find(it => it.assetId === assetId);
                    submitOrderDialog.open(this.trade, asset, 'SELL')
                    .then(() => {
                        this.getBalance();
                    });
                }
            });
            // saves monitor to map
            monitorMap.set(trade.tradeId, monitor);
        });

        /**
         * initializes all trade monitors
         */
        function initializeMonitors() {
            monitorMap.forEach((monitor, tradeId) => {
                  monitor.initialize();
            });
        }

        /**
         * gets all trade monitors
         */
        function refreshMonitors() {
            monitorMap.forEach((monitor, tradeId) => {
                monitor.refresh();
            });
        }

        /**
         * opens trade view
         * @param tradeId trade id
         */
        function openTrade(tradeId) {
            _openLink(`${_rootUrl}/trade?tradeId=${tradeId}`, '_blank');
        }

        /**
         * on DOM content loaded
         */
        document.addEventListener('DOMContentLoaded', () => {
            // initialize
            initializeMonitors();

            let tabItems = trades.map(trade => {
                return duice.tabItem(
                    document.getElementById(`monitorTabButton-${trade.tradeId}`),
                    document.getElementById(`monitorTabContent-${trade.tradeId}`),
                    () => {}
                );
            });
            let tabFolder = duice.tabFolder(...tabItems);

            // set tab active
            tabFolder.setActive(0);

            // refresh
            refreshMonitors();
            setInterval(function() {
               refreshMonitors();
            }, 1000*60);
        });
    </script>
    <style th:inline="css">
        .tradeLog {
            padding-top: 0.5em;
            line-height: 1.2em;
            background-color: #222;
            color: white;
        }
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-monitor.svg}" alt="monitor"/>
        <span data-th-text="#{web.global.monitor}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: tab index                       -->
    <!-- ====================================== -->
    <div id="tabIndex" class="display--flex flex-wrap--nowrap overflow-x--scroll gap--1px margin-bottom--1px margin-top--1em">
        <button th:each="trade : ${trades}" th:id="|monitorTabButton-${trade.tradeId}|" type="button" class="tab" style="flex-shrink:0;">
            <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="simulate"/>
            <span data-th-text="${trade.tradeName}"></span>
        </button>
    </div>
    <!-- ====================================== -->
    <!-- end: tab index                         -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: trade                       -->
    <!-- ================================== -->
    <div th:each="trade : ${trades}" th:id="|monitorTabContent-${trade.tradeId}|" class="grid-column--12 border--1 padding--1em">
        <h2>
            <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="trade"/>
            <span data-th-text="${trade.tradeName}"></span>
            <a href="#" th:data-trade-id="${trade.tradeId}" onclick="openTrade(this.dataset.tradeId);">
                <small>
                    <img class="icon link" th:src="@{/static/image/icon-open.svg}" alt="trade"/>
                </small>
            </a>
        </h2>
        <div class="display--grid grid-template-columns--12 padding--1em s__padding--0">
            <div class="grid-column--6 s__grid-column--12" style="height:150px;">
                <div class="font-weight--bold">
                    <img class="icon" src="/static/image/icon-ohlcv.svg" alt="ohlcv">
                    <span>Daily</span>
                </div>
                <canvas th:id="'tradeDailyOhlcvsChart-' + ${trade.tradeId}"></canvas>
            </div>
            <div class="grid-column--6 s__grid-column--12" style="height:150px;">
                <div class="font-weight--bold">
                    <img class="icon" src="/static/image/icon-ohlcv.svg" alt="ohlcv">
                    <span>Minute</span>
                </div>
                <canvas th:id="'tradeMinuteOhlcvsChart-' + ${trade.tradeId}"></canvas>
            </div>
        </div>
        <div class="grid-column--12 padding--1em s__padding--0">
            <div>
                <img class="icon" data-th-src="@{/static/image/icon-log.svg}" alt="log"/>
                <span class="font-weight--bold" data-th-text="#{web.global.log}"></span>
            </div>
            <div style="height:200px;">
                <textarea th:id="'tradeLog-' + ${trade.tradeId}" class="tradeLog width--100 height--100 code"></textarea>
            </div>
        </div>
        <div class="grid-column--12 padding--1em s__padding--0">
            <div class="display--flex justify-content--space-between flex-wrap--wrap">
                <div>
                    <img class="icon" data-th-src="@{/static/image/icon-basket.svg}" alt="basket"/>
                    <span class="font-weight--bold" data-th-text="#{fintics.BasketAsset}"></span>
                    <span class="font-weight--bold">
                        (
                        <span data-th-text="#{fintics.Trade.investAmount}"></span>:
                        <span data-th-text="${#numbers.formatDecimal(trade.investAmount,3,'COMMA',2,'POINT')}"></span>
                        )
                    </span>
                </div>
                <div>
                    <img class="icon" data-th-src="@{/static/image/icon-balance.svg}" alt="balance"/>
                    <span>
                        <span class="font-weight--bold">
                            <span data-th-text="#{fintics.Balance.totalAmount}"></span>:
                            <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                                  th:data-duice-property="totalAmount" data-duice-format="number">
                            </span>
                        </span>
                        |
                        <span data-th-text="#{fintics.Balance.profitAmount}"></span>:
                        <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                              th:data-duice-property="profitAmount" data-duice-format="number">
                        </span>
                        |
                        <span data-th-text="#{fintics.Balance.realizedProfitAmount}"></span>:
                        <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                              th:data-duice-property="realizedProfitAmount" data-duice-format="number">
                        </span>
                        |
                        <span data-th-text="#{fintics.Balance.purchaseAmount}"></span>:
                        <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                              th:data-duice-property="purchaseAmount" data-duice-format="number">
                        </span>
                        |
                        <span data-th-text="#{fintics.Balance.valuationAmount}"></span>:
                        <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                              th:data-duice-property="valuationAmount" data-duice-format="number">
                        </span>
                        |
                        <span data-th-text="#{fintics.Balance.cashAmount}"></span>:
                        <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                              th:data-duice-property="cashAmount" data-duice-format="number">
                        </span>
                    </span>
                </div>
            </div>
            <div class="overflow-x--scroll border-top--1">
                <table class="width--100 border-top--0">
                    <colgroup>
                        <col style="width:4em;"/>
                        <col style="width:8em;"/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <span data-th-text="#{web.global.no}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.Asset.assetId}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.Asset.assetName}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.Asset.links}"></span>
                        </th>
                        <th>
                            <span>Message</span>
                        </th>
                        <th class="text-align--right">
                            <div data-th-text="#{fintics.BalanceAsset.quantity}"></div>
                            <div data-th-text="#{fintics.BalanceAsset.orderableQuantity}"></div>
                        </th>
                        <th class="text-align--right">
                            <div data-th-text="#{fintics.BalanceAsset.purchasePrice}"></div>
                            <div data-th-text="#{fintics.BalanceAsset.valuationPrice}"></div>
                        </th>
                        <th class="text-align--right">
                            <div data-th-text="#{fintics.BalanceAsset.purchaseAmount}"></div>
                            <div data-th-text="#{fintics.BalanceAsset.valuationAmount}"></div>
                        </th>
                        <th class="text-align--right padding-right--1em">
                            <div data-th-text="#{fintics.BalanceAsset.profitAmount}"></div>
                            <div data-th-text="#{fintics.BalanceAsset.profitPercentage}"></div>
                        </th>
                        <th class="text-align--center">
                            <span data-th-text="#{fintics.Order}"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:data-duice-bind="|monitorMap.get('${trade.tradeId}').basket.basketAssets|" data-duice-loop="basketAsset,status">
                        <td>
                            <span data-duice-bind="status" data-duice-property="count"></span>
                        </td>
                        <td>
                            <span data-duice-bind="basketAsset" data-duice-property="assetId"></span>
                        </td>
                        <td>
                            <div class="display--flex align-items--center">
                                <img class="icon icon--circle font-size--large" data-duice-bind="basketAsset" data-duice-property="icon" th:onerror="|this.onerror=null; this.src='@{/static/image/icon-asset.svg}';|" alt=""/>
                                &nbsp;
                                <div class="margin-y--1em">
                                    <span data-duice-bind="basketAsset"
                                        data-duice-property="assetName"
                                        data-duice-execute="
                                        if (basketAsset.quantity > 0) {
                                            this.classList.add('font-weight--bold');
                                        }"></span>
                                    (<span data-duice-bind="basketAsset" data-duice-property="holdingWeight"></span>%)
                                    <img class="icon font-size--smaller"
                                         th:src="@{/static/image/icon-pin.svg}"
                                         data-duice-bind="basketAsset"
                                         data-duice-if="return basketAsset.fixed"/>
                                    <br/>
                                    <span class="font-weight--bold"
                                          data-duice-bind="basketAsset"
                                          data-duice-execute="
                                        let close = basketAsset.close;
                                        let netChange = basketAsset.netChange || 0;
                                        let netChangePercentage = basketAsset.netChangePercentage || 0;
                                        if (netChange > 0) this.classList.add('color--green');
                                        if (netChange < 0) this.classList.add('color--red');
                                        this.innerHTML = `${close?.toLocaleString()||''} (${netChange} <small>/</small> ${netChangePercentage}%)`;
                                        "></span>
                                    &nbsp;
                                    <span class="link" data-duice-bind="basketAsset"
                                          th:data-duice-execute="|
                                        this.dataset.tradeId = '${trade.tradeId}';
                                        this.dataset.assetId = basketAsset.assetId;
                                        |"
                                        onclick="_openLink(`${_rootUrl}/orders?tradeId=${this.dataset.tradeId}&assetId=${this.dataset.assetId}`, '_blank');">
                                        <span data-duice-bind="basketAsset" data-duice-if="return basketAsset.buyCount > 0;">
                                            <img class="icon" th:src="@{/static/image/icon-order-buy.svg}" alt=""/>
                                            <span data-duice-bind="basketAsset" data-duice-property="buyCount"></span>
                                        </span>
                                        <span data-duice-bind="basketAsset" data-duice-if="return basketAsset.sellCount > 0;">
                                            <img class="icon" th:src="@{/static/image/icon-order-sell.svg}" alt=""/>
                                            <span data-duice-bind="basketAsset" data-duice-property="sellCount"></span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <select data-duice-bind="basketAsset"
                                    data-duice-option="basketAsset.links"
                                    data-duice-option-value-property="url"
                                    data-duice-option-text-property="name"
                                    onchange="_openLink(this.value, '_blank'); this.value = '';">
                                <option value>- Link -</option>
                            </select>
                        </td>
                        <td>
                            <div class="display--flex">
                                <textarea data-duice-bind="basketAsset"
                                          data-duice-property="message"
                                          class="width--100 code"
                                          style="min-width:20em; height:6em; line-height:1.1em; padding:0.1em 0.3em;"></textarea>
                            </div>
                        </td>
                        <td class="text-align--right">
                            <div data-duice-bind="basketAsset" data-duice-property="quantity" data-duice-format="number"></div>
                            <div data-duice-bind="basketAsset" data-duice-property="orderableQuantity" data-duice-format="number"></div>
                        </td>
                        <td class="text-align--right">
                            <div data-duice-bind="basketAsset" data-duice-property="purchasePrice" data-duice-format="number"></div>
                            <div data-duice-bind="basketAsset" data-duice-property="valuationPrice" data-duice-format="number"></div>
                        </td>
                        <td class="text-align--right">
                            <div data-duice-bind="basketAsset" data-duice-property="purchaseAmount" data-duice-format="number"></div>
                            <div data-duice-bind="basketAsset" data-duice-property="valuationAmount" data-duice-format="number"></div>
                        </td>
                        <td class="text-align--right padding-right--1em font-weight--bold">
                            <div data-duice-bind="basketAsset" data-duice-property="profitAmount" data-duice-format="number"
                                 data-duice-execute="
                                if(basketAsset.profitAmount > 0) this.classList.add('color--green');
                                if(basketAsset.profitAmount < 0) this.classList.add('color--red');
                                "></div>
                            <div data-duice-bind="basketAsset" data-duice-execute="
                                if (basketAsset.profitPercentage == null) return;
                                if (basketAsset.profitPercentage > 0) this.classList.add('color--green');
                                if (basketAsset.profitPercentage < 0) this.classList.add('color--red');
                                this.innerHTML = `${basketAsset.profitPercentage} %`;
                                "></div>
                        </td>
                        <td class="text-align--center">
                            <div class="display--flex flex-direction--column gap--1px">
                                <button class="small" type="button"
                                        data-duice-bind="basketAsset"
                                        data-duice-execute="this.dataset.assetId=basketAsset.assetId"
                                        th:attr="onclick=|monitorMap.get('${trade.tradeId}').buyTradeAsset(this.dataset.assetId);|"
                                        th:classappend="!${#authorization.expression('hasAuthority(''TRADES_EDIT'')')}?'locked'">
                                    <img class="icon" th:src="@{/static/image/icon-order-buy.svg}" alt="buy"/>
                                    <span data-th-text="#{fintics.Order.Type.BUY}"></span>
                                </button>
                                <button class="small" type="button"
                                        data-duice-bind="basketAsset"
                                        data-duice-execute="this.dataset.assetId=basketAsset.assetId;"
                                        th:attr="onclick=|monitorMap.get('${trade.tradeId}').sellTradeAsset(this.dataset.assetId);|"
                                        th:classappend="!${#authorization.expression('hasAuthority(''TRADES_EDIT'')')}?'locked'">
                                    <img class="icon" th:src="@{/static/image/icon-order-sell.svg}" alt="sell"/>
                                    <span data-th-text="#{fintics.Order.Type.SELL}"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr th:data-duice-bind="|monitorMap.get('${trade.tradeId}').basket.basketAssets|"
                        th:data-duice-if="|return monitorMap.get('${trade.tradeId}').basket.basketAssets.length < 1|"
                        hidden>
                        <td colspan="100%" class="text-align--center">
                            <span data-th-text="#{web.global.itemNotFound(#{fintics.BasketAsset})}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: trade                         -->
    <!-- ================================== -->

    <th:block th:insert="trade.html :: submitOrderDialog"/>

</th:block>
