<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const orderSearch = new duice.ObjectProxy({
            orderAtFrom: null,
            orderAtTo: null,
            tradeId: null,
            type: null,
            result: null,
            key: 'assetName',
            value: null,
            _page: 0,
            _size: 20,
            _count: 0
        });
        // url search params
        let urlSearchParams = new URLSearchParams(window.location.search);
        orderSearch.tradeId = urlSearchParams.get('tradeId') || null;
        if (urlSearchParams.get('assetId')) {
            orderSearch.key = 'assetId';
            orderSearch.value = urlSearchParams.get('assetId');
        }

        duice.ObjectProxy.onPropertyChanged(orderSearch, (event) => {
            getOrders();
        });
        const trades = new duice.ArrayProxy(/*[[${trades}]]*/[]);
        const orders = new duice.ArrayProxy([]);


        function getOrders(page) {
            if(page) {
                orderSearch._page = page;
            }
            let url = new URL(`${_apiUrl}/v1/orders`, document.location.origin);
            if (orderSearch.tradeId) {
                url.searchParams.append('tradeId', orderSearch.tradeId);
            }
            if (orderSearch.assetId) {
                url.searchParams.append('assetId', orderSearch.assetId);
            }
            if (orderSearch.type) {
                url.searchParams.append('type', orderSearch.type);
            }
            if (orderSearch.result) {
                url.searchParams.append('result', orderSearch.result);
            }
            if (orderSearch.key && orderSearch.value) {
                url.searchParams.append(orderSearch.key, orderSearch.value);
            }
            url.searchParams.append('_page', orderSearch._page);
            url.searchParams.append('_size', orderSearch._size);
            _fetch(url)
                .then(response => {
                    orderSearch._count = _parseTotalCount(response);
                    return response.json();
                })
                .then(data => {
                    duice.ArrayProxy.assign(orders, data);
                });
        }

        function resetOrders() {
            duice.ObjectProxy.reset(orderSearch);
            getOrders();
        }

        document.addEventListener('DOMContentLoaded', () => {
            getOrders();
        });

    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-order.svg}" alt="order"/>
        <span data-th-text="#{fintics.Order}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: order                       -->
    <!-- ================================== -->
    <div class="border--1 padding--1em" style="min-height:400px;">
        <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em margin-x--1em">
            <div class="grid-column--12 s__grid-column--12 display--grid grid-template-columns--12 grid-gap--1em">
                <label class="grid-column--1 s__grid-column--12">
                    <input class="width--100" type="datetime-local" data-duice-bind="orderSearch" data-duice-property="orderAtFrom"/>
                </label>
                <label class="grid-column--1 s__grid-column--12">
                    <input class="width--100" type="datetime-local" data-duice-bind="orderSearch" data-duice-property="orderAtTo"/>
                </label>
                <label class="grid-column--2 s__grid-column--12">
                    <select class="width--100"
                            data-duice-bind="orderSearch"
                            data-duice-property="tradeId"
                            data-duice-option="trades"
                            data-duice-option-value-property="tradeId"
                            data-duice-option-text-property="tradeName">
                        <option value="" data-th-text="'- ' + #{fintics.Trade} + ' -'"></option>
                    </select>
                </label>
                <label class="grid-column--1 s__grid-column--12">
                    <select class="width--100" data-duice-bind="orderSearch" data-duice-property="type">
                        <option value="" data-th-text="'- ' + #{fintics.Order.type} + ' -'"></option>
                        <option value="BUY">BUY</option>
                        <option value="SELL">SELL</option>
                    </select>
                </label>
                <label class="grid-column--1 s__grid-column--12">
                    <select class="width--100" data-duice-bind="orderSearch" data-duice-property="result">
                        <option value="" data-th-text="'- ' + #{fintics.Order.result} + ' -'"></option>
                        <option value="COMPLETED">COMPLETED</option>
                        <option value="FAILED">FAILED</option>
                    </select>
                </label>
                <label class="grid-column--1 s-grid-column-4">
                    <select class="width--100" data-duice-bind="orderSearch" data-duice-property="key">
                        <option value="assetName" th:text="#{fintics.Order.assetName}"></option>
                        <option value="assetId" th:text="#{fintics.Order.assetId}"></option>
                    </select>
                </label>
                <label class="grid-column--2 s-grid-column--8">
                    <input class="width--100" type="text" data-duice-bind="orderSearch" data-duice-property="value"/>
                </label>
                <div class="grid-column--3 s__grid-column--12 justify-self--end">
                    <button type="submit" onclick="getOrders();">
                        <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                        <span data-th-text="#{web.global.search}"></span>
                    </button>
                    <button type="button" onclick="resetOrders();">
                        <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                        <span data-th-text="#{web.global.reset}"></span>
                    </button>
                </div>
            </div>
        </form>
        <div class="overflow-x--scroll">
            <table class="width--100">
                <colgroup>
                    <col/>
                    <col style="width:10em;"/>
                    <col style="width:5em;"/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col/>
                    <col style="width:20em;"/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}"></th>
                    <th data-th-text="#{fintics.Order.orderAt}"></th>
                    <th data-th-text="#{fintics.Order.type}"></th>
                    <th data-th-text="#{fintics.Trade.tradeName}"></th>
                    <th data-th-text="#{fintics.Asset.assetName}"></th>
                    <th data-th-text="#{fintics.Order.quantity}" class="text-align--right"></th>
                    <th data-th-text="#{fintics.Order.price}" class="text-align--right"></th>
                    <th data-th-text="#{fintics.StrategyResult}"></th>
                    <th data-th-text="#{fintics.Order.purchasePrice}" class="text-align--right"></th>
                    <th data-th-text="#{fintics.Order.realizedProfitAmount}" class="text-align--right"></th>
                    <th data-th-text="#{fintics.Order.result}"></th>
                    <th data-th-text="#{fintics.Order.errorMessage}"></th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="orders" data-duice-loop="order,status">
                    <td>
                        <span data-duice-bind="status"
                              data-duice-execute="this.innerHTML=orderSearch._count - (orderSearch._size*orderSearch._page + status.count) + 1;">
                        </span>
                    </td>
                    <td>
                        <span data-duice-bind="order"
                              data-duice-property="orderAt"
                              data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                    </td>
                    <td>
                        <span data-duice-bind="order" data-duice-property="type" class="badge"
                        data-duice-execute="
                        if(order.type === 'BUY') this.classList.add('background-color--green');
                        if(order.type === 'SELL') this.classList.add('background-color--blue');
                        "></span>
                    </td>
                    <td>
                        <span data-duice-bind="order" data-duice-property="tradeName"></span>
                    </td>
                    <td>
                        <span data-duice-bind="order" data-duice-property="assetName"></span>
                    </td>
                    <td class="text-align--right">
                        <span data-duice-bind="order" data-duice-property="quantity" data-duice-format="number"></span>
                    </td>
                    <td class="text-align--right">
                        <span data-duice-bind="order" data-duice-property="price" data-duice-format="number"></span>
                    </td>
                    <td class="display--flex padding--1px">
                        <textarea data-duice-bind="order" data-duice-execute="this.value=JSON.stringify(order.strategyResult,null,2);" class="height-100 width--100 font-size--smaller"></textarea>
                    </td>
                    <td class="text-align--right">
                        <span data-duice-bind="order" data-duice-property="purchasePrice" data-duice-format="number"></span>
                    </td>
                    <td class="text-align--right">
                        <span data-duice-bind="order" data-duice-property="realizedProfitAmount" data-duice-format="number"></span>
                    </td>
                    <td>
                        <span data-duice-bind="order" data-duice-property="result" class="badge"
                        data-duice-execute="
                        if(order.result === 'COMPLETED') this.classList.add('background-color--green');
                        if(order.result === 'FAILED') this.classList.add('background-color--red');
                        "></span>
                    </td>
                    <td class="display--flex padding--1px">
                        <textarea data-duice-bind="order" data-duice-property="errorMessage" class="height--100 width--100" style="white-space:normal;"></textarea>
                    </td>
                </tr>
                <tr data-duice-bind="orders" data-duice-if="return orders.length === 0;" hidden>
                    <td colspan="100%" class="text-align--center">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="display--grid grid-template-columns--12 margin-x--1em">
            <div class="grid-column--4">
                <span data-th-text="#{web.global.total}"></span>
                <span data-duice-bind="orderSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                <span data-th-text="#{web.global.rows}"></span>
            </div>
            <div class="grid-column--4 justify-self--center">
                <duice-pagination
                        data-duice-bind="orderSearch"
                        data-duice-size-property="_size"
                        data-duice-page-property="_page"
                        data-duice-count-property="_count"
                        data-duice-onclick="getOrders(this.dataset.page);">
                </duice-pagination>
            </div>
            <div class="grid-column--4">
            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: order                       -->
    <!-- ================================== -->

</th:block>
