<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        // defines
        const brokers = new duice.ArrayProxy(/*[[${brokers}]]*/[]);
        const profitSearch = new duice.ObjectProxy({
            brokerId: null,
            dateFrom: null,
            dateTo: null
        });
        const profitMap = new Map();
        brokers.forEach(broker => {
            const profit = new duice.ObjectProxy({
                realizedProfitAmount: null,
                dividendAmount: null,
                realizedProfits: [],
                dividendHistories: []
            });
            profitMap.set(broker.brokerId, profit);
        });

        function getProfit(brokerId, dateFrom, dateTo) {
            let url = new URL(`${_apiUrl}/v1/profits/${brokerId}`, document.location.origin);
            if (dateFrom && dateTo) {
                url.searchParams.append('dateFrom', dateFrom.toISOString().split('T')[0]);
                url.searchParams.append('dateTo', dateTo.toISOString().split('T')[0]);
            }
            _fetch(url, {}, true)
            .then(response => response.json())
            .then(data => {
                duice.ObjectProxy.assign(profitMap.get(brokerId), data);
            });
        }

        function getProfits(dateFrom, dateTo) {
            brokers.forEach(broker => {
                getProfit(broker.brokerId, dateFrom, dateTo);
            });
        }

        function getProfitsDaily() {
            getProfits(dateFns.subDays(new Date(), 1), new Date());
            toggleButton('daily');
        }

        function getProfitsWeekly() {
            getProfits(dateFns.subWeeks(new Date(), 1), new Date());
            toggleButton('weekly');
        }

        function getProfitsMonthly() {
            getProfits(dateFns.subMonths(new Date(), 1), new Date());
            toggleButton('monthly');
        }

        function getProfitsQuarterly() {
            getProfits(dateFns.subMonths(new Date(), 3), new Date());
            toggleButton('quarterly');
        }

        function getProfitsSemiannually() {
            getProfits(dateFns.subMonths(new Date(), 6), new Date());
            toggleButton('semiannually');
        }

        function getProfitsYearly() {
            getProfits(dateFns.subYears(new Date(), 1), new Date());
            toggleButton('yearly');
        }

        function toggleButton(selectedButtonId) {
            let buttonIds = ['daily','weekly','monthly','quarterly', 'semiannually','yearly'];
            buttonIds.forEach(buttonId => {
                let buttonElement = document.getElementById(buttonId);
                if (buttonId === selectedButtonId) {
                    buttonElement.classList.add('selected-button');
                } else {
                    buttonElement.classList.remove('selected-button');
                }
            });
        }

        // event listener
        document.addEventListener('DOMContentLoaded', () => {
            getProfitsDaily();
        });
    </script>
    <style th:inline="css">
        .period-button {
            font-size: smaller;
        }
        .selected-button {
            font-weight: bold;
        }
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-profit.svg}" alt="realized-profit"/>
        <span data-th-text="#{fintics.Profit}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: search condition                -->
    <!-- ====================================== -->
    <div class="margin-x--1em" style="margin-bottom:0.5em;">
        <button id="daily" class="period-button" type="button" onclick="getProfitsDaily();">Daily</button>
        <button id="weekly" class="period-button" type="button" onclick="getProfitsWeekly();">Weekly</button>
        <button id="monthly" class="period-button" type="button" onclick="getProfitsMonthly();">Monthly</button>
        <button id="quarterly" class="period-button" type="button" onclick="getProfitsQuarterly();">Quarterly</button>
        <button id="semiannually" class="period-button" type="button" onclick="getProfitsSemiannually();">Semiannually</button>
        <button id="yearly" class="period-button" type="button" onclick="getProfitsYearly();">Yearly</button>
    </div>
    <!-- ====================================== -->
    <!-- end: search condition                  -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: profit                          -->
    <!-- ====================================== -->
    <div class="display--grid grid-template-columns--12 grid-gap--1em">
        <div th:each="broker : ${brokers}"
             class="grid-column--6 s__grid-column--12 display--flex flex-direction--column padding--1em border--1">
            <div>
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-broker.svg}" alt="broker"/>
                    <span data-th-text="${broker.name}"></span>
                </h2>
            </div>
            <div class="display--flex flex-direction--column gap--1em padding--1em s__padding-y--0">
                <!-- start: realized profit -->
                <div>
                    <div>
                        <span data-th-text="#{fintics.Profit.realizedProfitAmount}" class="font-weight--bold"></span>:
                        <span th:data-duice-bind="|profitMap.get('${broker.brokerId}')|"
                              data-duice-property="realizedProfitAmount"
                              data-duice-format="number"
                              class="font-weight--bold"></span>
                    </div>
                    <div class="overflow-x-scroll overflow-y--scroll border-top--1" style="max-height:200px;">
                        <table class="white-space--nowrap border-top--0" style="width:1000px;">
                            <colgroup>
                                <col style="width:7em;"/>
                                <col style="width:7em;"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{fintics.RealizedProfit.date}"></th>
                                <th data-th-text="#{fintics.RealizedProfit.symbol}"></th>
                                <th data-th-text="#{fintics.RealizedProfit.name}"></th>
                                <th data-th-text="#{fintics.RealizedProfit.profitAmount}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.RealizedProfit.profitPercentage}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.RealizedProfit.quantity}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.RealizedProfit.purchasePrice}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.RealizedProfit.purchaseAmount}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.RealizedProfit.disposePrice}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.RealizedProfit.disposeAmount}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.RealizedProfit.feeAmount}" class="text-align--right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:data-duice-bind="|profitMap.get('${broker.brokerId}').realizedProfits|" data-duice-loop="realizedProfit,status">
                                <td>
                        <span data-duice-bind="realizedProfit"
                              data-duice-property="date"
                              data-duice-format="date('yyyy-MM-dd')"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="realizedProfit" data-duice-property="symbol"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="realizedProfit" data-duice-property="name"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="realizedProfit" data-duice-property="profitAmount" data-duice-format="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="realizedProfit" data-duice-property="profitPercentage" data-duice-format="number"></span>
                                    %
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="realizedProfit" data-duice-property="quantity" data-duice-format="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="realizedProfit" data-duice-property="purchasePrice" data-duice-format="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="realizedProfit" data-duice-property="purchaseAmount" data-duice-format="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="realizedProfit" data-duice-property="disposePrice" data-duice-format="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="realizedProfit" data-duice-property="disposeAmount" data-duice-format="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="realizedProfit" data-duice-property="feeAmount" data-duice-format="number"></span>
                                </td>
                            </tr>
                            <tr th:data-duice-bind="|profitMap.get('${broker.brokerId}').realizedProfits|"
                                th:data-duice-if="|return profitMap.get('${broker.brokerId}').realizedProfits.length === 0|" hidden>
                                <td colspan="100%" class="text-align--center">
                                    <span data-th-text="#{web.global.itemNotFound(#{fintics.RealizedProfit})}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end: realized profit -->
                <!-- start: dividend history -->
                <div>
                    <div>
                        <span data-th-text="#{fintics.Profit.dividendAmount}" class="font-weight--bold"></span>:
                        <span th:data-duice-bind="|profitMap.get('${broker.brokerId}')|"
                              data-duice-property="dividendAmount"
                              data-duice-format="number"
                              class="font-weight--bold"></span>
                    </div>
                    <div class="overflow-x-scroll overflow-y--scroll border-top--1" style="max-height:200px;">
                        <table class="white-space--nowrap border-top--0" style="width:1000px;">
                            <colgroup>
                                <col style="width:7em;"/>
                                <col style="width:7em;"/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{fintics.DividendHistory.date}"></th>
                                <th data-th-text="#{fintics.DividendHistory.symbol}"></th>
                                <th data-th-text="#{fintics.DividendHistory.name}"></th>
                                <th data-th-text="#{fintics.DividendHistory.holdingQuantity}" class="text-align--right"></th>
                                <th data-th-text="#{fintics.DividendHistory.dividendAmount}" class="text-align--right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:data-duice-bind="|profitMap.get('${broker.brokerId}').dividendHistories|" data-duice-loop="dividendHistory,status">
                                <td>
                        <span data-duice-bind="dividendHistory"
                              data-duice-property="date"
                              data-duice-format="date('yyyy-MM-dd')"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="dividendHiistory" data-duice-property="symbol"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="dividendHistory" data-duice-property="name"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="dividendHistory" data-duice-property="holdingQuantity" data-duice-format="number"></span>
                                </td>
                                <td class="text-align--right">
                                    <span data-duice-bind="dividendHistory" data-duice-property="dividendAmount" data-duice-format="number"></span>
                                </td>
                            </tr>
                            <tr th:data-duice-bind="|profitMap.get('${broker.brokerId}').dividendHistories|"
                                th:data-duice-if="|return profitMap.get('${broker.brokerId}').dividendHistories.length === 0|" hidden>
                                <td colspan="100%" class="text-align--center">
                                    <span data-th-text="#{web.global.itemNotFound(#{fintics.DividendHistory})}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end: dividend history -->
            </div>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: profit                            -->
    <!-- ====================================== -->

</th:block>
