<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:src="@{/static/fintics.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:inline="javascript">
        const simulateSearch = new duice.ObjectProxy({
            tradeId: null,
            status: null,
            _page: 0,
            _size: 20,
            _count: 0
        });
        duice.ObjectProxy.onPropertyChanged(simulateSearch, () => {
            simulateSearch._page = 0;
            getSimulates();
        });
        const simulates = new duice.ArrayProxy([]);
        const trades = new duice.ArrayProxy([]);

        function getSimulates(page) {
            if(page) {
                simulateSearch._page = page;
            }
            let url = new URL(`${_apiUrl}/v1/simulates`, document.location.origin);
            if(simulateSearch.tradeId) {
                url.searchParams.append('tradeId', simulateSearch.tradeId);
            }
            if(simulateSearch.status) {
                url.searchParams.append('status', simulateSearch.status);
            }
            url.searchParams.append('_page', simulateSearch._page);
            url.searchParams.append('_size', simulateSearch._size);
            _fetch(url)
                .then(response => {
                    simulateSearch._count = _parseTotalCount(response);
                    return response.json();
                })
                .then(data => {
                    duice.ArrayProxy.assign(simulates, data);
                });
        }

        function resetSimulates() {
            duice.ObjectProxy.reset(simulateSearch);
            getSimulates();
        }

        function refreshSimulates() {
            let page = simulateSearch._page;
            getSimulates(page);
        }

        async function getSimulate(simulateId) {
            try {
                await simulateDialog.openForEdit(simulateId);
            } finally {
                refreshSimulates();
            }
        }

        function checkAllSimulates(checkElement) {
            simulates.forEach(simulate => {
                simulate._checked = checkElement.checked;
            });
        }

        async function deleteSimulates() {
            if(!simulates.find(simulate => simulate._checked)) {
                await _alert(/*[[#{web.global.itemNotSelected(#{fintics.Simulate})}]]*/);
                return false;
            }
            if(!await _confirm(/*[[#{web.global.deleteItemConfirm(#{fintics.Simulate})}]]*/'')) {
                return false;
            }
            let simulateIds = simulates
                .filter(simulate => simulate._checked)
                .map(simulate => simulate.simulateId);
            let requests = simulateIds.map(simulateId => {
                let url = new URL(`${_apiUrl}/v1/simulates/${simulateId}`, document.location.origin);
                return _fetch(url, { method: 'DELETE' });
            });
            Promise.all(requests).then(responses => {
                if(responses.every(response => response.ok)) {
                    _alert(/*[[#{web.global.deleteItemComplete(#{fintics.Simulate})}]]*/'').then(() => {
                        refreshSimulates();
                    });
                }
            });
        }

        function getTrades() {
            let url = new URL(`${_apiUrl}/v1/trades`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.assign(trades, data);
                });
        }

        document.addEventListener('DOMContentLoaded', () => {
            getSimulates();
            getTrades();
        });
    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-simulate.svg}" alt="simulate"/>
        <span data-th-text="#{fintics.Simulate}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: simulates                   -->
    <!-- ================================== -->
    <div class="border--1 padding--1em" style="min-height:400px;">
        <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em margin-x--1em">
            <label class="grid-column--3 s__grid-column--12">
                <select class="width--100"
                        data-duice-bind="simulateSearch"
                        data-duice-property="tradeId"
                        data-duice-option="trades"
                        data-duice-option-value-property="tradeId"
                        data-duice-option-text-property="tradeName">
                    <option value="" data-th-text="'- ' + #{fintics.Trade} + ' -'"></option>
                </select>
            </label>
            <label class="grid-column--2 s__grid-column--12">
                <select class="width--100" data-duice-bind="simulateSearch" data-duice-property="status">
                    <option value="" data-th-text="'- ' + #{fintics.Simulate.status} + ' -'"></option>
                    <option th:each="status : ${T(org.oopscraft.fintics.model.Simulate.Status).values()}"
                            th:value="${status}"
                            th:text="${status}"></option>
                </select>
            </label>
            <div class="grid-column--1 s__grid-column--12">
                <button type="button" onclick="resetSimulates();">
                    <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                    <span data-th-text="#{web.global.reset}"></span>
                </button>
            </div>
            <div class="grid-column--6 justify-self--end">
                <button type="button" onclick="deleteSimulates();">
                    <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="delete"/>
                    <span data-th-text="#{web.global.delete}"></span>
                </button>
            </div>
        </form>
        <table class="width--100 text-align--center">
            <colgroup>
                <col style="width:1em;"/>
                <col style="width:5em;"/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
                <col/>
            </colgroup>
            <thead>
            <tr>
                <th><label><input type="checkbox" onchange="checkAllSimulates(this)"/></label></th>
                <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                <th data-th-text="#{fintics.Simulate.startedAt}"></th>
                <th data-th-text="#{fintics.Simulate.endedAt}"></th>
                <th data-th-text="#{fintics.Simulate.status}"></th>
                <th data-th-text="#{fintics.Trade.tradeName}"></th>
                <th data-th-text="#{fintics.Simulate.dateTimeFrom}"></th>
                <th data-th-text="#{fintics.Simulate.dateTimeTo}"></th>
                <th data-th-text="#{fintics.Simulate.investAmount}"></th>
                <th data-th-text="#{fintics.Simulate.dateTime}"></th>
                <th data-th-text="#{fintics.Balance.totalAmount}"></th>
                <th data-th-text="#{fintics.BalanceAsset}"></th>
                <th data-th-text="#{fintics.Order}"></th>
                <th>-</th>
            </tr>
            </thead>
            <tbody class="font-size--smaller">
            <tr data-duice-bind="simulates" data-duice-loop="simulate,status">
                <td>
                    <label>
                        <input type="checkbox" data-duice-bind="simulate" data-duice-property="_checked"/>
                    </label>
                </td>
                <td>
                    <span data-duice-bind="status"
                          data-duice-execute="this.innerHTML=simulateSearch._count - (simulateSearch._size*simulateSearch._page + status.count) + 1;">
                    </span>
                </td>
                <td>
                    <span data-duice-bind="simulate"
                          data-duice-property="startedAt"
                          data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                </td>
                <td>
                    <span data-duice-bind="simulate"
                          data-duice-property="endedAt"
                          data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                </td>
                <td>
                    <span data-duice-bind="simulate" data-duice-property="status" class="badge"
                          data-duice-execute="
                        if(simulate.status === 'RUNNING') this.classList.add('background-color--blue');
                        if(simulate.status === 'COMPLETED') this.classList.add('background-color--green');
                        "></span>
                </td>
                <td>
                    <span data-duice-bind="simulate" data-duice-property="tradeName"></span>
                </td>
                <td>
                    <span data-duice-bind="simulate"
                          data-duice-property="dateTimeFrom"
                          data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                </td>
                <td>
                    <span data-duice-bind="simulate"
                          data-duice-property="dateTimeTo"
                          data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                </td>
                <td>
                    <span data-duice-bind="simulate" data-duice-property="investAmount" data-duice-format="number"></span>
                </td>
                <td>
                    <span data-duice-bind="simulate" data-duice-property="dateTime" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                </td>
                <td>
                    <span data-duice-bind="simulate" data-duice-property="balance.totalAmount" data-duice-format="number"></span>
                </td>
                <td>
                    <span data-duice-bind="simulate" data-duice-property="balance.balanceAssets.length" data-duice-format="number"></span>
                </td>
                <td>
                    <span data-duice-bind="simulate" data-duice-property="orders.length" data-duice-format="number"></span>
                </td>
                <td>
                    <button type="button" class="small"
                            data-duice-bind="simulate"
                            data-duice-execute="this.dataset.simulateId = simulate.simulateId;"
                            onclick="getSimulate(this.dataset.simulateId);">
                        <img class="icon" data-th-src="@{/static/image/icon-detail.svg}" alt="detail"/>
                        <span data-th-text="#{web.global.detail}"></span>
                    </button>
                </td>
            </tr>
            <tr data-duice-bind="simulates" data-duice-if="return simulates.length === 0;">
                <td colspan="100%" class="text-align--center">No Data</td>
            </tr>
            </tbody>
        </table>
        <div class="display--grid grid-template-columns--12 padding--1em">
            <div class="grid-column--4 font-size--smaller">
                <span data-th-text="#{web.global.total}"></span>
                <span data-duice-bind="simulateSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                <span data-th-text="#{web.global.rows}"></span>
            </div>
            <div class="grid-column--4 justify-self--center">
                <duice-pagination
                        data-duice-bind="simulateSearch"
                        data-duice-size-property="_size"
                        data-duice-page-property="_page"
                        data-duice-count-property="_count"
                        data-duice-onclick="getSimulates(this.dataset.page);">
                </duice-pagination>
            </div>
            <div class="grid-column--4">
            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: simulates                     -->
    <!-- ================================== -->

    <th:block th:fragment="simulateDialog">
    <!-- ====================================== -->
    <!-- start: simulateDialog                  -->
    <!-- ====================================== -->
    <style th:inline="css">
        #simulateDialog{
            width: 100vw;
            height: 100vh;
            padding: 1rem;
        }
    </style>

    <dialog id="simulateDialog">
        <h2>
            <img class="icon" th:src="@{/static/image/icon-simulate.svg}" alt="simulate"/>
            <span data-th-text="#{fintics.Simulate}"></span>
        </h2>
        <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em grid-column-gap--2em padding-y--1em s__padding-y--0">
            <div class="grid-column--12 display--grid grid-template-columns--12 grid-gap--1em">
                <label class="grid-column--3">
                    <span data-th-text="#{fintics.Trade.interval}" class="font-weight--bold tag-required"></span>
                    <input type="number" data-duice-bind="simulateDialog.simulate.trade" data-duice-property="interval" class="width--100"/>
                </label>
                <label class="grid-column--3">
                    <span data-th-text="#{fintics.Trade.threshold}" class="font-weight--bold tag-required"></span>
                    <input type="number" data-duice-bind="simulateDialog.simulate.trade" data-duice-property="threshold" class="width--100"/>
                </label>
                <label class="grid-column--3">
                    <span data-th-text="#{fintics.Trade.startAt}" class="font-weight--bold"></span>
                    <input type="time" data-duice-bind="simulateDialog.simulate.trade" data-duice-property="startAt" class="width--100"/>
                </label>
                <label class="grid-column--3">
                    <span data-th-text="#{fintics.Trade.endAt}" class="font-weight--bold"></span>
                    <input type="time" data-duice-bind="simulateDialog.simulate.trade" data-duice-property="endAt" class="width--100"/>
                </label>
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Trade.holdCondition}" class="width--100 font-weight--bold"></span>
                    <duice-codemirror class="font-size--smaller" style="height:150px;"
                                      data-duice-bind="simulateDialog.simulate.trade"
                                      data-duice-property="holdCondition"
                                      data-duice-mode="groovy"
                                      data-duice-theme="dracula">
                    </duice-codemirror>
                </label>
                <div class="grid-column--6">
                    <span class="width--100 font-weight--bold" data-th-text="#{fintics.TradeAsset}"></span>
                    <div class="overflow-y--scroll border-x--1" style="height:150px;">
                        <table class="width--100 font-size--smaller border--0">
                            <colgroup>
                                <col/>
                                <col/>
                                <col style="width:10em;"/>
                                <col style="width:10em;"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{fintics.TradeAsset.assetId}"></th>
                                <th data-th-text="#{fintics.TradeAsset.assetName}"></th>
                                <th data-th-text="#{fintics.TradeAsset.enabled}"></th>
                                <th data-th-text="#{fintics.TradeAsset.holdRatio}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="simulateDialog.simulate.trade.tradeAssets" data-duice-loop="tradeAsset,status">
                                <td data-duice-bind="tradeAsset" data-duice-property="assetId"></td>
                                <td data-duice-bind="tradeAsset" data-duice-property="assetName"></td>
                                <td>
                                    <label>
                                        <input type="checkbox" data-duice-bind="tradeAsset" data-duice-property="enabled"/>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="number" data-duice-bind="tradeAsset" data-duice-property="holdRatio" class="width--50"/>
                                        %
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <label class="grid-column--3">
                <span th:text="#{fintics.Simulate.dateTimeFrom}" class="font-weight--bold tag-required"></span>
                <input class="width--100" type="datetime-local" data-duice-bind="simulateDialog.simulate" data-duice-property="dateTimeFrom"/>
            </label>
            <label class="grid-column--3">
                <span th:text="#{fintics.Simulate.dateTimeTo}" class="font-weight--bold tag-required"></span>
                <input class="width--100" type="datetime-local" data-duice-bind="simulateDialog.simulate" data-duice-property="dateTimeTo"/>
            </label>
            <label class="grid-column--3">
                <span data-th-text="#{fintics.Simulate.investAmount}" class="font-weight--bold tag-required"></span>
                <input class="width--100" type="number" data-duice-bind="simulateDialog.simulate" data-duice-property="investAmount" data-duice-format="number"/>
            </label>
            <label class="grid-column--3">
                <span data-th-text="#{fintics.Simulate.feeRate}" class="font-weight--bold tag-required"></span>
                <input class="width--100" type="number" data-duice-bind="simulateDialog.simulate" data-duice-property="feeRate" data-duice-format="number(4)"/>
            </label>
            <div class="grid-column--12 justify-self--end">
                <button type="button" onclick="simulateDialog.prepareSimulate();">
                    <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                    <span data-th-text="#{web.global.search}"></span>
                </button>
                <button type="button" onclick="simulateDialog.runSimulate();"
                        data-duice-bind="simulateDialog.simulate"
                        data-duice-if="return simulateDialog.simulate.status !== 'RUNNING';">
                    <img class="icon" th:src="@{/static/image/icon-run.svg}" alt="run"/>
                    <span data-th-text="#{web.global.run}"></span>
                </button>
                <button type="button" onclick="simulateDialog.stopSimulate();"
                        data-duice-bind="simulateDialog.simulate"
                        data-duice-if="return simulateDialog.simulate.status === 'RUNNING';">
                    <img class="icon" th:src="@{/static/image/icon-stop.svg}" alt="stop"/>
                    <span data-th-text="#{web.global.stop}"></span>
                </button>
            </div>
        </form>
        <div class="padding-y--1em s__padding--0">
            <div>
                <button id="simulateDialog-assetTabButton" type="button" class="tab">
                    <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
                    <span data-th-text="#{fintics.Asset}"></span>
                </button>
                <button id="simulateDialog-indiceTabButton" type="button" class="tab">
                    <img class="icon" th:src="@{/static/image/icon-indice.svg}" alt="indice"/>
                    <span data-th-text="#{fintics.Indice}"></span>
                </button>
                <hr class="margin--1px"/>
            </div>
            <div id="simulateDialog-assetTabContent" class="display--grid grid-template-columns--12">
                <div class="grid-column--4" style="height:200px;">
                    <canvas id="simulateDialog-assetDailyOhlcvsChart"></canvas>
                </div>
                <div class="grid-column--8" style="height:200px;">
                    <canvas id="simulateDialog-assetMinuteOhlcvsChart"></canvas>
                </div>
            </div>
            <div id="simulateDialog-indiceTabContent" class="display--grid grid-template-columns--12">
                <div class="grid-column--4" style="height:200px;">
                    <canvas id="simulateDialog-indiceDailyOhlcvsChart"></canvas>
                </div>
                <div class="grid-column--8" style="height:200px;">
                    <canvas id="simulateDialog-indiceMinuteOhlcvsChart"></canvas>
                </div>
            </div>
        </div>
        <div class="display--grid grid-template-columns--12 padding--1em padding-y--2em s__padding--0">
            <div class="grid-column--12">
                <span class="font-weight--bold" data-th-text="#{web.global.log}"></span>
                <textarea id="simulateDialog-log" class="width--100" style="min-height:200px; background-color:black; color:white;"></textarea>
            </div>
            <div class="grid-column--12">
                <div>
                    <button id="simulateDialog-balanceTabButton" type="button" class="tab">
                        <img class="icon" th:src="@{/static/image/icon-balance.svg}" alt="balance"/>
                        <span data-th-text="#{fintics.Balance}"></span>
                    </button>
                    <button id="simulateDialog-orderTabButton" type="button" class="tab">
                        <img class="icon" th:src="@{/static/image/icon-order.svg}" alt="indice"/>
                        <span data-th-text="#{fintics.Order}"></span>
                    </button>
                    <hr class="margin--1px"/>
                </div>
                <div id="simulateDialog-balanceTabContent">
                    <div class="display--grid grid-template-columns--12 grid-gap--1em padding-x--1em padding-y--1em s__padding-y--0">
                        <label class="grid-column--6">
                            <img class="icon" th:src="@{/static/image/icon-datetime.svg}" alt="datetime"/>
                            <input type="datetime-local" id="simulateDialog-dateTime" class="font-weight--bold" readonly/>
                        </label>
                        <label class="grid-column--6 justify-self--end">
                            <span data-th-text="#{fintics.Balance.totalAmount}" class="font-weight--bold"></span>
                            <input class="font-weight--bold" type="number" data-duice-bind="simulateDialog.simulate.balance" data-duice-property="totalAmount" data-duice-format="number" readonly/>
                        </label>
                    </div>
                    <div class="overflow-y--scroll border-x--1" style="max-height:300px;">
                        <table class="width--100 font-size--smaller text-align--center border--0">
                            <colgroup>
                                <col style="width:5em;"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.global.no}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.assetId}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.assetName}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.quantity}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.purchaseAmount}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.valuationAmount}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.profitAmount}" class="text-align--center"></th>
                                <th>-</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="simulateDialog.simulate.balance.balanceAssets"
                                data-duice-loop="balanceAsset,status">
                                <td>
                                    <span data-duice-bind="status" data-duice-property="count"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="assetId"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="assetName"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="quantity" data-duice-format="number"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="purchaseAmount" data-duice-format="number"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="valuationAmount" data-duice-format="number"></span>
                                </td>
                                <td class="text-align--center">
                                    <span data-duice-bind="balanceAsset" data-duice-property="profitAmount" data-duice-format="number"
                                          data-duice-execute="
                                          if(balanceAsset.profitAmount > 0) this.classList.add('color--red');
                                          if(balanceAsset.profitAmount < 0) this.classList.add('color--blue');
                                          ">
                                    ></span>
                                </td>
                                <td>
                                    <button type="button"
                                            class="small"
                                            data-duice-bind="balanceAsset.links"
                                            data-duice-loop="link,status"
                                            data-duice-execute="
                                            this.dataset.url=link.url;
                                            this.addEventListener('click', () => { _openLink(this.dataset.url,'_blank'); })">
                                        <img class="icon" th:src="@{/static/image/icon-open.svg}" alt="link"/>
                                        <span class="font-weight--bold" data-duice-bind="link" data-duice-property="name"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr data-duice-bind="simulateDialog.simulate.balance.balanceAssets" data-duice-execute="if(simulateDialog.simulate.balance.balanceAssets.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align--center">No Date</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="simulateDialog-orderTabContent">
                    <div class="overflow-y--scroll border-x--1" style="max-height:300px;">
                        <table class="width--100 font-size--smaller text-align--center border--0">
                            <colgroup>
                                <col style="width:5em;"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.global.no}"></th>
                                <th data-th-text="#{fintics.Order.orderAt}"></th>
                                <th data-th-text="#{fintics.Order.type}"></th>
                                <th data-th-text="#{fintics.Asset.assetName}"></th>
                                <th data-th-text="#{fintics.Order.quantity}"></th>
                                <th data-th-text="#{fintics.Order.price}"></th>
                                <th data-th-text="#{fintics.Order.result}"></th>
                                <th data-th-text="#{fintics.Order.errorMessage}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="simulateDialog.simulate.orders" data-duice-loop="order,status">
                                <td>
                                    <span data-duice-bind="status" data-duice-property="count"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="order" data-duice-property="orderAt" data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                                </td>
                                <td>
                                <span class="badge"
                                      data-duice-bind="order"
                                      data-duice-property="type"
                                      data-duice-execute="
                                        if(order.type === 'BUY') this.classList.add('background-color--red');
                                        if(order.type === 'SELL') this.classList.add('background-color--blue');
                                        "></span>
                                </td>
                                <td>
                                    <span data-duice-bind="order" data-duice-property="assetName"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="order" data-duice-property="quantity" data-duice-format="number"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="order" data-duice-property="price" data-duice-format="number"></span>
                                </td>
                                <td>
                                <span data-duice-bind="order" data-duice-property="result" class="badge"
                                      data-duice-execute="
                                        if(order.result === 'COMPLETED') this.classList.add('background-color--green');
                                        if(order.result === 'FAILED') this.classList.add('background-color--red');
                                        "></span>
                                </td>
                                <td>
                                    <span data-duice-bind="order" data-duice-property="errorMessage"></span>
                                </td>
                            </tr>
                            <tr data-duice-bind="simulateDialog.simulate.orders" data-duice-if="return simulateDialog.simulate.orders.length === 0;" hidden>
                                <td colspan="100%" class="text-align--center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
    <script th:inline="javascript">
        const simulateDialog = {
            dialog: new duice.dialog.Dialog(document.getElementById('simulateDialog')),
            simulate: new duice.ObjectProxy({
                simulateId: null,
                trade: {
                    tradeAssets: []
                },
                dateTimeFrom: dateFns.startOfDay(dateFns.subDays(new Date(),3)).toISOString(),
                dateTimeTo: dateFns.endOfDay(Date()).toISOString(),
                investAmount: 10_000_000,
                feeRate: 0.01,
                dateTime: null,
                balance: {
                    balanceAssets: []
                },
                orders: []
            }),
            assetMinuteOhlcvChart: null,
            assetDailyOhlcvChart: null,
            indiceMinuteOhlcvChart: null,
            indiceDailyOhlcvChart: null,
            subscribeLog: null,
            subscribeDateTime: null,
            subscribeBalance: null,
            subscribeOrders: null,
            dateTime: document.getElementById('simulateDialog-dateTime'),
            log: document.getElementById('simulateDialog-log'),
            initialize: function() {
                // initialize chart
                this.indiceDailyOhlcvsChart = _createDailyOhlcvsChart('simulateDialog-indiceDailyOhlcvsChart');
                this.indiceMinuteOhlcvsChart = _createMinuteOhlcvsChart('simulateDialog-indiceMinuteOhlcvsChart');
                this.assetDailyOhlcvsChart = _createDailyOhlcvsChart('simulateDialog-assetDailyOhlcvsChart');
                this.assetMinuteOhlcvsChart = _createMinuteOhlcvsChart('simulateDialog-assetMinuteOhlcvsChart');
                // chart tab
                let chartTabFolder = duice.tabFolder(
                    duice.tabItem(
                        document.getElementById('simulateDialog-assetTabButton'),
                        document.getElementById('simulateDialog-assetTabContent'),
                        () => {}),
                    duice.tabItem(
                        document.getElementById('simulateDialog-indiceTabButton'),
                        document.getElementById('simulateDialog-indiceTabContent'),
                        () => {})
                );
                chartTabFolder.setActive(0);

                // result tab
                let resultTabFolder = duice.tabFolder(
                    duice.tabItem(
                        document.getElementById('simulateDialog-balanceTabButton'),
                        document.getElementById('simulateDialog-balanceTabContent'),
                        () => {}),
                    duice.tabItem(
                        document.getElementById('simulateDialog-orderTabButton'),
                        document.getElementById('simulateDialog-orderTabContent'),
                        () => {})
                );
                resultTabFolder.setActive(0);
            },
            openForNew: function(simulate) {
                duice.ObjectProxy.assign(this.simulate, simulate);
                this.simulate.simulateId = null;
                return this.dialog.open();
            },
            openForEdit: function(simulateId) {
                let _this = this;
                let url = new URL(`${_apiUrl}/v1/simulates/${simulateId}`, document.location.origin);
                _fetch(url)
                    .then(response => response.json())
                    .then(simulate => {
                        duice.ObjectProxy.assign(_this.simulate, simulate);
                        _this.listenSimulate();
                    });
                return this.dialog.open();
            },
            prepareSimulate: function() {
                // asset indicator
                const assetIndicatorPromises = this.simulate.trade.tradeAssets
                    .filter(tradeAsset => tradeAsset.enabled)
                    .map(async tradeAsset => {
                        let url = new URL(`${_apiUrl}/v1/assets/${tradeAsset.assetId}/indicator`, document.location.origin);
                        url.searchParams.append('dateTimeFrom', this.simulate.dateTimeFrom);
                        url.searchParams.append('dateTimeTo', this.simulate.dateTimeTo);
                        return await _fetch(url, null, true);
                    });
                Promise.all(assetIndicatorPromises).then(responses => {
                    return Promise.all(responses.map(response => response.json()));
                }).then(assetIndicators => {
                    let dateFrom = new Date(this.simulate.dateTimeFrom);
                    let dateTo = new Date(this.simulate.dateTimeTo);
                    // asset chart
                    this.assetDailyOhlcvsChart.data.datasets.length = 0;
                    this.assetMinuteOhlcvsChart.data.datasets.length = 0;
                    assetIndicators.forEach(assetIndicator => {
                        // daily
                        let dailyOhlcvs = assetIndicator['dailyOhlcvs'];
                        let dailyTimeSeries = _createTimeSeries(dateFns.subMonths(dateFrom,1), dateTo, dailyOhlcvs);
                        let dailyDataset = {
                            assetId: assetIndicator.assetId,
                            label: assetIndicator.assetName,
                            data: dailyTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        this.assetDailyOhlcvsChart.data.datasets.push(dailyDataset);

                        // minute
                        let minuteOhlcvs = assetIndicator['minuteOhlcvs'];
                        let minuteTimeSeries = _createTimeSeries(dateFrom, dateTo, minuteOhlcvs);
                        let minuteDataset = {
                            assetId: assetIndicator.assetId,
                            label: assetIndicator.assetName,
                            data: minuteTimeSeries,
                            borderWidth: 1,
                            pointStyle: new Array(minuteTimeSeries.length).fill(false)
                        };
                        this.assetMinuteOhlcvsChart.data.datasets.push(minuteDataset);
                    });
                    this.assetDailyOhlcvsChart.update();
                    this.assetMinuteOhlcvsChart.update();
                });

                // indice asset indicator
                const indices = /*[[${indices}]]*/[];
                const indiceIndicatorPromises = indices.map(async indice => {
                    let url = new URL(`${_apiUrl}/v1/indices/${indice.indiceId}/indicator`, document.location.origin);
                    url.searchParams.append('dateTimeFrom', this.simulate.dateTimeFrom);
                    url.searchParams.append('dateTimeTo', this.simulate.dateTimeTo);
                    return await _fetch(url, null, true);
                });
                Promise.all(indiceIndicatorPromises).then(responses => {
                    return Promise.all(responses.map(response => response.json()));
                }).then(indiceIndicators => {
                    let dateFrom = new Date(this.simulate.dateTimeFrom);
                    let dateTo = new Date(this.simulate.dateTimeTo);
                    // indice chart
                    this.indiceDailyOhlcvsChart.data.datasets.length = 0;
                    this.indiceMinuteOhlcvsChart.data.datasets.length = 0;
                    indiceIndicators.forEach(indiceIndicator => {
                        // daily
                        let dailyOhlcvs = indiceIndicator['dailyOhlcvs'];
                        let dailyTimeSeries = _createTimeSeries(dateFns.subMonths(dateFrom,1) , dateTo, dailyOhlcvs);
                        let dailyDataset = {
                            label: indiceIndicator.indicatorName,
                            data: dailyTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        this.indiceDailyOhlcvsChart.data.datasets.push(dailyDataset);
                        // minute
                        let minuteOhlcvs = indiceIndicator['minuteOhlcvs'];
                        let minuteTimeSeries = _createTimeSeries(dateFrom, dateTo, minuteOhlcvs);
                        let minuteDataset = {
                            label: indiceIndicator.indicatorName,
                            data: minuteTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        this.indiceMinuteOhlcvsChart.data.datasets.push(minuteDataset);
                    });
                    this.indiceDailyOhlcvsChart.update();
                    this.indiceMinuteOhlcvsChart.update();
                });
            },
            runSimulate: function() {
                this.clearMarkOrderAtChart();
                let url = new URL(`${_apiUrl}/v1/simulates`, document.location.origin);
                _fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.simulate)
                }).then(async response => {
                    console.log(response);
                    if (!response.ok) {
                        duice.alert(response);
                    }
                    let data = await response.json();
                    this.simulate.simulateId = data.simulateId;
                    this.simulate.status = 'RUNNING';
                    this.listenSimulate();
                });
            },
            listenSimulate: function() {
                // websocket
                let _this = this;
                this.log.value = '';
                _webSocketClient.unsubscribe(this.subscribeLog);
                this.subscribeLog = _webSocketClient.subscribe({
                    destination: `/simulates/${_this.simulate.simulateId}/log`,
                    listener: function (frame) {
                        if (_this.log.value.length > 100_000) {
                            _this.log.value = '';
                        }
                        _this.log.value += frame.body + '\n';
                        _this.log.scrollTop = _this.log.scrollHeight;
                    }
                });
                _webSocketClient.unsubscribe(this.subscribeDateTime);
                this.subscribeDateTime = _webSocketClient.subscribe({
                    destination: `/simulates/${_this.simulate.simulateId}/dateTime`,
                    listener: function(frame) {
                        _this.dateTime.value = JSON.parse(frame.body);
                    }
                });
                _webSocketClient.unsubscribe(this.subscribeBalance);
                this.subscribeBalance = _webSocketClient.subscribe({
                    destination: `/simulates/${_this.simulate.simulateId}/balance`,
                    listener: function(frame) {
                        let balance = JSON.parse(frame.body);
                        duice.ObjectProxy.assign(_this.simulate.balance, balance);
                    }
                });
                _webSocketClient.unsubscribe(this.subscribeOrders);
                this.subscribeOrders = _webSocketClient.subscribe({
                    destination: `/simulates/${_this.simulate.simulateId}/orders`,
                    listener: function(frame) {
                        let orders = JSON.parse(frame.body);
                        if(orders.length !== _this.simulate.orders.length) {
                            duice.ObjectProxy.assign(_this.simulate.orders, orders);
                            //_this.setMarkOrdersAtChart(orders);
                        }
                    }
                });
            },
            clearMarkOrderAtChart: function() {
                this.assetMinuteOhlcvsChart.data.datasets.forEach((dataset) => {
                    dataset.pointStyle = new Array(dataset.data.length).fill(false);
                    dataset.pointBorderColor = new Array(dataset.data.length).fill(false);
                    dataset.pointBackgroundColor = new Array(dataset.data.length).fill(false);
                });
                this.assetMinuteOhlcvsChart.update();
            },
            setMarkOrdersAtChart: function(orders) {
                orders.forEach(order => {
                    this.setMarkOrderAtChart(order);
                });
            },
            setMarkOrderAtChart: function(order) {
                // find dataset
                let dataset = this.assetMinuteOhlcvsChart.data.datasets.find((dataset) => dataset.assetId === order.assetId);
                // find index by order at
                let index = dataset.data.findIndex((ohlcv) => {
                    return dateFns.isEqual(dateFns.startOfMinute(new Date(ohlcv.dateTime)), dateFns.startOfMinute(new Date(order.orderAt)));
                });
                // buy
                if(order.type === 'BUY') {
                    dataset.pointStyle[index] = 'circle';
                    dataset.pointBorderColor[index] = 'red';
                    dataset.pointBackgroundColor[index] = 'red';
                }
                // sell
                if(order.type === 'SELL') {
                    dataset.pointStyle[index] = 'rect';
                    dataset.pointBorderColor[index] = 'blue';
                    dataset.pointBackgroundColor[index] = 'blue';
                }
                // update
                this.assetMinuteOhlcvsChart.update();
            },
            stopSimulate: function() {
                let url = new URL(`${_apiUrl}/v1/simulates/${this.simulate.simulateId}/stop`, document.location.origin);
                _fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    console.log(response);
                    this.simulate.status = 'STOPPED';
                });
            },
            close: function() {
                this.dialog.close();
            }
        }
        simulateDialog.initialize();
    </script>
    <!-- ====================================== -->
    <!-- end: simulateDialog                    -->
    <!-- ====================================== -->
    </th:block>

</th:block>
