<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:src="@{/static/fintics.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:inline="javascript">
        const simulateSearch = new duice.ObjectProxy({
            tradeId: null,
            _page: 0,
            _size: 20,
            _count: 0
        });
        duice.ObjectProxy.onPropertyChanged(simulateSearch, () => {
            simulateSearch._page = 0;
            getSimulates();
        });
        const simulates = new duice.ArrayProxy([]);
        const trades = new duice.ArrayProxy([]);

        function getSimulates(page) {
            if(page) {
                simulateSearch._page = page;
            }
            let url = new URL(`${_apiUrl}/v1/simulates`, document.location.origin);
            if(simulateSearch.tradeId) {
                url.searchParams.append('tradeId', simulateSearch.tradeId);
            }

            url.searchParams.append('_page', simulateSearch._page);
            url.searchParams.append('_size', simulateSearch._size);
            _fetch(url)
                .then(response => {
                    simulateSearch._count = _parseTotalCount(response);
                    return response.json();
                })
                .then(data => {
                    duice.ArrayProxy.assign(simulates, data);
                });
        }

        function getTrades() {
            let url = new URL(`${_apiUrl}/v1/trades`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.assign(trades, data);
                });
        }

        function createSimulate() {
            simulateDialog.open();
        }

        document.addEventListener('DOMContentLoaded', () => {
            getSimulates();
            getTrades();
        });
    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-simulate.svg}" alt="simulate"/>
        <span data-th-text="#{fintics.Simulate}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: simulates                   -->
    <!-- ================================== -->
    <div class="border--1 padding--1em" style="min-height:400px;">
        <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em margin-x--1em">
            <label class="grid-column--3 s__grid-column--12">
                <select class="width--100"
                        data-duice-bind="simulateSearch"
                        data-duice-property="tradeId"
                        data-duice-option="trades"
                        data-duice-option-value-property="tradeId"
                        data-duice-option-text-property="tradeName">
                    <option value="" data-th-text="'- ' + #{fintics.Trade} + ' -'"></option>
                </select>
            </label>
            <div class="grid-column--9 s__grid-column--12 justify-self--end">
                <button onclick="createSimulate();">
                    <img class="icon" data-th-src="@{/static/image/icon-create.svg}" alt="create"/>
                    <span data-th-text="#{web.global.create}"></span>
                </button>
            </div>
        </form>
        <div class="overflow-x--scroll">
            <table class="width--100">
                <colgroup>
                    <col style="width:7em;"/>
                    <col style="width:10em;"/>
                    <col style="width:10em;"/>
                    <col style="width:10em;"/>
                    <col/>
                    <col style="width:10em;"/>
                    <col style="width:10em;"/>
                    <col style="width:10em;"/>
                </colgroup>
                <thead>
                <tr>
                    <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                    <th data-th-text="#{fintics.Simulate.startedAt}"></th>
                    <th data-th-text="#{fintics.Simulate.endedAt}"></th>
                    <th data-th-text="#{fintics.Simulate.status}"></th>
                    <th data-th-text="#{fintics.Trade.tradeName}"></th>
                    <th data-th-text="#{fintics.Simulate.dateTimeFrom}"></th>
                    <th data-th-text="#{fintics.Simulate.dateTimeTo}"></th>
                    <th>-</th>
                </tr>
                </thead>
                <tbody>
                <tr data-duice-bind="simulates" data-duice-loop="simulate,status">
                    <td class="text-align--center">
                        <span class="font-size--smaller"
                              data-duice-bind="status"
                              data-duice-execute="this.innerHTML=simulateSearch._count - (simulateSearch._size*simulateSearch._page + status.count) + 1;">
                        </span>
                    </td>
                    <td>
                        <span class="font-size--smaller"
                              data-duice-bind="simulate"
                              data-duice-property="startedAt"
                              data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                    </td>
                    <td>
                        <span class="font-size--smaller"
                              data-duice-bind="simulate"
                              data-duice-property="endedAt"
                              data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                    </td>
                    <td>
                        <span data-duice-bind="simulate" data-duice-property="status" class="font-size--smaller font-weight--bold"></span>
                    </td>
                    <td>
                        <span data-duice-bind="simulate" data-duice-property="tradeName"></span>
                    </td>
                    <td>
                        <span class="font-size--smaller"
                              data-duice-bind="simulate"
                              data-duice-property="dateTimeFrom"
                              data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                    </td>
                    <td>
                        <span class="font-size--smaller"
                              data-duice-bind="simulate"
                              data-duice-property="dateTimeTo"
                              data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                    </td>
                    <td>
                        <button>detail</button>
                    </td>
                </tr>
                <tr data-duice-bind="simulates" data-duice-execute="if(simulates.length === 0) this.hidden=false;" hidden>
                    <td colspan="100%" class="text-align--center">No Data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="display--grid grid-template-columns--12 padding--1em">
            <div class="grid-column--4 font-size--smaller">
                <span data-th-text="#{web.global.total}"></span>
                <span data-duice-bind="simulateSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                <span data-th-text="#{web.global.rows}"></span>
            </div>
            <div class="grid-column--4 justify-self--center">
                <duice-pagination
                        data-duice-bind="simulateSearch"
                        data-duice-size-property="_size"
                        data-duice-page-property="_page"
                        data-duice-count-property="_count"
                        data-duice-onclick="getSimulates(this.dataset.page);">
                </duice-pagination>
            </div>
            <div class="grid-column--4">
            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: simulates                     -->
    <!-- ================================== -->

    <!-- ================================== -->
    <!-- start: simulateDialog              -->
    <!-- ================================== -->
    <style th:inline="css">
        #simulateDialog{
            width: 100vw;
            padding: 1rem;
        }
    </style>
    <dialog id="simulateDialog">
        <h2>
            <img class="icon" th:src="@{/static/image/icon-simulate.svg}" alt="simulate"/>
            <span data-th-text="#{fintics.Simulate}"></span>
        </h2>
        <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em grid-column-gap--2em padding-y--1em s__padding-y--0">
            <label class="grid-column--3">
                <span th:text="#{fintics.Simulate.dateTimeFrom}" class="font-weight--bold tag-required"></span>
                <input class="width--100" type="datetime-local" data-duice-bind="simulateDialog.simulate" data-duice-property="dateTimeFrom"/>
            </label>
            <label class="grid-column--3">
                <span th:text="#{fintics.Simulate.dateTimeTo}" class="font-weight--bold tag-required"></span>
                <input class="width--100" type="datetime-local" data-duice-bind="simulateDialog.simulate" data-duice-property="dateTimeTo"/>
            </label>
            <label class="grid-column--3">
                <span data-th-text="#{fintics.Simulate.investAmount}" class="font-weight--bold tag-required"></span>
                <input class="width--100" type="number" data-duice-bind="simulateDialog.simulate" data-duice-property="investAmount" data-duice-format="number"/>
            </label>
            <label class="grid-column--3">
                <span data-th-text="#{fintics.Simulate.feeRate}" class="font-weight--bold tag-required"></span>
                <input class="width--100" type="number" data-duice-bind="simulateDialog.simulate" data-duice-property="feeRate" data-duice-format="number(4)"/>
            </label>
            <div class="grid-column--12 justify-self--end">
                <button type="button" onclick="simulateDialog.prepareSimulate();">
                    <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                    <span data-th-text="#{web.global.search}"></span>
                </button>
                <button type="button" onclick="simulateDialog.runSimulate();">
                    <img class="icon" th:src="@{/static/image/icon-run.svg}" alt="run"/>
                    <span data-th-text="#{web.global.run}"></span>
                </button>
                <button type="button" onclick="simulateDialog.stopSimulate();">
                    <img class="icon" th:src="@{/static/image/icon-stop.svg}" alt="stop"/>
                    <span data-th-text="#{web.global.stop}"></span>
                </button>
            </div>
        </form>
        <div class="padding-y--1em s__padding--0">
            <div>
                <button id="simulateDialog-assetTabButton" type="button" class="tab">
                    <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
                    <span data-th-text="#{fintics.Asset}"></span>
                </button>
                <button id="simulateDialog-indiceTabButton" type="button" class="tab">
                    <img class="icon" th:src="@{/static/image/icon-indice.svg}" alt="indice"/>
                    <span data-th-text="#{fintics.Indice}"></span>
                </button>
                <hr class="margin--1px"/>
            </div>
            <div id="simulateDialog-assetTabContent" class="display--grid grid-template-columns--12">
                <div class="grid-column--4" style="height:200px;">
                    <canvas id="simulateDialog-assetDailyOhlcvsChart"></canvas>
                </div>
                <div class="grid-column--8" style="height:200px;">
                    <canvas id="simulateDialog-assetMinuteOhlcvsChart"></canvas>
                </div>
            </div>
            <div id="simulateDialog-indiceTabContent" class="display--grid grid-template-columns--12">
                <div class="grid-column--4" style="height:200px;">
                    <canvas id="simulateDialog-indiceDailyOhlcvsChart"></canvas>
                </div>
                <div class="grid-column--8" style="height:200px;">
                    <canvas id="simulateDialog-indiceMinuteOhlcvsChart"></canvas>
                </div>
            </div>
        </div>
        <div class="display--grid grid-template-columns--12 padding--1em padding-y--2em s__padding--0">
            <label class="grid-column--6">
                <img class="icon" th:src="@{/static/image/icon-datetime.svg}" alt="datetime"/>
                <input type="text" data-duice-bind="simulateDialog.status" data-duice-property="dateTime" data-duice-format="date('yyyy-MM-dd HH:mm')"/>
            </label>
            <label class="grid-column--6 justify-self--end">
                <span data-th-text="#{fintics.Balance.totalAmount}" class="font-weight--bold"></span>
                <input type="number" data-duice-bind="simulateDialog.balance" data-duice-property="totalAmount" data-duice-format="number"/>
            </label>
            <div class="grid-column--12">
                <textarea id="simulateDialog.log" class="width--100" style="min-height:300px;"></textarea>
            </div>
            <div class="grid-column--12">
                <table class="width--100 font-size--smaller">
                    <colgroup>
                        <col style="width:5em;"/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                        <th data-th-text="#{fintics.BalanceAsset.assetId}"></th>
                        <th data-th-text="#{fintics.BalanceAsset.assetName}"></th>
                        <th data-th-text="#{fintics.BalanceAsset.quantity}"></th>
                        <th data-th-text="#{fintics.BalanceAsset.purchaseAmount}"></th>
                        <th data-th-text="#{fintics.BalanceAsset.valuationAmount}"></th>
                        <th data-th-text="#{fintics.BalanceAsset.profitAmount}" class="text-align--center"></thd>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="simulateDialog.balance.balanceAssets"
                        data-duice-loop="balanceAsset,status">
                        <td class="text-align--center">
                            <span data-duice-bind="status" data-duice-property="count" class="text-align--center"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="assetId"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="assetName"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="quantity" data-duice-format="number"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="purchaseAmount" data-duice-format="number"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="valuationAmount" data-duice-format="number"></span>
                        </td>
                        <td class="text-align--center">
                            <span data-duice-bind="balanceAsset" data-duice-property="profitAmount" data-duice-format="number"></span>
                        </td>
                    </tr>
                    <tr data-duice-bind="simulateDialog.balance.balanceAssets" data-duice-execute="if(simulateDialog.balance.balanceAssets.length === 0) this.hidden=false;" hidden>
                        <td colspan="100%" class="text-align--center">No Date</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </dialog>
    <script th:inline="javascript">
        const simulateDialog = {
            dialog: new duice.dialog.Dialog(document.getElementById('simulateDialog')),
            simulateId: null,
            simulate: new duice.ObjectProxy({
                balance: {
                    balanceAssets: []
                }
            }),
            status: new duice.ObjectProxy({
                dateTime: null
            }),
            balance: new duice.ObjectProxy({
                balanceAssets: []
            }),
            assetMinuteOhlcvChart: null,
            assetDailyOhlcvChart: null,
            indiceMinuteOhlcvChart: null,
            indiceDailyOhlcvChart: null,
            initialize: function() {
                // initialize chart
                this.indiceDailyOhlcvsChart = _createDailyOhlcvsChart('simulateDialog-indiceDailyOhlcvsChart');
                this.indiceMinuteOhlcvsChart = _createMinuteOhlcvsChart('simulateDialog-indiceMinuteOhlcvsChart');
                this.assetDailyOhlcvsChart = _createDailyOhlcvsChart('simulateDialog-assetDailyOhlcvsChart');
                this.assetMinuteOhlcvsChart = _createMinuteOhlcvsChart('simulateDialog-assetMinuteOhlcvsChart');
                // chart tab
                let tabFolder = duice.tabFolder(
                    duice.tabItem(
                        document.getElementById('simulateDialog-assetTabButton'),
                        document.getElementById('simulateDialog-assetTabContent'),
                        () => {}),
                    duice.tabItem(
                        document.getElementById('simulateDialog-indiceTabButton'),
                        document.getElementById('simulateDialog-indiceTabContent'),
                        () => {})
                );
                tabFolder.setActive(0);
            },
            open: async function(simulateId) {
                this.simulateId = simulateId;
                if(this.simulateId) {
                    this.getSimulate(this.simulateId);
                }
                return this.dialog.open();
            },
            getSimulate: function(simulateId) {

            },
            prepareSimulate: function() {
                // broker asset indicator
                const assetIndicatorPromises = trade.tradeAssets
                    .filter(tradeAsset => tradeAsset.enabled)
                    .map(async tradeAsset => {
                        let url = new URL(`${_apiUrl}/v1/assets/${tradeAsset.assetId}/indicator`, document.location.origin);
                        url.searchParams.append('dateTimeFrom', simulate.dateTimeFrom);
                        url.searchParams.append('dateTimeTo', simulate.dateTimeTo);
                        return await _fetch(url, null, true);
                    });
                Promise.all(assetIndicatorPromises).then(responses => {
                    return Promise.all(responses.map(response => response.json()));
                }).then(assetIndicators => {
                    let dateFrom = new Date(simulate.dateTimeFrom);
                    let dateTo = new Date(simulate.dateTimeTo);
                    // asset chart
                    this.assetDailyOhlcvsChart.data.datasets.length = 0;
                    this.assetMinuteOhlcvsChart.data.datasets.length = 0;
                    this.assetIndicators.forEach(assetIndicator => {
                        // daily
                        let dailyOhlcvs = assetIndicator['dailyOhlcvs'];
                        let dailyTimeSeries = _createTimeSeries(dateFns.subMonths(dateFrom,1), dateTo, dailyOhlcvs);
                        let dailyDataset = {
                            assetId: assetIndicator.assetId,
                            label: assetIndicator.assetName,
                            data: dailyTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        this.assetDailyOhlcvsChart.data.datasets.push(dailyDataset);

                        // minute
                        let minuteOhlcvs = assetIndicator['minuteOhlcvs'];
                        let minuteTimeSeries = _createTimeSeries(dateFrom, dateTo, minuteOhlcvs);
                        let minuteDataset = {
                            assetId: assetIndicator.assetId,
                            label: assetIndicator.assetName,
                            data: minuteTimeSeries,
                            borderWidth: 1,
                            pointStyle: new Array(minuteTimeSeries.length).fill(false)
                        };
                        this.assetMinuteOhlcvsChart.data.datasets.push(minuteDataset);
                    });
                    this.assetDailyOhlcvsChart.update();
                    this.assetMinuteOhlcvsChart.update();
                });

                // indice asset indicator
                const indices = /*[[${indices}]]*/[];
                const indiceIndicatorPromises = indices.map(async indice => {
                    let url = new URL(`${_apiUrl}/v1/indices/${indice.indiceId}/indicator`, document.location.origin);
                    url.searchParams.append('dateTimeFrom', simulate.dateTimeFrom);
                    url.searchParams.append('dateTimeTo', simulate.dateTimeTo);
                    return await _fetch(url, null, true);
                });
                Promise.all(indiceIndicatorPromises).then(responses => {
                    return Promise.all(responses.map(response => response.json()));
                }).then(indiceIndicators => {
                    let dateFrom = new Date(simulate.dateTimeFrom);
                    let dateTo = new Date(simulate.dateTimeTo);
                    // indice chart
                    this.indiceDailyOhlcvsChart.data.datasets.length = 0;
                    this.indiceMinuteOhlcvsChart.data.datasets.length = 0;
                    indiceIndicators.forEach(indiceIndicator => {
                        // daily
                        let dailyOhlcvs = indiceIndicator['dailyOhlcvs'];
                        let dailyTimeSeries = _createTimeSeries(dateFns.subMonths(dateFrom,1) , dateTo, dailyOhlcvs);
                        let dailyDataset = {
                            label: indiceIndicator.indicatorName,
                            data: dailyTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        this.indiceDailyOhlcvsChart.data.datasets.push(dailyDataset);
                        // minute
                        let minuteOhlcvs = indiceIndicator['minuteOhlcvs'];
                        let minuteTimeSeries = _createTimeSeries(dateFrom, dateTo, minuteOhlcvs);
                        let minuteDataset = {
                            label: indiceIndicator.indicatorName,
                            data: minuteTimeSeries,
                            borderWidth: 1,
                            pointStyle: false
                        };
                        this.indiceMinuteOhlcvsChart.data.datasets.push(minuteDataset);
                    });
                    this.indiceDailyOhlcvsChart.update();
                    this.indiceMinuteOhlcvsChart.update();
                });
            },
            runSimulate: function() {
                this.clearMarkOrderAtChart();
                let url = new URL(`${_apiUrl}/v1/simulates`, document.location.origin);
                _fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(simulate)
                }).then(async response => {
                    console.log(response);
                    if (!response.ok) {
                        duice.alert(response);
                    }
                    let data = await response.json();
                    this.simulate.simulateId = data.simulateId;

                    // websocket
                    let simulateLog = document.getElementById('simulateLog');
                    simulateLog.value = '';
                    _webSocketClient.unsubscribe(subscribeLog);
                    subscribeLog = _webSocketClient.subscribe({
                        destination: `/simulates/${simulate.simulateId}/log`,
                        listener: function (frame) {
                            if (simulateLog.value.length > 100_000) {
                                simulateLog.value = '';
                            }
                            simulateLog.value += frame.body + '\n';
                            simulateLog.scrollTop = simulateLog.scrollHeight;
                        }
                    });
                    _webSocketClient.unsubscribe(subscribeStatus);
                    subscribeStatus = _webSocketClient.subscribe({
                        destination: `/simulates/${simulate.simulateId}/status`,
                        listener: function(frame) {
                            let status = JSON.parse(frame.body);
                            duice.ObjectProxy.assign(simulateStatus, status);
                        }
                    });
                    _webSocketClient.unsubscribe(subscribeBalance);
                    subscribeBalance = _webSocketClient.subscribe({
                        destination: `/simulates/${simulate.simulateId}/balance`,
                        listener: function(frame) {
                            let balance = JSON.parse(frame.body);
                            duice.ObjectProxy.assign(simulateBalance, balance);
                        }
                    });
                    _webSocketClient.unsubscribe(subscribeOrder);
                    subscribeOrder = _webSocketClient.subscribe({
                        destination: `/simulates/${simulate.simulateId}/order`,
                        listener: function(frame) {
                            let order = JSON.parse(frame.body);
                            this.setMarkOrderAtChart(order);
                        }
                    });
                });
            },
            clearMarkOrderAtChart: function() {
                this.assetMinuteOhlcvsChart.data.datasets.forEach((dataset) => {
                    dataset.pointStyle = new Array(dataset.data.length).fill(false);
                    dataset.pointBorderColor = new Array(dataset.data.length).fill(false);
                    dataset.pointBackgroundColor = new Array(dataset.data.length).fill(false);
                });
                this.assetMinuteOhlcvsChart.update();
            },
            setMarkOrderAtChart: function() {
                // find dataset
                let dataset = assetMinuteOhlcvsChart.data.datasets.find((dataset) => dataset.assetId === order.assetId);
                // find index by order at
                let index = dataset.data.findIndex((ohlcv) => {
                    return dateFns.isEqual(dateFns.startOfMinute(new Date(ohlcv.dateTime)), dateFns.startOfMinute(new Date(order.orderAt)));
                });
                // buy
                if(order.type === 'BUY') {
                    dataset.pointStyle[index] = 'circle';
                    dataset.pointBorderColor[index] = 'red';
                    dataset.pointBackgroundColor[index] = 'red';
                }
                // sell
                if(order.type === 'SELL') {
                    dataset.pointStyle[index] = 'rect';
                    dataset.pointBorderColor[index] = 'blue';
                    dataset.pointBackgroundColor[index] = 'blue';
                }
                // update
                this.assetMinuteOhlcvsChart.update();
            },
            close: function() {
                this.dialog.close();
            }
        }
        simulateDialog.initialize();
    </script>
    <!-- ================================== -->
    <!-- end: simulateDialog                -->
    <!-- ================================== -->

</th:block>
