<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const strategyId = /*[[${strategyId}]]*/'';
        const strategy = new duice.ObjectProxy({
            strategyId: null,
            name: null
        });

        /**
         * gets strategy
         * @param strategyId
         */
        function getStrategy(strategyId) {
            let url = new URL(`${_apiUrl}/v1/strategies/${strategyId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(strategy, data);
                });
        }

        /**
         * saves strategy
         * @returns {Promise<boolean>}
         */
        async function saveStrategy() {
            if(!strategy.name) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Strategy.name})}]]*/'');
                duice.ObjectProxy.focus(strategy, 'name');
                return false;
            }
            if(!strategy.language) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Strategy.language})}]]*/'');
                duice.ObjectProxy.focus(strategy, 'language');
                return false;
            }
            _confirm(/*[[#{web.global.saveItemConfirm(#{fintics.Strategy})}]]*/'')
                .then(result => {
                    if (result) {
                        let url;
                        let method;
                        if(!strategyId) {
                            url = `${_apiUrl}/v1/strategies`;
                            method = 'POST';
                        }else{
                            url = `${_apiUrl}/v1/strategies/${strategy.strategyId}`;
                            method = 'PUT';
                        }
                        _fetch(new URL(url, document.location.origin), {
                            method: method,
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(strategy)
                        }).then(response => response.json())
                            .then(data => {
                                _alert(/*[[#{web.global.saveItemComplete(#{fintics.Strategy})}]]*/'')
                                    .then(() => {
                                        if(strategy.strategyId) {
                                            duice.ObjectProxy.clear(strategy);
                                            duice.ObjectProxy.assign(strategy, data);
                                        }else{
                                            document.location.href = `${_rootUrl}/strategy?strategyId=${data.strategyId}`;
                                        }
                                    });
                            });
                    }
                });
        }

        /**
         * deletes strategy
         * @returns {Promise<void>}
         */
        async function deleteStrategy() {
            if (await _confirm(/*[[#{web.global.deleteItemConfirm(#{fintics.Strategy})}]]*/'')) {
                let url = new URL(`${_apiUrl}/v1/strategies/${strategy.strategyId}`, document.location.origin);
                _fetch(url, {
                    method: 'DELETE'
                }).then(async response => {
                    if (response.ok) {
                        await _alert(/*[[#{web.global.deleteItemComplete(#{fintics.Strategy})}]]*/'');
                        document.location.href = `${_rootUrl}/strategies`;
                    }
                });
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            if(strategyId) {
                getStrategy(strategyId);
            }
        });
    </script>
    <style th:inline="css">
        #simulateLog {
            padding-top: 0.5em;
            line-height: 1.2em;
            background-color: #222;
            color: white;
            font-family: monospace;
            font-size: smaller;
        }
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-strategy.svg}" alt="variable"/>
        <span data-th-text="#{fintics.Strategy}"></span>
        <small>|</small>
        <span data-duice-bind="strategy" data-duice-property="name"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: strategy                        -->
    <!-- ====================================== -->
    <div class="display--flex flex-direction--column border--1 padding--1em">
        <div class="display--flex flex-direction--column gap--1em padding--1em s__padding-y--0">
            <form class="display--grid grid-template-columns--12 grid-gap--1em grid-column-gap--2em">
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Strategy.name}" class="font-weight--bold tag-required"></span>
                    <input type="text" data-duice-bind="strategy" data-duice-property="name"
                           class="width--100 font-weight--bold"/>
                </label>
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Strategy.language}" class="font-weight--bold tag-required"></span>
                    <select data-duice-bind="strategy" data-duice-property="language" class="width--100">
                        <option data-th-text="'- ' + #{web.global.select} + ' -'"></option>
                        <option th:each="language : ${languages}" th:value="${language}" th:text="${language}"></option>
                    </select>
                </label>
                <div class="grid-column--12">
                    <div>
                        <span data-th-text="#{fintics.Strategy.variables}" class="font-weight--bold width--100"></span>
                    </div>
                    <duice-codemirror class="border--1 code"
                                      data-duice-bind="strategy"
                                      data-duice-property="variables">
                    </duice-codemirror>
                </div>
                <div class="grid-column--12">
                    <div class="display--flex justify-content--space-between margin--1px padding--1px">
                        <div>
                            <span data-th-text="#{fintics.Strategy.script}" class="font-weight--bold width--100"></span>
                        </div>
                    </div>
                    <duice-codemirror class="code" style="height:100vh;"
                                      data-duice-bind="strategy"
                                      data-duice-property="script"
                                      data-duice-mode="groovy"
                                      data-duice-theme="dracula">
                    </duice-codemirror>
                </div>
            </form>
            <div class="text-align--right">
                <button type="button"
                        data-duice-bind="strategy"
                        th:classappend="!${#authorization.expression('hasAuthority(''strategy.edit'')')}?'locked'"
                        onclick="deleteStrategy();">
                    <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="save"/>
                    <span data-th-text="#{web.global.delete}"></span>
                </button>
                <button type="button"
                        data-duice-bind="strategy"
                        th:classappend="!${#authorization.expression('hasAuthority(''strategy.edit'')')}?'locked'"
                        onclick="saveStrategy();">
                    <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                    <span data-th-text="#{web.global.save}"></span>
                </button>
            </div>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: strategy                          -->
    <!-- ====================================== -->

</th:block>
