<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const tradeSearch = new duice.ObjectProxy({
            key: 'name',
            value: null,
            _page: 0,
            _size: 20,
            _count: -1,
            _status: null
        });
        const trades = new duice.ArrayProxy([]);
        duice.ArrayProxy.setReadonlyAll(trades, true);
        const brokers = new duice.ArrayProxy(/*[[${brokers}]]*/[]);
        const baskets = new duice.ArrayProxy(/*[[${baskets}]]*/[]);
        const strategies = new duice.ArrayProxy(/*[[${strategies}]]*/[]);

        /**
         * gets trades
         * @param page page number
         */
        function getTrades(page) {
            if (page) {
                tradeSearch._page = page;
            }
            let url = new URL(`${_apiUrl}/v1/trades`, document.location.origin);
            if (tradeSearch.key != null && tradeSearch.value != null) {
                url.searchParams.append(tradeSearch.key, tradeSearch.value);
            }
            url.searchParams.append('_page', tradeSearch._page);
            url.searchParams.append('_size', tradeSearch._size);
            tradeSearch._status = 'loading';
            duice.ArrayProxy.clear(trades);
            _fetch(url)
                .then(response => {
                    tradeSearch._count = _parseTotalCount(response);
                    return response.json();
                })
                .then(data => {
                    duice.ArrayProxy.assign(trades, data);
                })
                .finally(() => {
                    tradeSearch._status = 'completed';
                });
        }

        /**
         * resets trades
         */
        function resetTrades() {
            duice.ObjectProxy.reset(tradeSearch);
            getTrades();
        }

        /**
         * creates trade
         */
        function createTrade() {
            document.location.href = `${_rootUrl}/trade`;
        }

        // document event
        document.addEventListener('DOMContentLoaded', () => {
            getTrades();
        });
    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="variable"/>
        <span data-th-text="#{fintics.Trade}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: trades                      -->
    <!-- ================================== -->
    <div class="display--flex flex-direction--column border--1 padding--1em">
        <div class="display--flex flex-direction--column gap--1em padding--1em s__padding-y--0">
            <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em ">
                <label class="grid-column--2 s__grid-column--12">
                    <select class="width--100" data-duice-bind="tradeSearch" data-duice-property="key">
                        <option value="name" data-th-text="#{fintics.Trade.name}"></option>
                    </select>
                </label>
                <label class="grid-column--2 s__grid-column--12">
                    <input class="width--100" type="text" data-duice-bind="tradeSearch" data-duice-property="value"
                           th:placeholder="#{web.global.keyword}"/>
                </label>
                <div class="grid-column--8 s__grid-column--12 justify-self--end">
                    <button type="submit" onclick="getTrades();">
                        <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="reset"/>
                        <span data-th-text="#{web.global.search}"></span>
                    </button>
                    <button type="button" onclick="resetTrades();">
                        <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                        <span data-th-text="#{web.global.reset}"></span>
                    </button>
                </div>
            </form>
            <div class="overflow-x--scroll">
                <table class="width--100 text-align--center">
                    <colgroup>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                        <th data-th-text="#{fintics.Trade.name}"></th>
                        <th data-th-text="#{fintics.Broker.name}"></th>
                        <th data-th-text="#{fintics.Basket.name}"></th>
                        <th data-th-text="#{fintics.Strategy.name}"></th>
                        <th data-th-text="#{fintics.Trade.investAmount}" class="text-align--right"></th>
                        <th data-th-text="#{fintics.Trade.enabled}" class="text-align--center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="trades" data-duice-loop="trade,status">
                        <td class="text-align--center">
                        <span data-duice-bind="status"
                              data-duice-execute="this.innerHTML=tradeSearch._size*tradeSearch._page + status.count;">
                        </span>
                        </td>
                        <td>
                            <a href="" data-duice-bind="trade" data-duice-execute="this.href=`${_rootUrl}/trade?tradeId=${trade.tradeId}`;">
                                <span data-duice-bind="trade" data-duice-property="name"></span>
                            </a>
                        </td>
                        <td>
                            <span data-duice-bind="trade"
                                  data-duice-execute="
                          let brokerName = brokers.find(it => it.brokerId === trade.brokerId)?.name;
                          this.innerHTML = brokerName;
                          "></span>
                        </td>
                        <td>
                           <span data-duice-bind="trade"
                                 data-duice-execute="
                          let basketName = baskets.find(it => it.basketId === trade.basketId)?.name;
                          this.innerHTML = basketName;
                          "></span>
                        </td>
                        <td>
                            <span data-duice-bind="trade"
                                data-duice-execute="
                          let strategyName = strategies.find(it => it.strategyId === trade.strategyId)?.name;
                          this.innerHTML = strategyName;
                          "></span>
                        </td>
                        <td class="text-align--right">
                            <span data-duice-bind="trade" data-duice-property="investAmount" data-duice-format="number"></span>
                        </td>
                        <td class="text-align--center">
                            <label>
                                <input type="checkbox" data-duice-bind="trade" data-duice-property="enabled"/>
                            </label>
                        </td>
                    </tr>
                    <tr data-duice-bind="tradeSearch"
                        data-duice-if="return tradeSearch._status === 'loading';">
                        <td colspan="100%" class="text-align--center">
                            <img class="icon font-size--larger" th:src="@{/static/image/loading.svg}" alt="loading"/>
                        </td>
                    </tr>
                    <tr data-duice-bind="tradeSearch"
                        data-duice-if="return tradeSearch._status === 'completed' && trades.length < 1;" hidden>
                        <td colspan="100%" class="text-align--center">
                            <span data-th-text="#{web.global.itemNotFound(#{fintics.Trade})}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="display--grid grid-template-columns--12">
                <div class="grid-column--4">
                    <span data-th-text="#{web.global.total}"></span>
                    <span data-duice-bind="tradeSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                    <span data-th-text="#{web.global.rows}"></span>
                </div>
                <div class="grid-column--4 justify-self--center">
                    <duice-pagination
                            data-duice-bind="tradeSearch"
                            data-duice-size-property="_size"
                            data-duice-page-property="_page"
                            data-duice-count-property="_count"
                            data-duice-onclick="getTrades(this.dataset.page);">
                    </duice-pagination>
                </div>
                <div class="grid-column--4 justify-self--end">
                    <button type="button" onclick="createTrade();">
                        <img class="icon" th:src="@{/static/image/icon-create.svg}" alt="create"/>
                        <span data-th-text="#{web.global.create}"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: trades                        -->
    <!-- ================================== -->

</th:block>
