<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const tradeId = /*[[${tradeId}]]*/'';
        const trade = new duice.ObjectProxy({
            tradeId: null,
            tradeName: null,
            interval: null,
            threshold: null,
            clientType: null,
            clientProperties: null,
            tradeAssets: []
        });
        const tradeClientDefinitions = new duice.ArrayProxy(/*[[${tradeClientDefinitions}]]*/[]);
        const orderOperatorDefinitions = new duice.ArrayProxy(/*[[${orderOperatorDefinitions}]]*/[]);
        const alarms = new duice.ArrayProxy(/*[[${alarms}]]*/[]);

        // balance
        const balance = new duice.ObjectProxy({
            total: null,
            cash: null,
            balanceAssets: []
        });
        duice.ObjectProxy.setReadonlyAll(balance, true);

        function getTrade() {
            let url = new URL(`${_apiUrl}/v1/trade/${tradeId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(trade, data);
                });
        }

        async function addTradeAsset() {
            let asset = await assetAdd.open();
            trade.tradeAssets.push({
                assetId: asset.assetId,
                assetName: asset.assetName,
                enabled: false,
                holdRatio: 0
            });
        }

        function removeTradeAsset(index) {
            trade.tradeAssets.splice(index, 1);
        }

        async function saveTrade() {
            if(!trade.tradeName) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Trade.tradeName})}]]*/'');
                duice.ObjectProxy.focus(trade, 'tradeName');
                return false;
            }
            if(!trade.interval) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Trade.interval})}]]*/'');
                duice.ObjectProxy.focus(trade, 'interval');
                return false;
            }
            if(!trade.threshold) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Trade.threshold})}]]*/'');
                duice.ObjectProxy.focus(trade, 'threshold');
                return false;
            }

            _confirm(/*[[#{web.global.saveItemConfirm(#{fintics.Trade})}]]*/'').then(result => {
                if (result) {
                    let url;
                    let method;
                    if(!tradeId) {
                        url = `${_apiUrl}/v1/trade`;
                        method = 'POST';
                    }else{
                        url = `${_apiUrl}/v1/trade/${trade.tradeId}`;
                        method = 'PUT';
                    }
                    _fetch(new URL(url, document.location.origin), {
                        method: method,
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(trade)
                    }).then(response => response.json())
                        .then(data => {
                            _alert(/*[[#{web.global.saveItemComplete(#{fintics.Trade})}]]*/'').then(() => {
                                if(trade.tradeId) {
                                    duice.ObjectProxy.clear(trade);
                                    duice.ObjectProxy.assign(trade, data);
                                }else{
                                    document.location.href = `${_rootUrl}/trade/trade-detail?tradeId=${data.tradeId}`;
                                }
                            });
                    });
                }
            });
        }

        function deleteTrade() {
            _confirm(/*[[#{web.global.deleteItemConfirm(#{fintics.Trade})}]]*/'').then(result => {
                if (result) {
                    let url = new URL(`${_apiUrl}/v1/trade/${tradeId}`, document.location.origin);
                    _fetch(url,{
                        method: 'DELETE'
                    }).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.deleteItemComplete(#{fintics.Trade})}]]*/'').then(() => {
                                document.location.href = `${_rootUrl}/trade`;
                            });
                        }
                    })
                }
            });
        }

        function getTradeBalance() {
            let url = new URL(`${_apiUrl}/v1/trade/${tradeId}/balance`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(balance, data);
                });
        }

        document.addEventListener('DOMContentLoaded', () => {
            let tabFolder = duice.tabFolder(
                duice.tabItem(
                    document.getElementById('tradeTabButton'),
                    document.getElementById('tradeTabContent'),
                    () => {}),
                duice.tabItem(
                    document.getElementById('tradeBalanceTabButton'),
                    document.getElementById('tradeBalanceTabContent'),
                    () => {
                        getTradeBalance();
                    })
            );
            tabFolder.setActive(0);
            if(tradeId) {
                getTrade();
            }
        });
    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="variable"/>
        <span data-th-text="#{fintics.Trade}"></span>
        <small>|</small>
        <span data-duice-bind="trade" data-duice-property="tradeName"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: tab index                       -->
    <!-- ====================================== -->
    <div id="tabIndex" class="display--flex flex-wrap--nowrap overflow-x--scroll gap--1px margin-bottom--1px">
        <button id="tradeTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="detail"/>
            <span data-th-text="#{fintics.Trade}"></span>
        </button>
        <button id="tradeBalanceTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-balance.svg}" alt="balance"/>
            <span data-th-text="#{fintics.Balance}"></span>
        </button>
    </div>
    <!-- ====================================== -->
    <!-- end: tab index                         -->
    <!-- ====================================== -->

    <div>
        <!-- ====================================== -->
        <!-- start: trade                           -->
        <!-- ====================================== -->
        <div id="tradeTabContent" class="border--1 padding--1em">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="detail"/>
                <span data-th-text="#{fintics.Trade}"></span>
            </h2>
            <form class="display--grid grid-template-columns--12 grid-gap--1em grid-column-gap--2em padding-y--1em s__padding-y--0">
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Trade.tradeName}" class="font-weight--bold tag-required"></span>
                    <input type="text" data-duice-bind="trade" data-duice-property="tradeName"
                           class="width--100 font-weight--bold"/>
                </label>
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Trade.enabled}" class="font-weight--bold tag-required"></span>
                    <br/>
                    <input type="checkbox" data-duice-bind="trade" data-duice-property="enabled"/>
                </label>
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Trade.interval}" class="font-weight--bold tag-required"></span>
                    <input type="number" data-duice-bind="trade" data-duice-property="interval" class="width--100"/>
                </label>
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Trade.threshold}" class="font-weight--bold tag-required"></span>
                    <input type="number" data-duice-bind="trade" data-duice-property="threshold" class="width--100"/>
                </label>
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Trade.startAt}" class="font-weight--bold"></span>
                    <input type="time" data-duice-bind="trade" data-duice-property="startAt" class="width--100"/>
                </label>
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Trade.endAt}" class="font-weight--bold"></span>
                    <input type="time" data-duice-bind="trade" data-duice-property="endAt" class="width--100"/>
                </label>
                <label class="grid-column--12">
                    <span data-th-text="#{fintics.Trade.alarmId}" class="font-weight--bold width--100"></span>
                    <select data-duice-bind="trade"
                            data-duice-property="alarmId"
                            data-duice-option="alarms"
                            data-duice-option-value-property="alarmId"
                            data-duice-option-text-property="alarmName"
                            class="width--100">
                        <option data-th-text="'- '+#{web.global.select}+' -'"></option>
                    </select>
                </label>
                <div class="grid-column--12">
                    <label>
                        <input type="checkbox" data-duice-bind="trade" data-duice-property="alarmOnError"/>
                        <span data-th-text="#{fintics.Trade.alarmOnError}" class="font-weight--bold"></span>
                    </label>
                    &nbsp;
                    <label>
                        <input type="checkbox" data-duice-bind="trade" data-duice-property="alarmOnOrder"/>
                        <span data-th-text="#{fintics.Trade.alarmOnOrder}" class="font-weight--bold"></span>
                    </label>
                </div>
                <label class="grid-column--12">
                    <span data-th-text="#{fintics.Trade.tradeClientId}" class="font-weight--bold width--100"></span>
                    <select data-duice-bind="trade"
                            data-duice-property="tradeClientId"
                            data-duice-option="tradeClientDefinitions"
                            data-duice-option-value-property="tradeClientId"
                            data-duice-option-text-property="tradeClientName"
                            data-duice-execute="
                            this.addEventListener('change',() => {
                                trade.tradeClientConfig = clientDefinitions.find(item => item.tradeClientId === this.value)?.configTemplate;
                            });
                            "
                            class="width--100">
                        <option data-th-text="'- '+#{web.global.select}+' -'"></option>
                    </select>
                </label>
                <label class="grid-column--12">
                    <span data-th-text="#{fintics.Trade.tradeClientConfig}"
                          class="font-weight--bold width--100"></span>
                    <duice-codemirror
                            data-duice-bind="trade"
                            data-duice-property="tradeClientConfig"
                            class="border--1" style="height:7em;">
                    </duice-codemirror>
                </label>
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Trade.orderOperator}" class="font-weight--bold tag-required"></span>
                    <select data-duice-bind="trade"
                            data-duice-property="orderOperatorId"
                            data-duice-option="orderOperatorDefinitions"
                            data-duice-option-value-property="orderOperatorId"
                            data-duice-option-text-property="orderOperatorName"
                            class="width--100">
                        <option data-th-text="'- '+#{web.global.select}+' -'"></option>
                    </select>
                </label>
                <label class="grid-column--6">
                    <span data-th-text="#{fintics.Trade.orderKind}" class="font-weight--bold tag-required"></span>
                    <select data-duice-bind="trade" data-duice-property="orderKind" class="width--100">
                        <option data-th-text="'- ' + #{web.global.select} + ' -'"></option>
                        <option th:each="orderKind : ${orderKinds}" th:value="${orderKind}" th:text="#{'fintics.OrderKind.'+${orderKind}}"></option>
                    </select>
                </label>
                <div class="grid-column--12">
                    <span data-th-text="#{fintics.TradeAsset}" class="font-weight--bold width--100"></span>
                    <div class="overflow-y--scroll border--1">
                        <table class="width--100 border--0">
                            <colgroup>
                                <col style="width:3em;"/>
                                <col style="width:5em;"/>
                                <col/>
                                <col/>
                                <col style="width:10em;"/>
                                <col style="width:10em;"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th class="text-align--center">
                                    <button type="button" class="small" onclick="addTradeAsset();">
                                        <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                                    </button>
                                </th>
                                <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                                <th data-th-text="#{fintics.Asset.assetId}"></th>
                                <th data-th-text="#{fintics.Asset.assetName}"></th>
                                <th data-th-text="#{fintics.TradeAsset.enabled}" class="text-align--center"></th>
                                <th data-th-text="#{fintics.TradeAsset.holdRatio}" class="text-align--center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="trade.tradeAssets" data-duice-loop="tradeAsset,status">
                                <td class="text-align--center">
                                    <button type="button" class="small"
                                            data-duice-bind="tradeAsset"
                                            data-duice-execute="this.dataset.index=status.index;"
                                            onclick="removeTradeAsset(this.dataset.index);">
                                        <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="remove"/>
                                    </button>
                                </td>
                                <td class="text-align--center">
                                <span data-duice-bind="status" data-duice-property="count"
                                      class="text-align--center"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="tradeAsset" data-duice-property="assetId"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="tradeAsset" data-duice-property="assetName"></span>
                                </td>
                                <td class="text-align--center">
                                    <label>
                                        <input type="checkbox" data-duice-bind="tradeAsset"
                                               data-duice-property="enabled"/>
                                    </label>
                                </td>
                                <td class="text-align--center">
                                    <label>
                                        <input type="number" data-duice-bind="tradeAsset"
                                               data-duice-property="holdRatio" class="width--50"/>
                                        %
                                    </label>
                                </td>
                            </tr>
                            <tr data-duice-bind="trade.tradeAssets"
                                data-duice-execute="if(trade.tradeAssets.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align--center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <label class="grid-column--12">
                    <span data-th-text="#{fintics.Trade.holdCondition}" class="font-weight--bold width--100"></span>
                    <small class="font-weight--bold">(Groovy Script)</small>
                    <duice-codemirror
                        data-duice-bind="trade"
                        data-duice-property="holdCondition"
                        data-duice-mode="groovy"
                        data-duice-theme="dracula">
                    </duice-codemirror>
                </label>
                <div class="grid-column--12 justify-self--end">
                    <button type="button"
                            data-duice-bind="trade"
                            data-duice-execute="this.disabled=(trade._new);"
                            th:classappend="!${#authorization.expression('hasAuthority(''TRADE_EDIT'')')}?'locked'"
                            onclick="deleteTrade();">
                        <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="save"/>
                        <span data-th-text="#{web.global.delete}"></span>
                    </button>
                    <button type="button"
                            data-duice-bind="trade"
                            th:classappend="!${#authorization.expression('hasAuthority(''TRADE_EDIT'')')}?'locked'"
                            onclick="saveTrade();">
                        <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                        <span data-th-text="#{web.global.save}"></span>
                    </button>
                </div>
            </form>
        </div>
        <!-- ====================================== -->
        <!-- end: trade                             -->
        <!-- ====================================== -->

        <!-- ================================== -->
        <!-- start: balance                     -->
        <!-- ================================== -->
        <div id="tradeBalanceTabContent" class="border--1 padding--1em" style="min-height:400px;">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-balance.svg}" alt="balance"/>
                <span data-th-text="#{fintics.Balance}"></span>
                <small>
                    (<span data-duice-bind="balance" data-duice-property="accountNo"></span>)
                </small>
            </h2>
            <div class="display--grid grid-template-columns--12 grid-gap--1em padding-y--1em s__padding-y--0">
                <label class="grid-column--6 s__grid-column--12">
                    <span data-th-text="#{fintics.Balance.totalAmount}" class="font-weight--bold"></span>
                    <input type="number" data-duice-bind="balance" data-duice-property="totalAmount" data-duice-format="number" class="width--100"/>
                </label>
                <label class="grid-column--6 s__grid-column--12">
                    <span data-th-text="#{fintics.Balance.cashAmount}" class="font-weight--bold"></span>
                    <input type="number" data-duice-bind="balance" data-duice-property="cashAmount" data-duice-format="number" class="width--100"/>
                </label>
                <label class="grid-column--6 s__grid-column--12">
                    <span data-th-text="#{fintics.Balance.purchaseAmount}" class="font-weight--bold"></span>
                    <input type="number" data-duice-bind="balance" data-duice-property="purchaseAmount" data-duice-format="number" class="width--100"/>
                </label>
                <label class="grid-column--6 s__grid-column--12">
                    <span data-th-text="#{fintics.Balance.valuationAmount}" class="font-weight--bold width--100"></span>
                    <input type="number" data-duice-bind="balance" data-duice-property="valuationAmount" data-duice-format="number" class="width--100"/>
                </label>
                <label class="grid-column--6 s__grid-column--12">
                    <span data-th-text="#{fintics.Balance.profitAmount}" class="font-weight--bold"></span>
                    <input type="number"
                           data-duice-bind="balance"
                           data-duice-property="profitAmount"
                           data-duice-format="number"
                           data-duice-execute="
                                if(balance.profitAmount > 0) {
                                    this.style.color='red';
                                }else{
                                    this.style.color='blue';
                                }
                                "
                           class="width--100"/>
                </label>
                <label class="grid-column--6 s__grid-column--12">
                    <span data-th-text="#{fintics.Balance.realizedProfitAmount}" class="font-weight--bold width--100"></span>
                    <input type="number"
                           data-duice-bind="balance"
                           data-duice-property="realizedProfitAmount"
                           data-duice-format="number"
                           data-duice-execute="
                                if(balance.realizedProfitAmount > 0) {
                                    this.style.color='red';
                                }else{
                                    this.style.color='blue';
                                }
                                "
                           class="width--100"/>
                </label>
                <div class="grid-column--12">
                    <span data-th-text="#{fintics.BalanceAsset}" class="font-weight--bold width--100"></span>
                    <div class="overflow-x--scroll">
                        <table class="width--100">
                            <colgroup>
                                <col style="width:5em;"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.global.no}" class="text-align--center"></th>
                                <th data-th-text="#{fintics.BalanceAsset.assetId}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.assetName}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.quantity}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.purchaseAmount}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.valuationAmount}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.profitAmount}" class="text-align--center"></thd>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="balance.balanceAssets"
                                data-duice-loop="balanceAsset,status"
                                data-duice-execute="
                                    let length = trade.tradeAssets.filter(tradeAsset => {
                                        return tradeAsset.symbol === balanceAsset.symbol;
                                    }).length;
                                    if(length === 0) {
                                        this.style.opacity=0.5;
                                    }">
                                <td class="text-align--center">
                                    <span data-duice-bind="status" data-duice-property="count" class="text-align--center"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="symbol"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="name"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="quantity" data-duice-format="number"></span>
                                    (<span data-duice-bind="balanceAsset" data-duice-property="orderableQuantity" data-duice-format="number"></span>)
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="purchaseAmount" data-duice-format="number"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="valuationAmount" data-duice-format="number"></span>
                                </td>
                                <td class="text-align--center">
                                    <span data-duice-bind="balanceAsset"
                                          data-duice-property="profitAmount"
                                          data-duice-format="number"
                                          data-duice-execute="
                                            if(balanceAsset.profitAmount > 0) {
                                                this.style.color='red';
                                            }else{
                                                this.style.color='blue';
                                            }
                                            ">
                                    </span>
                                </td>
                            </tr>
                            <tr data-duice-bind="balance.balanceAssets" data-duice-execute="if(balance.balanceAssets.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align--center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <!-- end: balance                           -->
        <!-- ====================================== -->
    </div>

    <!-- ====================================== -->
    <!-- start: asset-add                       -->
    <!-- ====================================== -->
    <dialog id="assetAdd">
        <style th:inline="css">
            #assetAdd {
                width: 500px;
                padding: 1.5rem;
            }
        </style>
        <script th:inline="javascript">
            const assetAdd = {
                dialog: new duice.dialog.Dialog(document.getElementById('assetAdd')),
                asset: new duice.ObjectProxy({
                    assetId: null,
                    assetName: null
                }),
                open: function() {
                    duice.ObjectProxy.clear(this.asset);
                    return this.dialog.open();
                },
                confirm: function() {
                    this.dialog.resolve(this.asset);
                }
            }
        </script>
        <div class="display--grid grid-gap--1em">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
                <span data-th-text="#{fintics.TradeAsset}"></span>
            </h2>
            <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em">
                <label class="grid-column--12">
                    <span th:text="#{fintics.TradeAsset.assetId}" class="font-weight--bold tag-required"></span>
                    <input class="width--100" type="text" data-duice-bind="assetAdd.asset" data-duice-property="assetId"/>
                </label>
                <label class="grid-column--12">
                    <span th:text="#{fintics.TradeAsset.assetName}" class="font-weight--bold tag-required"></span>
                    <input class="width--100" type="text" data-duice-bind="assetAdd.asset" data-duice-property="assetName"/>
                </label>
            </form>
            <div class="display--flex justify-content--flex-end">
                <button onclick="assetAdd.confirm();">
                    <img class="icon" th:src="@{/static/image/icon-confirm.svg}" alt="confirm"/>
                    <span data-th-text="#{web.global.confirm}"></span>
                </button>
            </div>
        </div>
    </dialog>
    <!-- ====================================== -->
    <!-- end: asset-add                         -->
    <!-- ====================================== -->

</th:block>
