<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:src="@{/static/fintics.js?version={version}(version=${_scriptVersion})}"></script>
    <script th:inline="javascript">
        const tradeId = /*[[${tradeId}]]*/'';
        const alarms = new duice.ArrayProxy(/*[[${alarms}]]*/[]);
        const brokers = new duice.ArrayProxy(/*[[${brokers}]]*/[]);
        const brokerClientDefinitions = new duice.ArrayProxy(/*[[${brokerClientDefinitions}]]*/[]);
        const baskets = new duice.ArrayProxy(/*[[${baskets}]]*/[]);
        const strategies = new duice.ArrayProxy(/*[[${strategies}]]*/[]);

        // basket
        const basket = new duice.ObjectProxy({
            basketAssets: []
        });
        duice.ObjectProxy.setReadonlyAll(basket, true);

        // strategy
        const strategy = new duice.ObjectProxy({});
        duice.ObjectProxy.setReadonlyAll(strategy, true);

        // trade
        const trade = new duice.ObjectProxy({
            tradeId: null,
            name: null,
            interval: null,
            threshold: null,
            brokerId: null,
            tradeAssets: []
        });
        duice.ObjectProxy.onPropertyChanged(trade, async event => {
            if (event.getProperty() === 'strategyId') {
                let strategyId = event.getValue();
                if (strategyId) {
                    await getStrategy(strategyId);
                    if(!trade.strategyVariables) {
                        trade.strategyVariables = strategy.variables;
                    }
                } else {
                    duice.ObjectProxy.clear(strategy);
                }
            }
            if (event.getProperty() === 'basketId') {
                let basketId = event.getValue();
                if (basketId) {
                    await getBasket(basketId);
                } else {
                    duice.ObjectProxy.clear(basket);
                }
            }
        });

        // order
        const orderSearch = new duice.ObjectProxy({
            assetId: null,
            type: null,
            result: null,
            _page: 0,
            _size: 20,
            _count: 0
        });
        const orders = new duice.ArrayProxy([]);

        // balance
        const balance = new duice.ObjectProxy({
            total: null,
            cash: null,
            balanceAssets: []
        });
        duice.ObjectProxy.setReadonlyAll(balance, true);

        // checks authority
        let hasTradeEditAuthority = /*[[${#authorization.expression('hasAuthority(''trade.edit'')')}]]*/false;
        if (!hasTradeEditAuthority) {
            duice.ObjectProxy.setReadonlyAll(trade, true);
        }

        /**
         * get trades
         * @returns {Promise<void>}
         */
        async function getTrade() {
            let url = new URL(`${_apiUrl}/v1/trades/${tradeId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(trade, data);
                    let basketId = data['basketId'];
                    if (basketId) {
                        getBasket(basketId);
                    }
                    let strategyId = data['strategyId'];
                    if (strategyId) {
                        getStrategy(strategyId);
                    }
                });
        }

        /**
         * gets specified basket
         * @param basketId basket id
         * @returns {Promise<void>}
         */
        async function getBasket(basketId) {
            let url = new URL(`${_apiUrl}/v1/baskets/${basketId}`, document.location.origin);
            await _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(basket, data);
                });
        }

        /**
         * gets strategy
         * @param strategyId strategy id
         * @returns {Promise<void>}
         */
        async function getStrategy(strategyId) {
            let url = new URL(`${_apiUrl}/v1/strategies/${strategyId}`, document.location.origin);
            await _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(strategy, data);
                });
        }

        /**
         * saves trade
         * @returns {Promise<boolean>}
         */
        async function saveTrade() {
            if(!trade.name) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Trade.name})}]]*/'');
                duice.ObjectProxy.focus(trade, 'name');
                return false;
            }
            if(!trade.interval) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Trade.interval})}]]*/'');
                duice.ObjectProxy.focus(trade, 'interval');
                return false;
            }
            if(!trade.threshold) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Trade.threshold})}]]*/'');
                duice.ObjectProxy.focus(trade, 'threshold');
                return false;
            }

            _confirm(/*[[#{web.global.saveItemConfirm(#{fintics.Trade})}]]*/'')
                .then(result => {
                    if (result) {
                        let url;
                        let method;
                        if(!tradeId) {
                            url = `${_apiUrl}/v1/trades`;
                            method = 'POST';
                        }else{
                            url = `${_apiUrl}/v1/trades/${trade.tradeId}`;
                            method = 'PUT';
                        }
                        _fetch(new URL(url, document.location.origin), {
                            method: method,
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(trade)
                        }).then(response => response.json())
                            .then(data => {
                                _alert(/*[[#{web.global.saveItemComplete(#{fintics.Trade})}]]*/'')
                                    .then(() => {
                                        if(trade.tradeId) {
                                            duice.ObjectProxy.clear(trade);
                                            duice.ObjectProxy.assign(trade, data);
                                        }else{
                                            document.location.href = `${_rootUrl}/trade?tradeId=${data.tradeId}`;
                                        }
                                    });
                        });
                    }
                });
        }

        /**
         * deletes trade
         */
        function deleteTrade() {
            _confirm(/*[[#{web.global.deleteItemConfirm(#{fintics.Trade})}]]*/'')
                .then(result => {
                    if (result) {
                        let url = new URL(`${_apiUrl}/v1/trades/${tradeId}`, document.location.origin);
                        _fetch(url,{
                            method: 'DELETE'
                        }).then(response => {
                            if (response.ok) {
                                _alert(/*[[#{web.global.deleteItemComplete(#{fintics.Trade})}]]*/'')
                                    .then(() => {
                                        document.location.href = `${_rootUrl}/trades`;
                                    });
                            }
                        })
                    }
                });
        }

        /**
         * gets current trade orders
         * @param page page
         */
        function getOrders(page) {
            orderSearch._page = page || 0;
            let url = new URL(`${_apiUrl}/v1/trades/${tradeId}/orders`, document.location.origin);
            if(orderSearch.assetId) {
                url.searchParams.append('assetId', orderSearch.assetId);
            }
            if(orderSearch.type) {
                url.searchParams.append('type', orderSearch.type);
            }
            if(orderSearch.result) {
                url.searchParams.append('result', orderSearch.result);
            }
            url.searchParams.append('_page', orderSearch._page);
            url.searchParams.append('_size', orderSearch._size);
            _fetch(url).then(response => {
                orderSearch._count = _parseTotalCount(response);
                return response.json();
            })
            .then(data => {
                duice.ArrayProxy.assign(orders, data);
            });
        }

        /**
         * resets trade orders
         */
        function resetOrders() {
            duice.ObjectProxy.reset(orderSearch);
            getOrders();
        }

        /**
         * gets trade balance
         */
        function getTradeBalance() {
            let url = new URL(`${_apiUrl}/v1/trades/${tradeId}/balance`, document.location.origin);
            _fetch(url).then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(balance, data);
                });
        }

        /**
         * sells balance asset
         * @param assetId asset id
         */
        function sellBalanceAsset(assetId) {
            let balanceAsset = balance.balanceAssets.find(it => it.assetId === assetId);
            submitOrderDialog.open(trade, balanceAsset, 'SELL');
        }

        document.addEventListener('DOMContentLoaded', () => {
            let tabFolder = duice.tabFolder(
                duice.tabItem(
                    document.getElementById('tradeTabButton'),
                    document.getElementById('tradeTabContent'),
                    () => {}),
                duice.tabItem(
                    document.getElementById('tradeOrderTabButton'),
                    document.getElementById('tradeOrderTabContent'),
                    () => {
                        getOrders();
                    }),
                duice.tabItem(
                    document.getElementById('tradeBalanceTabButton'),
                    document.getElementById('tradeBalanceTabContent'),
                    () => {
                        getTradeBalance();
                    })
            );
            tabFolder.setActive(0);
            if(tradeId) {
                getTrade();
            }
        });

        window.addEventListener('beforeunload', () => {
            // void
        });
    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="variable"/>
        <span data-th-text="#{fintics.Trade}"></span>
        <small>|</small>
        <span data-duice-bind="trade" data-duice-property="name"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: tab index                       -->
    <!-- ====================================== -->
    <div id="tabIndex" class="display--flex flex-wrap--nowrap overflow-x--scroll gap--1px margin-bottom--1px">
        <button id="tradeTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="trade"/>
            <span data-th-text="#{fintics.Trade}"></span>
        </button>
        <button id="tradeOrderTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-order.svg}" alt="order"/>
            <span data-th-text="#{fintics.Order}"></span>
        </button>
        <button id="tradeBalanceTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-balance.svg}" alt="balance"/>
            <span data-th-text="#{fintics.Balance}"></span>
        </button>
    </div>
    <!-- ====================================== -->
    <!-- end: tab index                         -->
    <!-- ====================================== -->

    <div id="tabContent">
        <!-- ====================================== -->
        <!-- start: trade                           -->
        <!-- ====================================== -->
        <div id="tradeTabContent" class="display--flex flex-direction--column border--1 padding--1em">
            <div>
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="detail"/>
                    <span data-th-text="#{fintics.Trade}"></span>
                </h2>
            </div>
            <div class="display--flex flex-direction--column gap--1em padding--1em s__padding-y--0">
                <form class="display--grid grid-template-columns--12 grid-gap--1em grid-column-gap--2em">
                    <label class="grid-column--6">
                        <span data-th-text="#{fintics.Trade.name}" class="font-weight--bold tag-required"></span>
                        <input type="text" data-duice-bind="trade" data-duice-property="name"
                               class="width--100 font-weight--bold"/>
                    </label>
                    <label class="grid-column--6">
                        <span data-th-text="#{fintics.Trade.enabled}" class="font-weight--bold tag-required"></span>
                        <br/>
                        <input type="checkbox" data-duice-bind="trade" data-duice-property="enabled"/>
                    </label>
                    <label class="grid-column--6">
                        <span data-th-text="#{fintics.Trade.interval}" class="font-weight--bold tag-required"></span>
                        <input type="number" data-duice-bind="trade" data-duice-property="interval" class="width--100"/>
                    </label>
                    <label class="grid-column--6">
                        <span data-th-text="#{fintics.Trade.threshold}" class="font-weight--bold tag-required"></span>
                        <input type="number" data-duice-bind="trade" data-duice-property="threshold" class="width--100"/>
                    </label>
                    <label class="grid-column--6">
                        <span data-th-text="#{fintics.Trade.startAt}" class="font-weight--bold"></span>
                        <input type="time" data-duice-bind="trade" data-duice-property="startAt" class="width--100"/>
                    </label>
                    <label class="grid-column--6">
                        <span data-th-text="#{fintics.Trade.endAt}" class="font-weight--bold"></span>
                        <input type="time" data-duice-bind="trade" data-duice-property="endAt" class="width--100"/>
                    </label>
                    <label class="grid-column--12">
                        <span data-th-text="#{fintics.Trade.alarmId}" class="font-weight--bold width--100"></span>
                        <select data-duice-bind="trade"
                                data-duice-property="alarmId"
                                data-duice-option="alarms"
                                data-duice-option-value-property="alarmId"
                                data-duice-option-text-property="name"
                                class="width--100">
                            <option data-th-text="'- '+#{web.global.select}+' -'"></option>
                        </select>
                    </label>
                    <div class="grid-column--12">
                        <label>
                            <input type="checkbox" data-duice-bind="trade" data-duice-property="alarmOnError"/>
                            <span data-th-text="#{fintics.Trade.alarmOnError}" class="font-weight--bold"></span>
                        </label>
                        &nbsp;
                        <label>
                            <input type="checkbox" data-duice-bind="trade" data-duice-property="alarmOnOrder"/>
                            <span data-th-text="#{fintics.Trade.alarmOnOrder}" class="font-weight--bold"></span>
                        </label>
                    </div>
                    <label class="grid-column--6">
                        <span data-th-text="#{fintics.Trade.investAmount}" class="font-weight--bold tag-required"></span>
                        <input type="number" data-duice-bind="trade" data-duice-property="investAmount" data-duice-format="number" class="width--100 font-weight--bold color--red"/>
                    </label>
                    <label class="grid-column--6">
                        <span data-th-text="#{fintics.Trade.orderKind}" class="font-weight--bold tag-required"></span>
                        <select data-duice-bind="trade" data-duice-property="orderKind" class="width--100">
                            <option data-th-text="'- ' + #{web.global.select} + ' -'"></option>
                            <option th:each="orderKind : ${orderKinds}" th:value="${orderKind}" th:text="#{'fintics.Order.Kind.'+${orderKind}}"></option>
                        </select>
                    </label>
                    <label class="grid-column--12">
                    <span class="width--100">
                        <img class="icon" th:src="@{/static/image/icon-broker.svg}" alt="basket"/>
                        <span data-th-text="#{fintics.Broker}" class="font-weight--bold"></span>
                    </span>
                        <select data-duice-bind="trade"
                                data-duice-property="brokerId"
                                data-duice-option="brokers"
                                data-duice-option-value-property="brokerId"
                                data-duice-option-text-property="name"
                                class="width--100">
                            <option data-th-text="'- '+#{web.global.select}+' -'"></option>
                        </select>
                    </label>
                    <label class="grid-column--12">
                    <span>
                        <img class="icon" th:src="@{/static/image/icon-basket.svg}" alt="basket"/>
                        <span data-th-text="#{fintics.Basket}" class="font-weight--bold"></span>
                    </span>
                        <select data-duice-bind="trade"
                                data-duice-property="basketId"
                                data-duice-option="baskets"
                                data-duice-option-value-property="basketId"
                                data-duice-option-text-property="name"
                                class="width--100">
                            <option data-th-text="'- '+#{web.global.select}+' -'"></option>
                        </select>
                    </label>
                    <div class="grid-column--12 overflow-x--scroll">
                        <span data-th-text="#{fintics.BasketAsset}" class="font-weight--bold width--100"></span>
                        <table class="width--100">
                            <colgroup>
                                <col style="width:4em;"/>
                                <col style="width:10em;"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col style="width:5em;"/>
                                <col style="width:5em;"/>
                                <col style="width:10em;"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.global.no}"></th>
                                <th data-th-text="#{fintics.Asset.assetId}"></th>
                                <th data-th-text="#{fintics.Asset.name}"></th>
                                <th data-th-text="#{fintics.Asset.exchange}"></th>
                                <th data-th-text="#{fintics.Asset.type}"></th>
                                <th data-th-text="#{fintics.Asset.marketCap}"></th>
                                <th data-th-text="#{fintics.AssetMeta}"></th>
                                <th data-th-text="#{fintics.Asset.links}"></th>
                                <th data-th-text="#{fintics.BasketAsset.fixed}" class="text-align--center"></th>
                                <th data-th-text="#{fintics.BasketAsset.enabled}" class="text-align--center"></th>
                                <th data-th-text="#{fintics.BasketAsset.holdingWeight}" class="text-align--right"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="basket.basketAssets" data-duice-loop="basketAsset,status">
                                <td>
                                <span data-duice-bind="status" data-duice-property="count"
                                      class="text-align--center"></span>
                                </td>
                                <td class="text-align--left">
                                    <span data-duice-bind="basketAsset" data-duice-property="assetId"></span>
                                </td>
                                <td class="text-align--left">
                                    <img class="icon icon--circle font-size--large" data-duice-bind="basketAsset" data-duice-property="icon" th:onerror="|this.onerror=null; this.src='@{/static/image/icon-asset.svg}';|" alt=""/>
                                    &nbsp;
                                    <span data-duice-bind="basketAsset" data-duice-property="name"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="basketAsset" data-duice-property="exchange" class="badge"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="basketAsset" data-duice-property="type" class="badge"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="basketAsset" data-duice-property="marketCap" data-duice-format="number"></span>
                                </td>
                                <td>
                                    <div class="overflow-y--scroll border--1 padding--1px" style="line-height:1em; height:5em;">
                                        <table class="width--100 border--0 font-size--smaller code">
                                            <tbody>
                                            <tr data-duice-bind="basketAsset.assetMetas" data-duice-loop="assetMeta,status">
                                                <td data-duice-bind="assetMeta" data-duice-property="name"></td>
                                                <td data-duice-bind="assetMeta" data-duice-property="value" class="text-align--right"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <select data-duice-bind="basketAsset"
                                            data-duice-option="basketAsset.links"
                                            data-duice-option-value-property="url"
                                            data-duice-option-text-property="name"
                                            onchange="_openLink(this.value, '_blank'); this.value = '';">
                                        <option value>- Link -</option>
                                    </select>
                                </td>
                                <td class="text-align--center">
                                    <label>
                                        <input type="checkbox" data-duice-bind="basketAsset"
                                               data-duice-property="fixed"/>
                                    </label>
                                </td>
                                <td class="text-align--center">
                                    <label>
                                        <input type="checkbox" data-duice-bind="basketAsset"
                                               data-duice-property="enabled"/>
                                    </label>
                                </td>
                                <td class="text-align--right">
                                    <label>
                                        <input type="number" data-duice-bind="basketAsset" data-duice-property="holdingWeight" class="width--50"/>
                                        %
                                    </label>
                                </td>
                            </tr>
                            <tr data-duice-bind="basket.basketAssets"
                                data-duice-execute="if(basket.basketAssets.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align--center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <label class="grid-column--12">
                    <span class="width--100">
                        <img class="icon" th:src="@{/static/image/icon-strategy.svg}" alt="strategy"/>
                        <span data-th-text="#{fintics.Strategy}" class="font-weight--bold width--100"></span>
                    </span>
                        <select data-duice-bind="trade"
                                data-duice-property="strategyId"
                                data-duice-option="strategies"
                                data-duice-option-value-property="strategyId"
                                data-duice-option-text-property="name"
                                class="width--100">
                            <option data-th-text="'- '+#{web.global.select}+' -'" value></option>
                        </select>
                    </label>
                    <div class="grid-column--12">
                        <div>
                            <span data-th-text="#{fintics.Trade.strategyVariables}" class="font-weight--bold width--100"></span>
                        </div>
                        <duice-codemirror class="code border--1"
                                          data-duice-bind="trade"
                                          data-duice-property="strategyVariables">
                        </duice-codemirror>
                    </div>
                    <div class="grid-column--12">
                        <div class="display--flex justify-content--space-between margin--1px padding--1px">
                            <div>
                                <span data-th-text="#{fintics.Strategy.script}" class="font-weight--bold width--100"></span>
                            </div>
                        </div>
                        <duice-codemirror class="code" style="height:100vh;"
                                          data-duice-bind="strategy"
                                          data-duice-property="script"
                                          data-duice-mode="groovy"
                                          data-duice-theme="dracula">
                        </duice-codemirror>
                    </div>
                </form>
                <div class="text-align--right">
                    <button type="button"
                            data-duice-bind="trade"
                            data-duice-execute="this.disabled=(trade._new);"
                            th:classappend="!${#authorization.expression('hasAuthority(''trade.edit'')')}?'locked'"
                            onclick="deleteTrade();">
                        <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="save"/>
                        <span data-th-text="#{web.global.delete}"></span>
                    </button>
                    <button type="button"
                            data-duice-bind="trade"
                            th:classappend="!${#authorization.expression('hasAuthority(''trade.edit'')')}?'locked'"
                            onclick="saveTrade();">
                        <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                        <span data-th-text="#{web.global.save}"></span>
                    </button>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <!-- end: trade                             -->
        <!-- ====================================== -->

        <!-- ====================================== -->
        <!-- start: order                           -->
        <!-- ====================================== -->
        <div id="tradeOrderTabContent" class="display--flex flex-direction--column border--1 padding--1em" style="min-height:400px;">
            <div>
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-order.svg}" alt="order"/>
                    <span data-th-text="#{fintics.Order}"></span>
                </h2>
            </div>
            <div class="display--flex flex-direction--column gap--1em padding--1em s__padding-y--0">
                <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em ">
                    <div class="grid-column--12 s__grid-column--12 display--grid grid-template-columns--12 grid-gap--1em">
                        <label class="grid-column--2 s__grid-column--12">
                            <select class="width--100"
                                    data-duice-bind="orderSearch"
                                    data-duice-property="assetId"
                                    data-duice-option="trade.tradeAssets"
                                    data-duice-option-value-property="assetId"
                                    data-duice-option-text-property="name">
                                <option data-th-text="'- ' + #{fintics.Asset} + ' -'"></option>
                            </select>
                        </label>
                        <label class="grid-column--1 s__grid-column--12">
                            <select class="width--100" data-duice-bind="orderSearch" data-duice-property="type">
                                <option value="" data-th-text="'- ' + #{fintics.Order.type} + ' -'"></option>
                                <option value="BUY">BUY</option>
                                <option value="SELL">SELL</option>
                            </select>
                        </label>
                        <label class="grid-column--1 s__grid-column--12">
                            <select class="width--100" data-duice-bind="orderSearch" data-duice-property="result">
                                <option value="" data-th-text="'- ' + #{fintics.Order.result} + ' -'"></option>
                                <option value="COMPLETED">COMPLETED</option>
                                <option value="FAILED">FAILED</option>
                            </select>
                        </label>
                        <div class="grid-column--8 s__grid-column--12 justify-self--end">
                            <button type="button" onclick="getOrders();">
                                <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                                <span data-th-text="#{web.global.search}"></span>
                            </button>
                            <button type="button" onclick="resetOrders();">
                                <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                                <span data-th-text="#{web.global.reset}"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <table class="width--100">
                    <colgroup>
                        <col style="width:7em;"/>
                        <col style="width:10em;"/>
                        <col style="width:5em;"/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col style="width:20em;"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th data-th-text="#{web.global.no}"></th>
                        <th data-th-text="#{fintics.Order.orderAt}"></th>
                        <th data-th-text="#{fintics.Order.type}"></th>
                        <th data-th-text="#{fintics.Order.assetName}"></th>
                        <th data-th-text="#{fintics.Order.kind}"></th>
                        <th data-th-text="#{fintics.Order.quantity}"></th>
                        <th data-th-text="#{fintics.Order.price}"></th>
                        <th data-th-text="#{fintics.StrategyResult}"></th>
                        <th data-th-text="#{fintics.Order.purchasePrice}"></th>
                        <th data-th-text="#{fintics.Order.realizedProfitAmount}"></th>
                        <th data-th-text="#{fintics.Order.result}"></th>
                        <th data-th-text="#{fintics.Order.errorMessage}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="orders" data-duice-loop="order,status">
                        <td>
                        <span data-duice-bind="status"
                              data-duice-execute="this.innerHTML=orderSearch._count - (orderSearch._size*orderSearch._page + status.count) + 1;"></span>
                        </td>
                        <td>
                        <span data-duice-bind="order"
                              data-duice-property="orderAt"
                              data-duice-format="date('yyyy-MM-dd HH:mm:ss')"></span>
                        </td>
                        <td>
                        <span data-duice-bind="order" data-duice-property="type" class="badge"
                              data-duice-execute="
                              if(order.type === 'BUY') this.classList.add('background-color--green');
                              if(order.type === 'SELL') this.classList.add('background-color--blue');
                              ">
                        </span>
                        </td>
                        <td>
                            <span data-duice-bind="order" data-duice-property="assetName"></span>
                        </td>
                        <td>
                            <span data-duice-bind="order" data-duice-property="kind" class="badge"></span>
                        </td>
                        <td>
                            <span data-duice-bind="order" data-duice-property="quantity" data-duice-format="number"></span>
                        </td>
                        <td>
                            <span data-duice-bind="order" data-duice-property="price" data-duice-format="number"></span>
                        </td>
                        <td class="display--flex padding--1px">
                            <textarea data-duice-bind="order" data-duice-execute="this.value=JSON.stringify(order.strategyResult,null,2);" class="height-100 width--100"></textarea>
                        </td>
                        <td>
                            <span data-duice-bind="order" data-duice-property="purchasePrice" data-duice-format="number"></span>
                        </td>
                        <td>
                            <span data-duice-bind="order" data-duice-property="realizedProfitAmount" data-duice-format="number"></span>
                        </td>
                        <td>
                        <span data-duice-bind="order" data-duice-property="result" class="badge"
                              data-duice-execute="
                        if(order.result === 'COMPLETED') this.classList.add('background-color--green');
                        if(order.result === 'FAILED') this.classList.add('background-color--red');
                        ">
                        </span>
                        </td>
                        <td class="display--flex padding--1px">
                            <textarea data-duice-bind="order" data-duice-property="errorMessage" class="height--100 width--100" style="white-space:normal;"></textarea>
                        </td>
                    </tr>
                    <tr data-duice-bind="orders" data-duice-execute="if(orders.length === 0) this.hidden=false;" hidden>
                        <td colspan="100%">No Data</td>
                    </tr>
                    </tbody>
                </table>
                <div class="display--grid grid-template-columns--3">
                    <div>
                        <span data-th-text="#{web.global.total}"></span>
                        <span data-duice-bind="orderSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                        <span data-th-text="#{web.global.rows}"></span>
                    </div>
                    <div class="justify-self--center">
                        <duice-pagination
                                data-duice-bind="orderSearch"
                                data-duice-size-property="_size"
                                data-duice-page-property="_page"
                                data-duice-count-property="_count"
                                data-duice-onclick="getOrders(this.dataset.page);">
                        </duice-pagination>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ================================== -->
        <!-- start: order                       -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: balance                     -->
        <!-- ================================== -->
        <div id="tradeBalanceTabContent" class="display--flex flex-direction--column border--1 padding--1em" style="min-height:400px;">
            <div>
                <h2>
                    <img class="icon" th:src="@{/static/image/icon-balance.svg}" alt="balance"/>
                    <span data-th-text="#{fintics.Balance}"></span>
                </h2>
            </div>
            <div class="display--flex flex-direction--column gap--1em padding--1em s__padding-y--0">
                <div class="display--grid grid-template-columns--12 grid-gap--1em">
                    <label class="grid-column--6 s__grid-column--12">
                        <span data-th-text="#{fintics.Balance.totalAmount}" class="font-weight--bold"></span>
                        <input type="number" data-duice-bind="balance" data-duice-property="totalAmount" data-duice-format="number" class="width--100 font-weight--bold"/>
                    </label>
                    <label class="grid-column--6 s__grid-column--12">
                        <span data-th-text="#{fintics.Balance.cashAmount}" class="font-weight--bold"></span>
                        <input type="number" data-duice-bind="balance" data-duice-property="cashAmount" data-duice-format="number" class="width--100"/>
                    </label>
                    <label class="grid-column--6 s__grid-column--12">
                        <span data-th-text="#{fintics.Balance.purchaseAmount}" class="font-weight--bold"></span>
                        <input type="number" data-duice-bind="balance" data-duice-property="purchaseAmount" data-duice-format="number" class="width--100"/>
                    </label>
                    <label class="grid-column--6 s__grid-column--12">
                        <span data-th-text="#{fintics.Balance.valuationAmount}" class="font-weight--bold width--100"></span>
                        <input type="number" data-duice-bind="balance" data-duice-property="valuationAmount" data-duice-format="number" class="width--100"/>
                    </label>
                    <label class="grid-column--6 s__grid-column--12">
                        <span data-th-text="#{fintics.Balance.profitAmount}" class="font-weight--bold"></span>
                        <input type="number"
                               data-duice-bind="balance"
                               data-duice-property="profitAmount"
                               data-duice-format="number"
                               data-duice-execute="
                           if(balance.profitAmount > 0) this.classList.add('color--green');
                           if(balance.profitAmount < 0) this.classList.add('color--red');
                           "
                               class="width--100"/>
                    </label>
                    <label class="grid-column--6 s__grid-column--12">
                        <span data-th-text="#{fintics.Balance.realizedProfitAmount}" class="font-weight--bold width--100"></span>
                        <input type="number"
                               data-duice-bind="balance"
                               data-duice-property="realizedProfitAmount"
                               data-duice-format="number"
                               data-duice-execute="
                           if(balance.realizedProfitAmount > 0) this.classList.add('color--green');
                           if(balance.realizedProfitAmount < 0) this.classList.add('color--red');
                           "
                               class="width--100"/>
                    </label>
                    <div class="grid-column--12">
                        <span data-th-text="#{fintics.BalanceAsset}" class="font-weight--bold width--100"></span>
                        <div class="overflow-x--scroll">
                            <table class="width--100">
                                <colgroup>
                                    <col style="width:5em;"/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th data-th-text="#{web.global.no}"></th>
                                    <th data-th-text="#{fintics.BalanceAsset.assetId}"></th>
                                    <th data-th-text="#{fintics.BalanceAsset.name}"></th>
                                    <th data-th-text="#{fintics.BalanceAsset.quantity}"></th>
                                    <th data-th-text="#{fintics.BalanceAsset.purchaseAmount}" class="text-align--right"></th>
                                    <th data-th-text="#{fintics.BalanceAsset.valuationAmount}" class="text-align--right"></th>
                                    <th data-th-text="#{fintics.BalanceAsset.profitAmount}" class="text-align--right"></th>
                                    <th data-th-text="#{fintics.BalanceAsset.profitPercentage}" class="text-align--right"></th>
                                    <th data-th-text="#{fintics.Asset.links}" class="text-align--right"></th>
                                    <th class="text-align--right">-</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="balance.balanceAssets"
                                    data-duice-loop="balanceAsset,status"
                                    data-duice-execute="
                                    let length = basket.basketAssets.filter(basketAsset => {
                                        return basketAsset.assetId === balanceAsset.assetId;
                                    }).length;
                                    if(length === 0) {
                                        this.style.opacity=0.5;
                                    }">
                                    <td>
                                        <span data-duice-bind="status" data-duice-property="count"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="balanceAsset" data-duice-property="assetId"></span>
                                    </td>
                                    <td>
                                        <img class="icon font-size--large" data-duice-bind="balanceAsset" data-duice-property="icon" th:onerror="|this.onerror=null; this.src='@{/static/image/icon-asset.svg}';|" alt=""/>
                                        &nbsp;
                                        <span data-duice-bind="balanceAsset" data-duice-property="name"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="balanceAsset" data-duice-property="quantity" data-duice-format="number"></span>
                                        (<span data-duice-bind="balanceAsset" data-duice-property="orderableQuantity" data-duice-format="number"></span>)
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="balanceAsset" data-duice-property="purchaseAmount" data-duice-format="number"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="balanceAsset" data-duice-property="valuationAmount" data-duice-format="number"></span>
                                    </td>
                                    <td class="text-align--right">
                                    <span data-duice-bind="balanceAsset"
                                          data-duice-property="profitAmount"
                                          data-duice-format="number"
                                          data-duice-execute="
                                          if(balanceAsset.profitAmount > 0) this.classList.add('color--green');
                                          if(balanceAsset.profitAmount < 0) this.classList.add('color--red');
                                          ">
                                    </span>
                                    </td>
                                    <td data-duice-bind="balanceAsset" data-duice-execute="
                                if(balanceAsset.profitPercentage > 0) this.classList.add('color--green');
                                if(balanceAsset.profitPercentage < 0) this.classList.add('color--red');
                                " class="text-align--right">
                                        <span data-duice-bind="balanceAsset" data-duice-property="profitPercentage" data-duice-format="number"></span>
                                        %
                                    </td>
                                    <td class="text-align--right">
                                        <select data-duice-bind="balanceAsset"
                                                data-duice-option="balanceAsset.links"
                                                data-duice-option-value-property="url"
                                                data-duice-option-text-property="name"
                                                onchange="_openLink(this.value, '_blank'); this.value = '';">
                                            <option value>- Link -</option>
                                        </select>
                                    </td>
                                    <td class="text-align--right">
                                        <button class="small" type="button"
                                                data-duice-bind="balanceAsset"
                                                data-duice-execute="this.dataset.assetId=balanceAsset.assetId;"
                                                onclick="sellBalanceAsset(this.dataset.assetId);"
                                                th:classappend="!${#authorization.expression('hasAuthority(''TRADES_EDIT'')')}?'locked'">
                                            <img class="icon" th:src="@{/static/image/icon-order-sell.svg}" alt="sell"/>
                                            <span data-th-text="#{fintics.Order.Type.SELL}"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr data-duice-bind="balance.balanceAssets" data-duice-execute="if(balance.balanceAssets.length === 0) this.hidden=false;" hidden>
                                    <td colspan="100%" class="text-align--center">No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <!-- end: balance                           -->
        <!-- ====================================== -->
    </div>

    <th:block th:fragment="submitOrderDialog">
        <!-- ================================== -->
        <!-- submit order dialog                -->
        <!-- ================================== -->
        <dialog id="submitOrderDialog">
            <style th:inline="css">
                #submitOrderDialog {
                    width: 600px;
                }
            </style>
            <script th:inline="javascript">
                const submitOrderDialog = {
                    dialog: new duice.dialog.Dialog(document.getElementById('submitOrderDialog')),
                    order: new duice.ObjectProxy({
                        tradeId: null,
                        tradeName: null,
                        assetId: null,
                        assetName: null,
                        type: null,
                        kind: 'MARKET',
                        quantity: 1
                    }),
                    open: async function(trade, asset, type) {
                        duice.ObjectProxy.reset(this.order);
                        this.order.tradeId = trade.tradeId;
                        this.order.tradeName = trade.name;
                        this.order.assetId = asset.assetId;
                        this.order.assetName = asset.name;
                        this.order.type = type;
                        return this.dialog.open();
                    },
                    confirm: async function() {
                        if(!this.order.quantity) {
                            await _alert(/*[[#{web.global.itemEmpty(#{fintics.Order.quantity})}]]*/'');
                            duice.ObjectProxy.focus(this.order, 'quantity');
                            return false;
                        }
                        _confirm(/*[[#{web.global.requestItemConfirm(#{fintics.Order})}]]*/'')
                            .then(result => {
                                let url = new URL(`${_apiUrl}/v1/trades/${this.order.tradeId}/orders`, document.location.origin);
                                if (result) {
                                    _fetch(url, {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(this.order)
                                    }).then(response => response.json())
                                        .then(data => {
                                            _alert(/*[[#{web.global.requestItemComplete(#{fintics.Order})}]]*/'')
                                                .then(() => {
                                                    this.dialog.close();
                                                });
                                        });
                                }
                            });
                    }
                }
            </script>
            <div class="display--flex flex-direction--column padding--1em">
                <div>
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-order.svg}" alt="asset"/>
                        <span data-th-text="#{fintics.Order}"></span>
                    </h2>
                </div>
                <div class="display--flex flex-direction--column gap--1em padding--1em">
                    <form onsubmit="return false;" class="display--grid grid-template-columns--12 grid-gap--1em">
                        <label class="grid-column--6">
                            <span data-th-text="#{fintics.Trade}" class="font-weight--bold"></span>
                            <input type="text" data-duice-bind="submitOrderDialog.order" data-duice-property="tradeName" class="width--100"/>
                        </label>
                        <label class="grid-column--6">
                            <span data-th-text="#{fintics.Asset}" class="font-weight--bold"></span>
                            <input type="text" data-duice-bind="submitOrderDialog.order" data-duice-property="assetName" class="width--100"/>
                        </label>
                        <label class="grid-column--6">
                            <span data-th-text="#{fintics.Order.type}" class="font-weight--bold"></span>
                            <select data-duice-bind="submitOrderDialog.order" data-duice-property="type" class="width--100">
                                <option value="BUY" data-th-text="#{fintics.Order.Type.BUY}"></option>
                                <option value="SELL" data-th-text="#{fintics.Order.Type.SELL}"></option>
                            </select>
                        </label>
                        <label class="grid-column--6">
                            <span data-th-text="#{fintics.Order.kind}" class="font-weight--bold"></span>
                            <select data-duice-bind="submitOrderDialog.order" data-duice-property="kind" class="width--100">
                                <option value="MARKET" data-th-text="#{fintics.Order.Kind.MARKET}"></option>
                                <option value="LIMIT" data-th-text="#{fintics.Order.Kind.LIMIT}"></option>
                            </select>
                        </label>
                        <label class="grid-column--6">
                            <span data-th-text="#{fintics.Order.quantity}" class="font-weight--bold"></span>
                            <input type="number" data-duice-bind="submitOrderDialog.order" data-duice-property="quantity" class="width--100"/>
                        </label>
                    </form>
                    <div class="display--flex justify-content--flex-end">
                        <button onclick="submitOrderDialog.confirm();">
                            <img class="icon" th:src="@{/static/image/icon-confirm.svg}" alt="confirm"/>
                            <span data-th-text="#{web.global.confirm}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </dialog>
        <!-- ================================== -->
        <!-- submit order dialog                -->
        <!-- ================================== -->
    </th:block>

</th:block>
