<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web_menuless.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const trades = new duice.ArrayProxy([]);
        const trade = new duice.ObjectProxy({
            tradeId: null,
            tradeAssets: []
        });
        const balance = new duice.ObjectProxy({
            total: null,
            cash: null,
            balanceAssets: []
        });
        duice.ObjectProxy.setReadonlyAll(balance, true);
        const clientDefinitions = new duice.ArrayProxy([[${clientDefinitions}]]);

        function getTrades() {
            let url = new URL(`${_apiUrl}/v1/trade`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.assign(trades, data);
                    if(data.length > 0) {
                        getTrade(data[0].tradeId);
                    }
                });
        }

        function getTrade(tradeId) {
            let url = new URL(`${_apiUrl}/v1/trade/${tradeId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(trade, data);
                });
        }

        function createTrade() {
            duice.ObjectProxy.clear(trade);
            duice.ObjectProxy.assign(trade, {
                _new: true
            });
            duice.ObjectProxy.focus(trade, 'name');
        }

        function saveTrade() {
            _confirm(/*[[#{web.global.saveItemConfirm(#{fintics.Trade})}]]*/'').then(result => {
                if (result) {
                    let url;
                    let method;
                    if(trade._new) {
                        url = `${_apiUrl}/v1/trade`;
                        method = 'POST';
                    }else{
                        url = `${_apiUrl}/v1/trade/${trade.tradeId}`;
                        method = 'PUT';
                    }
                    _fetch(new URL(url, document.location.origin), {
                        method: method,
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(trade)
                    }).then(response => response.json())
                        .then(data => {
                            _alert(/*[[#{web.global.saveItemComplete(#{fintics.Trade})}]]*/'').then(() => {
                                duice.ObjectProxy.assign(trade, data);
                            });
                    });
                }
            });
        }

        document.addEventListener('DOMContentLoaded', () => {
             getTrades();
        });

    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="variable"/>
        <span data-th-text="#{fintics.Trade}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: trade list                      -->
    <!-- ====================================== -->
    <div class="padding-1px">
        <span data-duice-bind="trades"
              data-duice-loop="trade,status">
            |
            <span class="link font-weight-bold"
                  data-duice-bind="trade"
                  data-duice-property="name"
                  data-duice-execute="this.dataset.tradeId = trade.tradeId;"
                  onclick="getTrade(this.dataset.tradeId);"></span>
        </span>
        <button type="button" onclick="createTrade();"
                th:classappend="!${#authorization.expression('hasAuthority(''TRADE_EDIT'')')}?'locked'"                class="small">
            <img class="icon link" th:src="@{/static/image/icon-add.svg}" alt="add"/>
            <span data-th-text="#{web.global.add}"></span>
        </button>
    </div>
    <!-- ====================================== -->
    <!-- end: trade list                        -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: trade                           -->
    <!-- ====================================== -->
    <div class="grid-column-12 border-1 padding-1em">
        <h2>
            <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="asset"/>
            <span data-th-text="#{fintics.Trade} + ' ' + #{web.global.detail}"></span>
        </h2>
        <form class="grid grid-template-columns-12 grid-gap-1em padding-y-1em s-padding-y-0">
            <div class="grid-column-6 s-grid-column-12">
                <label>
                    <span data-th-text="#{fintics.Trade.name}" class="font-weight-bold"></span>
                    <input type="text" data-duice-bind="trade" data-duice-property="name" class="width-100 font-weight-bold"/>
                </label>
                <br/>
                <label>
                    <span data-th-text="#{fintics.Trade.enabled}" class="font-weight-bold"></span><br/>
                    <input type="checkbox" data-duice-bind="trade" data-duice-property="enabled"/>
                </label>
                <br/>
                <label>
                    <span data-th-text="#{fintics.Trade.interval}" class="font-weight-bold"></span>
                    <input type="number" data-duice-bind="trade" data-duice-property="interval" class="width-100"/>
                </label>
            </div>
            <div class="grid-column-6 s-grid-column-12">
                <label>
                    <span data-th-text="#{fintics.Trade.clientType}" class="font-weight-bold width-100"></span>
                    <select data-duice-bind="trade"
                            data-duice-property="clientType"
                            data-duice-option="clientDefinitions"
                            data-duice-option-value-property="type"
                            data-duice-option-text-property="name"
                            data-duice-execute="
                                    this.addEventListener('change',() => {
                                        trade.clientProperties = clientDefinitions.find(item => item.type === this.value)?.propertiesTemplate;
                                    });
                                    "
                            class="width-100">
                        <option data-th-text="'- '+#{web.global.select}+' -'"></option>
                    </select>
                </label>
                <label>
                    <span data-th-text="#{fintics.Trade.clientProperties}" class="font-weight-bold width-100"></span>
                    <textarea data-duice-bind="trade" data-duice-property="clientProperties" rows="3" class="border-1 width-100"></textarea>
                </label>
            </div>
            <label class="grid-column-6 s-grid-column-12">
                <span data-th-text="#{fintics.Trade.buyRule}"
                      class="font-weight-bold width-100"></span>
                <textarea data-duice-bind="trade" data-duice-property="buyRule" rows="5" class="border-1 width-100"></textarea>
            </label>
            <label class="grid-column-6 s-grid-column-12">
                <span data-th-text="#{fintics.Trade.sellRule}"
                      class="font-weight-bold width-100"></span>
                <textarea data-duice-bind="trade" data-duice-property="sellRule" rows="5" class="border-1 width-100"></textarea>
            </label>
            <div class="grid-column-12">
                <span data-th-text="#{fintics.TradeAsset}" class="font-weight-bold width-100"></span>
                <table class="width-100">
                    <colgroup>
                        <col style="width:5em;"/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col style="width:10em;"/>
                        <col style="width:10em;"/>
                        <col style="width:10em;"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                        <th data-th-text="#{fintics.Asset.symbol}"></th>
                        <th data-th-text="#{fintics.Asset.name}"></th>
                        <th data-th-text="#{fintics.Asset.type}"></th>
                        <th data-th-text="#{fintics.TradeAsset.enabled}" class="text-align-center"></th>
                        <th data-th-text="#{fintics.TradeAsset.tradeRatio}" class="text-align-center"></th>
                        <th data-th-text="#{fintics.TradeAsset.limitRatio}" class="text-align-center"></th>
                        <th class="text-align-right">
                            <button class="small">
                                <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                                <span data-th-text="#{web.global.add}"></span>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="trade.tradeAssets" data-duice-loop="tradeAsset,status">
                        <td class="text-align-center">
                            <span data-duice-bind="status" data-duice-property="count" class="text-align-center"></span>
                        </td>
                        <td>
                            <span data-duice-bind="tradeAsset" data-duice-property="symbol"></span>
                        </td>
                        <td>
                            <span data-duice-bind="tradeAsset" data-duice-property="name"></span>
                        </td>
                        <td>
                            <span data-duice-bind="tradeAsset" data-duice-property="type"></span>
                        </td>
                        <td class="text-align-center">
                            <label>
                                <input type="checkbox" data-duice-bind="tradeAsset" data-duice-property="enabled"/>
                            </label>
                        </td>
                        <td class="text-align-center">
                            <label>
                                <input type="number" data-duice-bind="tradeAsset" data-duice-property="tradeRatio" class="width-50"/>
                                %
                            </label>
                        </td>
                        <td class="text-align-center">
                           <label>
                               <input type="number" data-duice-bind="tradeAsset" data-duice-property="limitRatio" class="width-50"/>
                               %
                           </label>
                        </td>
                        <td class="text-align-right">
                            <button class="small">
                                <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="remove"/>
                                <span data-th-text="#{web.global.remove}"></span>
                            </button>
                        </td>
                    </tr>
                    <tr data-duice-bind="trade.tradeAssets" data-duice-execute="if(trade.tradeAssets.length === 0) this.hidden=false;" hidden>
                        <td colspan="100%" class="text-align-center">No Data</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid-column-12 justify-self-end">
                <button type="button"
                        data-duice-bind="trade"
                        data-duice-execute="this.disabled=(trade._new);"
                        onclick="deleteTrade();">
                    <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="save"/>
                    <span data-th-text="#{web.global.delete}"></span>
                </button>
                <button type="button"
                        data-duice-bind="trade"
                        onclick="saveTrade();">
                    <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                    <span data-th-text="#{web.global.save}"></span>
                </button>
            </div>
        </form>
        <hr/>
        <h2>
            <img class="icon" th:src="@{/static/image/icon-balance.svg}" alt="balance"/>
            <span data-th-text="#{fintics.Balance}"></span>
        </h2>
        <div class="grid grid-template-columns-12 grid-gap-1em padding-y-1em s-padding-y-0">
            <label class="grid-column-6 s-grid-column-12">
                <span data-th-text="#{fintics.Balance.total}" class="font-weight-bold"></span>
                <input type="text" data-duice-bind="balance" data-duice-property="total" class="width-100 font-weight-bold"/>
            </label>
            <label class="grid-column-6 s-grid-column-12">
                <span data-th-text="#{fintics.Balance.cash}" class="font-weight-bold"></span>
                <input type="text" data-duice-bind="balance" data-duice-property="cash" class="width-100"/>
            </label>
            <label class="grid-column-6 s-grid-column-12">
                <span data-th-text="#{fintics.Balance.costBasis}" class="font-weight-bold"></span>
                <input type="text" data-duice-bind="balance" data-duice-property="costBasis" class="width-100"/>
            </label>
            <label class="grid-column-6 s-grid-column-12">
                <span data-th-text="#{fintics.Balance.marketValue}" class="font-weight-bold width-100"></span>
                <input type="text" data-duice-bind="balance" data-duice-property="marketValue" class="width-100"/>
            </label>
            <div class="grid-column-12">
                <span data-th-text="#{fintics.BalanceAsset}" class="font-weight-bold width-100"></span>
                <table class="width-100">
                    <colgroup>
                        <col style="width:5em;"/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                        <col/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                        <th data-th-text="#{fintics.BalanceAsset.symbol}"></th>
                        <th data-th-text="#{fintics.BalanceAsset.name}"></th>
                        <th data-th-text="#{fintics.BalanceAsset.quantity}"></th>
                        <th data-th-text="#{fintics.BalanceAsset.costBasis}"></th>
                        <th data-th-text="#{fintics.BalanceAsset.marketValue}"></th>
                        <th>-</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="balance.balanceAssets" data-duice-loop="balanceAsset,status">
                        <td class="text-align-center">
                            <span data-duice-bind="status" data-duice-property="count" class="text-align-center"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="symbol"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="name"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="quantity"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="costBasis"></span>
                        </td>
                        <td>
                            <span data-duice-bind="balanceAsset" data-duice-property="marketValue"></span>
                        </td>
                        <td>
                            <button>
                                X
                            </button>
                        </td>
                    </tr>
                    <tr data-duice-bind="balance.balanceAssets" data-duice-execute="if(balance.balanceAssets.length === 0) this.hidden=false;" hidden>
                        <td colspan="100%" class="text-align-center">No Data</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: trade                             -->
    <!-- ====================================== -->

</th:block>
