<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const trades = new duice.ArrayProxy([]);

        function getTrades() {
            let url = new URL(`${_apiUrl}/v1/trades`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ArrayProxy.assign(trades, data);
                });
        }

        function getTrade(tradeId) {
            document.location.href = `${_rootUrl}/trade?tradeId=${tradeId}`;
        }

        function createTrade() {
            document.location.href = `${_rootUrl}/trade`;
        }

        document.addEventListener('DOMContentLoaded', () => {
            getTrades();
        });

    </script>
    <style th:inline="css">
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="variable"/>
        <span data-th-text="#{fintics.Trade}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: trade list                      -->
    <!-- ====================================== -->
    <div class="display--grid grid-template-columns--12 grid-gap--1em">
        <div class="grid-column--4 s__grid-column--12 border--1 padding--1em link text-align--center"
             data-duice-bind="trades"
             data-duice-loop="trade,status"
             data-duice-execute="
                    this.dataset.tradeId= trade.tradeId;
                    if(!trade.enabled) {
                        this.style.opacity=0.5;
                    }
                "
             onclick="getTrade(this.dataset.tradeId);">
            <span class="link font-weight--bold"
                  data-duice-bind="trade"
                  data-duice-property="tradeName"></span>
            &nbsp;
            <span class="badge" style="border-radius:50%;"
                  data-duice-bind="trade"
                  data-duice-execute="this.innerHTML=trade.tradeAssets.length;"></span>
        </div>
        <div class="grid-column--4 s__grid-column--12 border--1 padding--1em link text-align--center"
             onclick="createTrade();">
            <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="create"/>
            <span data-th-text="#{web.global.create}"></span>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: trade list                        -->
    <!-- ====================================== -->

</th:block>
