<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <script th:inline="javascript">
        const tradeId = /*[[${tradeId}]]*/'';
        const trade = new duice.ObjectProxy({
            tradeId: null,
            name: null,
            interval: null,
            clientType: null,
            clientProperties: null,
            accessPolicy: null,
            accessRoles: [],
            editPolicy: null,
            editRoles: [],
            tradeAssets: []
        });
        const balance = new duice.ObjectProxy({
            total: null,
            cash: null,
            balanceAssets: []
        });
        duice.ObjectProxy.setReadonlyAll(balance, true);
        const clientDefinitions = new duice.ArrayProxy([[${clientDefinitions}]]);
        const alarms = new duice.ArrayProxy([[${alarms}]]);

        function getTrade() {
            let url = new URL(`${_apiUrl}/v1/trade/${tradeId}`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(trade, data);
                    if(trade.clientType && trade.clientProperties) {
                        getTradeBalance(data.tradeId);
                    }
                });
        }

        async function addTradeAsset() {
            let disabledSymbols = [];
            trade.tradeAssets.forEach(tradeAsset => {
                disabledSymbols.push(tradeAsset.symbol);
            });
            let selectedAssets = await assetSelect.open(disabledSymbols);
            selectedAssets.forEach(asset => {
                trade.tradeAssets.push({
                    symbol: asset.symbol,
                    name: asset.name,
                    type: asset.type,
                    enabled: true,
                    holdRatio: 0
                });
            });
        }

        function removeTradeAsset(index) {
            trade.tradeAssets.splice(index, 1);
        }

        async function saveTrade() {
            if(!trade.name) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Trade.name})}]]*/'');
                duice.ObjectProxy.focus(trade, 'name');
                return false;
            }
            if(!trade.interval) {
                await _alert(/*[[#{web.global.itemEmpty(#{fintics.Trade.interval})}]]*/'');
                duice.ObjectProxy.focus(trade, 'interval');
                return false;
            }

            _confirm(/*[[#{web.global.saveItemConfirm(#{fintics.Trade})}]]*/'').then(result => {
                if (result) {
                    let url;
                    let method;
                    if(!tradeId) {
                        url = `${_apiUrl}/v1/trade`;
                        method = 'POST';
                    }else{
                        url = `${_apiUrl}/v1/trade/${trade.tradeId}`;
                        method = 'PUT';
                    }
                    _fetch(new URL(url, document.location.origin), {
                        method: method,
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(trade)
                    }).then(response => response.json())
                        .then(data => {
                            _alert(/*[[#{web.global.saveItemComplete(#{fintics.Trade})}]]*/'').then(() => {
                                duice.ObjectProxy.clear(trade);
                                duice.ObjectProxy.assign(trade, data);
                            });
                    });
                }
            });
        }

        function deleteTrade() {
            _confirm(/*[[#{web.global.deleteItemConfirm(#{fintics.Trade})}]]*/'').then(result => {
                if (result) {
                    let url = new URL(`${_apiUrl}/v1/trade/${tradeId}`, document.location.origin);
                    _fetch(url,{
                        method: 'DELETE'
                    }).then(response => {
                        if (response.ok) {
                            _alert(/*[[#{web.global.deleteItemComplete(#{fintics.Trade})}]]*/'').then(() => {
                                history.back();
                            });
                        }
                    })
                }
            });
        }

        function getTradeBalance() {
            let url = new URL(`${_apiUrl}/v1/trade/${tradeId}/balance`, document.location.origin);
            _fetch(url)
                .then(response => response.json())
                .then(data => {
                    duice.ObjectProxy.assign(balance, data);
                });
        }

        function refreshTradeBalance() {
            if(!trade._new && trade.tradeId) {
                let url = new URL(`${_apiUrl}/v1/trade/${trade.tradeId}/balance`, document.location.origin);
                _fetch(url, {}, true)
                    .then(async response => {
                        if(response.ok) {
                            let data = await response.json();
                            duice.ObjectProxy.clear(balance);
                            duice.ObjectProxy.assign(balance, data);
                        }
                    });
            }
        }

        // trade log listener
        let tradeLog;
        let tradeLogEventSource;

        function startListenTradeLog() {
            tradeLog = document.getElementById("tradeLog");
            tradeLogEventSource = new EventSource(`${_apiUrl}/v1/trade/${tradeId}/log`);
            tradeLogEventSource.onopen = () => {
                let message = 'SSE Connected.';
                console.log(message);
            }
            tradeLogEventSource.onmessage = (event) => {
                let message = event.data;
                console.log(message);
                tradeLog.value += message + '\n';
                tradeLog.scrollTop = tradeLog.scrollHeight;
            };
            tradeLogEventSource.onerror = (event) => {
                if (event.eventPhase === EventSource.CLOSED) {
                    let message = 'SSE connection closed. Reconnecting...';
                    console.log(message);
                    tradeLogEventSource.close();
                    setTimeout(startListenTradeLog, 1000);
                }
            };
        }

        function stopListenTradeLog() {
            if(tradeLogEventSource) {
                tradeLogEventSource.close();
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            let tabFolder = duice.tabFolder(
                duice.tabItem(
                    document.getElementById('tradeTabButton'),
                    document.getElementById('tradeTabContent'),
                    () => {}),
                duice.tabItem(
                    document.getElementById('tradeLogTabButton'),
                    document.getElementById('tradeLogTabContent'),
                    () => {}),
                duice.tabItem(
                    document.getElementById('tradeBalanceTabButton'),
                    document.getElementById('tradeBalanceTabContent'),
                    () => {})
            );
            tabFolder.setActive(0);

            if(tradeId) {
                getTrade();
                setInterval(function() {
                    refreshTradeBalance();
                }, 1000*5);
                startListenTradeLog();
            }
        });

        window.addEventListener('beforeunload', () => {
            stopListenTradeLog();
        });

    </script>
    <style th:inline="css">
        #tradeLog {
            padding-top: 0.5em;
            min-height: 15rem;
            line-height: 1.2em;
            background-color: black;
            color: white;
            font-family: monospace;
        }
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="variable"/>
        <span data-th-text="#{fintics.Trade}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: tab index                       -->
    <!-- ====================================== -->
    <div id="tabIndex">
        <button id="tradeTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="trade"/>
            <span data-th-text="#{fintics.Trade}"></span>
        </button>
        <button id="tradeLogTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-log.svg}" alt="tradeLog"/>
            <span>Trade Log</span>
        </button>
        <button id="tradeBalanceTabButton" type="button" class="tab">
            <img class="icon" th:src="@{/static/image/icon-balance.svg}" alt="balance"/>
            <span data-th-text="#{fintics.Balance}"></span>
        </button>
        <hr class="margin-1px"/>
    </div>
    <!-- ====================================== -->
    <!-- end: tab index                         -->
    <!-- ====================================== -->

    <div>
        <!-- ====================================== -->
        <!-- start: trade                           -->
        <!-- ====================================== -->
        <div id="tradeTabContent" class="border-1 padding-1em">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="asset"/>
                <span data-th-text="#{fintics.Trade} + ' ' + #{web.global.detail}"></span>
            </h2>
            <form class="grid grid-template-columns-2 grid-gap-1em grid-column-gap-2em padding-y-1em s-padding-y-0">
                <div class="grid-column-1 s-grid-column-2 grid grid-template-columns-12 grid-gap-1em">
                    <label class="grid-column-12">
                        <span data-th-text="#{fintics.Trade.name}" class="font-weight-bold tag-required"></span>
                        <input type="text" data-duice-bind="trade" data-duice-property="name"
                               class="width-100 font-weight-bold"/>
                    </label>
                    <label class="grid-column-6">
                        <span data-th-text="#{fintics.Trade.enabled}" class="font-weight-bold tag-required"></span>
                        <br/>
                        <input type="checkbox" data-duice-bind="trade" data-duice-property="enabled"/>
                    </label>
                    <label class="grid-column-6">
                        <span data-th-text="#{fintics.Trade.interval}" class="font-weight-bold tag-required"></span>
                        <input type="number" data-duice-bind="trade" data-duice-property="interval" class="width-100"/>
                    </label>
                    <label class="grid-column-6">
                        <span data-th-text="#{fintics.Trade.startAt}" class="font-weight-bold"></span>
                        <input type="time" data-duice-bind="trade" data-duice-property="startAt" class="width-100"/>
                    </label>
                    <label class="grid-column-6">
                        <span data-th-text="#{fintics.Trade.endAt}" class="font-weight-bold"></span>
                        <input type="time" data-duice-bind="trade" data-duice-property="endAt" class="width-100"/>
                    </label>
                    <label class="grid-column-12">
                        <span data-th-text="#{fintics.Trade.clientType}" class="font-weight-bold width-100"></span>
                        <select data-duice-bind="trade"
                                data-duice-property="clientType"
                                data-duice-option="clientDefinitions"
                                data-duice-option-value-property="type"
                                data-duice-option-text-property="name"
                                data-duice-execute="
                                this.addEventListener('change',() => {
                                    trade.clientProperties = clientDefinitions.find(item => item.type === this.value)?.propertiesTemplate;
                                });
                                "
                                class="width-100">
                            <option data-th-text="'- '+#{web.global.select}+' -'"></option>
                        </select>
                    </label>
                    <label class="grid-column-12">
                        <span data-th-text="#{fintics.Trade.clientProperties}"
                              class="font-weight-bold width-100"></span>
                        <textarea data-duice-bind="trade" data-duice-property="clientProperties" rows="5"
                                  class="border-1 width-100" style="font-family:monospace;"></textarea>
                    </label>
                    <label class="grid-column-12">
                        <span data-th-text="#{fintics.Trade.alarmId}" class="font-weight-bold width-100"></span>
                        <select data-duice-bind="trade"
                                data-duice-property="alarmId"
                                data-duice-option="alarms"
                                data-duice-option-value-property="alarmId"
                                data-duice-option-text-property="alarmName"
                                class="width-100">
                            <option data-th-text="'- '+#{web.global.select}+' -'"></option>
                        </select>
                    </label>
                    <div class="grid-column-12">
                        <label>
                            <input type="checkbox" data-duice-bind="trade" data-duice-property="alarmOnError"/>
                            <span data-th-text="#{fintics.Trade.alarmOnError}" class="font-weight-bold"></span>
                        </label>
                        &nbsp;
                        <label>
                            <input type="checkbox" data-duice-bind="trade" data-duice-property="alarmOnOrder"/>
                            <span data-th-text="#{fintics.Trade.alarmOnOrder}" class="font-weight-bold"></span>
                        </label>
                    </div>
                    <label class="grid-column-6">
                        <span data-th-text="#{fintics.Trade.publicEnabled}" class="font-weight-bold"></span>
                        <br/>
                        <input type="checkbox" data-duice-bind="trade" data-duice-property="publicEnabled"/>
                    </label>
                </div>
                <div class="grid-column-1 s-grid-column-2 grid grid-template-columns-12 grid-gap-1em">
                    <label class="grid-column-12">
                        <span data-th-text="#{fintics.Trade.holdCondition}" class="font-weight-bold width-100"></span>
                        <small class="font-weight-bold">(Groovy Script)</small>
                        <textarea data-duice-bind="trade" data-duice-property="holdCondition" rows="20" class="border-1 width-100"
                                  style="font-family: monospace;"></textarea>
                    </label>
                    <div class="grid-column-12">
                        <span data-th-text="#{fintics.TradeAsset}" class="font-weight-bold width-100"></span>
                        <div class="overflow-y-scroll border-1" style="max-height:400px;">
                            <table class="width-100 border-0">
                                <colgroup>
                                    <col style="width:4em;"/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col style="width:3em;"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                                    <th data-th-text="#{fintics.Asset.symbol}"></th>
                                    <th data-th-text="#{fintics.Asset.name}"></th>
                                    <th data-th-text="#{fintics.Asset.type}"></th>
                                    <th data-th-text="#{fintics.TradeAsset.enabled}" class="text-align-center"></th>
                                    <th data-th-text="#{fintics.TradeAsset.holdRatio}" class="text-align-center"></th>
                                    <th class="text-align-right">
                                        <button type="button" class="small" onclick="addTradeAsset();">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-duice-bind="trade.tradeAssets" data-duice-loop="tradeAsset,status">
                                    <td class="text-align-center">
                                    <span data-duice-bind="status" data-duice-property="count"
                                          class="text-align-center"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="tradeAsset" data-duice-property="symbol"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="tradeAsset" data-duice-property="name"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="tradeAsset" data-duice-property="type"></span>
                                    </td>
                                    <td class="text-align-center">
                                        <label>
                                            <input type="checkbox" data-duice-bind="tradeAsset"
                                                   data-duice-property="enabled"/>
                                        </label>
                                    </td>
                                    <td class="text-align-center">
                                        <label>
                                            <input type="number" data-duice-bind="tradeAsset"
                                                   data-duice-property="holdRatio" class="width-50"/>
                                            %
                                        </label>
                                    </td>
                                    <td class="text-align-right">
                                        <button type="button" class="small"
                                                data-duice-bind="tradeAsset"
                                                data-duice-execute="this.dataset.index=status.index;"
                                                onclick="removeTradeAsset(this.dataset.index);">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="remove"/>
                                        </button>
                                    </td>
                                </tr>
                                <tr data-duice-bind="trade.tradeAssets"
                                    data-duice-execute="if(trade.tradeAssets.length === 0) this.hidden=false;" hidden>
                                    <td colspan="100%" class="text-align-center">No Data</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="grid-column-2 justify-self-end">
                    <button type="button"
                            data-duice-bind="trade"
                            data-duice-execute="this.disabled=(trade._new);"
                            th:classappend="!${#authorization.expression('hasAuthority(''TRADE_EDIT'')')}?'locked'"
                            onclick="deleteTrade();">
                        <img class="icon" th:src="@{/static/image/icon-delete.svg}" alt="save"/>
                        <span data-th-text="#{web.global.delete}"></span>
                    </button>
                    <button type="button"
                            data-duice-bind="trade"
                            th:classappend="!${#authorization.expression('hasAuthority(''TRADE_EDIT'')')}?'locked'"
                            onclick="saveTrade();">
                        <img class="icon" th:src="@{/static/image/icon-save.svg}" alt="save"/>
                        <span data-th-text="#{web.global.save}"></span>
                    </button>
                </div>
            </form>
        </div>
        <!-- ====================================== -->
        <!-- end: trade                             -->
        <!-- ====================================== -->

        <!-- ================================== -->
        <!-- start: tradeLog                    -->
        <!-- ================================== -->
        <div id="tradeLogTabContent" class="border-1 padding-1em" style="min-height:400px;">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-log.svg}" alt="log"/>
                <span>Trade Log</span>
            </h2>
            <textarea id="tradeLog" rows="40" class="width-100"></textarea>
        </div>
        <!-- ================================== -->
        <!-- end: tradeLog                      -->
        <!-- ================================== -->

        <!-- ================================== -->
        <!-- start: balance                     -->
        <!-- ================================== -->
        <div id="tradeBalanceTabContent" class="border-1 padding-1em" style="min-height:400px;">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-balance.svg}" alt="balance"/>
                <span data-th-text="#{fintics.Balance}"></span>
                <small>
                    (<span data-duice-bind="balance" data-duice-property="accountNo"></span>)
                </small>
            </h2>
            <div class="grid grid-template-columns-12 grid-gap-1em padding-y-1em s-padding-y-0">
                <label class="grid-column-6 s-grid-column-12">
                    <span data-th-text="#{fintics.Balance.totalAmount}" class="font-weight-bold"></span>
                    <input type="text" data-duice-bind="balance" data-duice-property="totalAmount" data-duice-format="number" class="width-100"/>
                </label>
                <label class="grid-column-6 s-grid-column-12">
                    <span data-th-text="#{fintics.Balance.cashAmount}" class="font-weight-bold"></span>
                    <input type="text" data-duice-bind="balance" data-duice-property="cashAmount" data-duice-format="number" class="width-100"/>
                </label>
                <label class="grid-column-6 s-grid-column-12">
                    <span data-th-text="#{fintics.Balance.purchaseAmount}" class="font-weight-bold"></span>
                    <input type="text" data-duice-bind="balance" data-duice-property="purchaseAmount" data-duice-format="number" class="width-100"/>
                </label>
                <label class="grid-column-6 s-grid-column-12">
                    <span data-th-text="#{fintics.Balance.valuationAmount}" class="font-weight-bold width-100"></span>
                    <input type="text" data-duice-bind="balance" data-duice-property="valuationAmount" data-duice-format="number" class="width-100"/>
                </label>
                <label class="grid-column-6 s-grid-column-12">
                    <span data-th-text="#{fintics.Balance.gainLossAmount}" class="font-weight-bold"></span>
                    <input type="text"
                           data-duice-bind="balance"
                           data-duice-property="gainLossAmount"
                           data-duice-format="number"
                           data-duice-execute="
                                if(balance.gainLossAmount > 0) {
                                    this.style.color='red';
                                }else{
                                    this.style.color='blue';
                                }
                                "
                           class="width-100"/>
                </label>
                <label class="grid-column-6 s-grid-column-12">
                    <span data-th-text="#{fintics.Balance.realizedGainLossAmount}" class="font-weight-bold width-100"></span>
                    <input type="text"
                           data-duice-bind="balance"
                           data-duice-property="realizedGainLossAmount"
                           data-duice-format="number"
                           data-duice-execute="
                                if(balance.realizedGainLossAmount > 0) {
                                    this.style.color='red';
                                }else{
                                    this.style.color='blue';
                                }
                                "
                           class="width-100"/>
                </label>
                <div class="grid-column-12">
                    <span data-th-text="#{fintics.BalanceAsset}" class="font-weight-bold width-100"></span>
                    <div class="overflow-x-scroll">
                        <table class="width-100">
                            <colgroup>
                                <col style="width:5em;"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th data-th-text="#{web.global.no}" class="text-align-center"></th>
                                <th data-th-text="#{fintics.BalanceAsset.symbol}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.name}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.quantity}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.purchaseAmount}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.valuationAmount}"></th>
                                <th data-th-text="#{fintics.BalanceAsset.gainLossAmount}"></thd>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-duice-bind="balance.balanceAssets" data-duice-loop="balanceAsset,status">
                                <td class="text-align-center">
                                    <span data-duice-bind="status" data-duice-property="count" class="text-align-center"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="symbol"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="name"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="quantity"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="purchaseAmount" data-duice-format="number"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset" data-duice-property="valuationAmount" data-duice-format="number"></span>
                                </td>
                                <td>
                                    <span data-duice-bind="balanceAsset"
                                          data-duice-property="gainLossAmount"
                                          data-duice-format="number"
                                          data-duice-execute="
                                            if(balanceAsset.gainLossAmount > 0) {
                                                this.style.color='red';
                                            }else{
                                                this.style.color='blue';
                                            }
                                            ">
                                    </span>
                                </td>
                            </tr>
                            <tr data-duice-bind="balance.balanceAssets" data-duice-execute="if(balance.balanceAssets.length === 0) this.hidden=false;" hidden>
                                <td colspan="100%" class="text-align-center">No Data</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====================================== -->
        <!-- end: balance                           -->
        <!-- ====================================== -->
    </div>

    <!-- ====================================== -->
    <!-- start: asset-select                    -->
    <!-- ====================================== -->
    <dialog id="assetSelect">
        <style th:inline="css">
            #assetSelect {
                width: 700px;
                padding: 1.5rem;
            }
        </style>
        <script th:inline="javascript">
            const assetSelect = {
                dialog: new duice.dialog.Dialog(document.getElementById('assetSelect')),
                alreadySelectedSymbols : null,
                assetSearch: new duice.ObjectProxy({
                    key: 'name',
                    value: null,
                    _page: 0,
                    _size: 5,
                    _count: 0
                }),
                assets: new duice.ArrayProxy([]),
                selectedAssets: new duice.ArrayProxy([]),

                open: async function(alreadySelectedSymbols) {
                    if(alreadySelectedSymbols) {
                        this.alreadySelectedSymbols = alreadySelectedSymbols;
                    }else{
                        this.alreadySelectedSymbols = [];
                    }
                    duice.ArrayProxy.clear(this.selectedAssets);
                    this.getAssets(0);
                    return this.dialog.open();
                },

                getAssets: function(page) {
                    if(page) {
                        this.assetSearch._page = page;
                    }
                    let url = new URL(`${_apiUrl}/v1/asset`, document.location.origin);
                    if(this.assetSearch.key && this.assetSearch.value) {
                        url.searchParams.append(this.assetSearch.key, this.assetSearch.value);
                    }
                    url.searchParams.append('_page', this.assetSearch._page);
                    url.searchParams.append('_size', this.assetSearch._size);
                    _fetch(url)
                        .then(response => {
                            this.assetSearch._count = _parseTotalCount(response);
                            return response.json();
                        })
                        .then(data => {
                            duice.ArrayProxy.clear(this.assets);
                            duice.ArrayProxy.assign(this.assets, data);
                            // check already selected
                            this.assets.forEach(asset => {
                                if(this.alreadySelectedSymbols.includes(asset.symbol)){
                                    asset['_selected'] = true;
                                }
                                this.selectedAssets.forEach(element => {
                                    if(element.symbol === asset.symbol) {
                                        asset['_selected'] = true;
                                    }
                                });
                            });
                        });
                },

                resetAssets: function() {
                    duice.ObjectProxy.reset(this.assetSearch);
                    this.getAssets();
                },

                selectAsset: function(index) {
                    let asset = JSON.parse(JSON.stringify(this.assets[index]));
                    this.selectedAssets.push(asset);
                    this.assets.forEach(element => {
                        if(element.symbol === asset.symbol) {
                            element['_selected'] = true;
                            return false;
                        }
                    });
                },

                deselectAsset: async function(index) {
                    let asset = this.selectedAssets[index];
                    this.selectedAssets.splice(index, 1);
                    this.assets.forEach(element => {
                        if(element.symbol === asset.symbol) {
                            element['_selected'] = false;
                            return false;
                        }
                    });
                },

                confirm: function() {
                    this.dialog.resolve(this.selectedAssets);
                }
            }
        </script>
        <div class="grid grid-gap-1em">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
                <span data-th-text="#{fintics.Asset} + ' ' + #{web.global.select}"></span>
            </h2>
            <form onsubmit="return false;" class="grid grid-template-columns-12 grid-gap-1em">
                <label class="grid-column-2 s-grid-column-4">
                    <select class="width-100" data-duice-bind="assetSelect.assetSearch" data-duice-property="key">
                        <option value="name" th:text="#{fintics.Asset.name}"></option>
                        <option value="symbol" th:text="#{fintics.Asset.symbol}"></option>
                    </select>
                </label>
                <label class="grid-column-4 s-grid-column-8">
                    <input class="width-100" type="text" data-duice-bind="assetSelect.assetSearch" data-duice-property="value"/>
                </label>
                <div class="grid-column-6 s-grid-column-12 justify-self-end">
                    <button onclick="assetSelect.getAssets();">
                        <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                        <span data-th-text="#{web.global.search}">Search</span>
                    </button>
                    <button onclick="assetSelect.resetAssets();">
                        <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                        <span data-th-text="#{web.global.reset}">Reset</span>
                    </button>
                </div>
            </form>
            <div class="overflow-x-scroll">
                <table class="width-100">
                    <colgroup>
                        <col style="width:3em;"/>
                        <col/>
                        <col/>
                        <col/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="text-align-center">-</th>
                        <th data-th-text="#{fintics.Asset.symbol}"></th>
                        <th data-th-text="#{fintics.Asset.name}"></th>
                        <th data-th-text="#{fintics.Asset.type}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="assetSelect.assets" data-duice-loop="asset,status">
                        <td class="text-align-center">
                            <button type="button" class="small"
                                    data-duice-bind="asset"
                                    data-duice-execute="
                        this.dataset.index = status.index;
                        if(asset._selected) {
                            this.disabled = true;
                        }"
                                    onclick="assetSelect.selectAsset(this.dataset.index);">
                                <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="add"/>
                            </button>
                        </td>
                        <td>
                            <span data-duice-bind="asset"
                                  data-duice-property="symbol"
                                  class="font-weight-bold"></span>
                        </td>
                        <td>
                            <span data-duice-bind="asset" data-duice-property="name"></span>
                        </td>
                        <td>
                            <span data-duice-bind="asset" data-duice-property="type"></span>
                        </td>
                    </tr>
                    <tr data-duice-bind="assetSelect.assets"
                        data-duice-execute="if(assetSelect.assets.length === 0) this.hidden=false;" hidden>
                        <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid grid-template-columns-3">
                <div class="grid-column-1 flex font-size-smaller">
                    <span data-th-text="#{web.global.total}"></span>
                    &nbsp;
                    <span data-duice-bind="assetSelect.assetSearch" data-duice-property="_count" data-duice-format="number(0)"></span>
                    &nbsp;
                    <span data-th-text="#{web.global.rows}"></span>
                </div>
                <div class="grid-column-1 flex justify-content-center">
                    <duice-pagination
                            data-duice-bind="assetSelect.assetSearch"
                            data-duice-size-property="_size"
                            data-duice-page-property="_page"
                            data-duice-count-property="_count"
                            data-duice-onclick="assetSelect.getAssets(this.dataset.page);">
                    </duice-pagination>
                </div>
                <div class="grid-column-1"></div>
            </div>
            <div class="overflow-x-scroll">
                <table class="width-100">
                    <colgroup>
                        <col style="width:3em;"/>
                        <col/>
                        <col/>
                        <col/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="text-align-center">-</th>
                        <th data-th-text="#{fintics.Asset.symbol}"></th>
                        <th data-th-text="#{fintics.Asset.name}"></th>
                        <th data-th-text="#{fintics.Asset.type}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="assetSelect.selectedAssets" data-duice-loop="asset,status">
                        <td class="text-align-center">
                            <button data-duice-bind="asset" class="small"
                                    data-duice-execute="this.dataset.index = status.index;"
                                    onclick="assetSelect.deselectAsset(this.dataset.index);">
                                <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="remove"/>
                            </button>
                        </td>
                        <td>
                        <span data-duice-bind="asset"
                              data-duice-property="symbol"
                              class="font-weight-bold"></span>
                        </td>
                        <td>
                            <span data-duice-bind="asset" data-duice-property="name"></span>
                        </td>
                        <td>
                            <span data-duice-bind="asset" data-duice-property="type"></span>
                        </td>
                    </tr>
                    <tr data-duice-bind="assetSelect.selectedAssets"
                        data-duice-execute="if(assetSelect.selectedAssets.length === 0) this.hidden=false;" hidden>
                        <td colspan="100%" class="text-align-center font-size-smaller">No Data</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex justify-content-flex-end">
                <button onclick="assetSelect.confirm();">
                    <img class="icon" th:src="@{/static/image/icon-confirm.svg}" alt="confirm"/>
                    <span data-th-text="#{web.global.confirm}"></span>
                </button>
            </div>
        </div>
    </dialog>

</th:block>
